[2021-09-20 14:07] GustavoEmanuel901 opened #350 "This Package is compatible with Angular?"
I would like to know if this package is compatible with Angular.

[2021-09-20 14:19] nartc commented on #350
It should be. However, the packages are built to `commonjs` so you might see some warnings about tree-shaking in the console with Angular. Nx only supports building Node libraries to `commonjs` for now (this can be customized with custom webpack but I haven't had time to look into it).

[2021-09-20 14:28] nartc commented on #348
the `map` method currently does not have information about the `Source`, I'm talking about the `Source` key here instead of the `sourceObj`. However, it does have the `Mapping`. But `Mapping` does not store the information about the `Source` and `Destination` key. To support this, the `Mapping` needs to be adjusted to accept those information which isn't hard. PRs are welcomed for sure :)

[2021-09-20 14:33] GustavoEmanuel901 commented on #350
@nartc  I understand, in my case the following errors occurred, it seems that angular is not understanding the types
![remmina_cek-dev_192 168 100 11:33040_2021920-14291](https://user-images.githubusercontent.com/62678551/134020520-b129fa10-2c2d-428a-9854-f9144df3aae6.png)
.

[2021-09-20 14:36] nartc commented on #350
Oh no, what Angular version are you on? Unfortunately, this library is only compatible with TypeScript 4.0+ (https://devblogs.microsoft.com/typescript/announcing-typescript-4-0/#labeled-tuple-elements)

[2021-09-20 14:36] Edwinws opened #351 "[Question] How to map indexable types?"
How do we go around automapping [Indexable types](https://www.typescriptlang.org/docs/handbook/2/objects.html#index-signatures)?

[code]

[code]

I tried putting it into a class and using `@AutoMap({ typeFn: () => ParamClass })` but it doesn't work.

If it cannot work, what are the alternatives I can do if the keys are unknown? I can currently work around the problem by not automapping the field a

[2021-09-20 14:42] GustavoEmanuel901 commented on #350
@nartc I'm using a lower version even I'll try to switch, thanks.

[2021-09-20 19:14] micalevisk commented on #348
@nartc btw is there a good known reason to use `source.toString()` instead of just `source.name`?

https://github.com/nartc/mapper/blob/816049834b5938e82cceb5933a3092a9c09e307b/packages/classes/src/lib/classes.ts#L39

https://github.com/nartc/mapper/blob/816049834b5938e82cceb5933a3092a9c09e307b/packages/classes/src/lib/classes.ts#L109

because using `.toString` is pretty verbose, eg:

![image](htt

[2021-09-20 19:26] nartc commented on #348
@micalevisk that's exactly the reason why I use `toString()` instead of `.name`. We can probably trap the Source and Destination in a Proxy to intercept the `toString()`

[2021-09-20 19:32] nartc commented on #351
@Edwinws Thanks for opening the issue. I can tell you from top of my head that it is due to TypeScript limitation. However, would you mind providing a somewhat real use-case to see if I can think of a way to support it? Personally, I haven't had the need to map Dictionary/Dynamic Object yet.

[2021-09-21 01:36] Edwinws commented on #351
@nartc Thanks for the response! The field stores a key-value pair that is received from another system via API call, and forwarded by the current system to another system via API call (the current system does not actually utilize it).

Unfortunately, I do not know the full list of the keys, and they can change at any time.

[2021-09-21 01:40] nartc commented on #351
I see. I'll keep this one open and will think more about it. Since you have a workaround, I guess it's not too urgent. Thanks again for the issue. Feel free to chime in anything that you think it'd be helpful to get this supported.

[2021-09-21 01:47] nartc commented on #348
Please try out 6.2.0 and open new issues if you still run into them

[2021-09-21 01:47] #348 closed

[2021-09-21 01:49] nartc commented on #319
@daramasala it is indeed for reflecting the metadata. Creating the mapping lazily would probably be a potential solution but that'd change a lot of internal implementations. Not sure if I have enough time to work that out at the moment, any PRs would be most definitely welcomed here. I am willing to pair with whoever taking up this task :)

[2021-09-21 01:50] nartc commented on #346
@micalevisk I ended up enhance the `extraArguments` a bit more than just your PR. Check out `types/core.ts`

[2021-09-26 04:15] micalevisk commented on #333
With `Mapper#map` it should outputs `1,2,4,3`
while with `Mapper#mapAsync` it should outputs `1,2,3,4`
@llecorguille?

[2021-09-27 14:45] #350 closed

[2021-09-28 18:25] micalevisk opened #353 "Provide shim file"
### Is your feature request related to a problem? Please describe.

I want to share with my frontend (a TS app that runs in a browser) all my DTO classes developed to my backend, but since they are annotated with the decorator factory `@AutoMap()` from `@automapper/classes` I can't do this unless I bundle `@automapper/classes` with my frontend app, and I'm trying to avoid this since I don't need t

[2021-09-29 17:15] nartc commented on #353
That'd be nice. Would you like to make a PR? Hacktoberfest is around the corner :D

[2021-09-29 17:41] micalevisk commented on #353
oh I'll wait then haha

[2021-10-07 02:50] #353 closed

[2021-10-14 22:54] Isilin opened #358 "Mapping not found with mapAsync but not with mapArrayAsync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Hi !
I'm trying to use your library but stuck with some issues.
I am working on a nestjs backend, applying the automapper on observable returns.
It works well with AutoMapper#mapArrayAsync but AutoMapper#mapAsync returns me a beautiful
`ERROR [AutomapperModule] Mapping not found for source

[2021-10-15 15:01] nartc commented on #358
Hi @Isilin ,thank you for reporting. I'll take a look over the weekend

[2021-10-16 01:11] fgagneten opened #361 "How to map array of number to an array of object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I want to map a DTO which has an array of numbers to an array of custom objects.

So this is the DTO I receive from the client:

    export class RequestDto {
      description!: string
      selectedFacilities?: number[]
    }

I need to convert a RequestDto to Center

This is how a Center

[2021-10-18 01:19] nartc opened #365 "[classes] Widen Constructible type"
### Discussed in https://github.com/nartc/mapper/discussions/363

<div type='discussions-op-text'>

<sup>Originally posted by **alvarorece** October 17, 2021</sup>
I have two classes:
[code]
and:
[code]
Unless I remove the constructor in workday, i get the following error over "typeFn" in Timetable:
`Type '() => typeof Workday' is not assignable to type '() => Constructible<any>'.
  Type 'typeof W

[2021-10-23 00:44] nartc commented on #358
use @automapper/*.

[2021-10-27 20:13] micalevisk opened #367 "[classes] mapped-types doesn't work well with `extends` on mapping creation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I've tried to use the [extends](https://github.com/nartc/mapper/blob/c159560e839397327d74b93397f6dc6f64dcaf0f/docs-site/docs/mapping-configuration/auto.md?plain=1#L52-L98) feature along with `MapperOmitType` [mapped type from `@automapper/classes`](https://github.com/nartc/mapper/blob/c1595

[2021-10-27 23:26] micalevisk opened #368 "[types] wrong type definition when using `Date` as source primitive type in `Mapper#addTypeConverter`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

regarding typescript types

[code]

the type of `date` parameter above is `string` instead of `Date`

### Models/DTOs/VMs

_No response_

### Mapping configuration

_No response_

### Steps to reproduce

_No response_

### Expected behavior

the type definition of `date` parameter below mus

[2021-10-28 01:38] #367 closed, assigned to nobody

[2021-10-28 02:17] #368 closed, assigned to nobody

[2021-10-30 02:00] micalevisk commented on #368
it worked.

---

@nartc side-suggestion that I think you are aware: when you write a commit that is related to some issue, can you please link that commit with the issue, using some of these GH keywords https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword? Sometimes I find myself curious to know what

[2021-10-30 02:52] micalevisk opened #369 "[core] custom type converters do not work with typescript lookup types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

When using [custom type converters](https://automapperts.netlify.app/docs/mapping-configuration/custom-type-converter) along with [TS lookup types](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-1.html#keyof-and-lookup-types), the converter callback is never called.

[2021-10-30 08:05] nartc commented on #368
Nice!

Yeah I am aware. The Commitizen flow should have that question asked (related issue) but sometimes I just commit using: `git commit` directly and forget to put in the issue (mainly because I am lazy to look up the issue number 😅). I’ll remember to do it next time. Thanks for the suggestion.

If you’re still curious about the changes I made, CHANGELOG is a good place to explore (though I do

[2021-10-30 16:18] micalevisk commented on #369
I guess this is a limitation not a bug, as the `destinationType` will be `Object` class instead of `String` class if we use lookup types on destination class

https://github.com/nartc/mapper/blob/c6ac45752bfc8363243b5548c547d84fecaff27f/packages/core/src/lib/create-mapper/apply-type-converters.util.ts#L40-L41

If so, we should need to add this on https://automapperts.netlify.app/docs/mapping-confi

[2021-10-31 00:57] nartc commented on #369
@micalevisk Yep it is a limitation for sure. Though, you can workaround it with: `@Automap({typeFn: () => String})`

[2021-10-31 01:02] micalevisk commented on #369
ok I will.

Do you have any resources regarding this TS limitation?

[2021-10-31 01:02] #369 closed

[2021-10-31 01:19] nartc commented on #369
@micalevisk just Reflection cannot get the type. Though I only tried with an interface which is compiled away during runtime (I doubt class would work)

[2021-10-31 17:00] micalevisk opened #371 "[types] Improve type inference of `convertUsing`"
### Is your feature request related to a problem? Please describe.

Taking this code as an example:

https://github.com/nartc/mapper/blob/c6ac45752bfc8363243b5548c547d84fecaff27f/packages/integration-test/src/lib/with-classes/fixtures/profiles/user-profile.profile.ts#L115-L124

![image](https://user-images.githubusercontent.com/13461315/139593369-3b7eae55-87a2-4007-bc1d-f75de86cd9e7.png)

`source`

[2021-10-31 20:00] micalevisk commented on #371
actually this happens even when there's no selector

![image](https://user-images.githubusercontent.com/13461315/139599441-4992cea9-9225-496e-9ad4-61a86830a2d9.png)

`convert` parameter is always `any`

[2021-11-01 00:28] nartc commented on #371
This one is a little tricky :(

Workaround would be:

[code]

[2021-11-04 19:02] donnyroufs opened #373 "Cannot map a property that is of type string or null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I have a DTO with an imageUrl property which can be either a string or null but auto-mapper cannot seem to find a way to map it. So instead I duct-taped it by using the map-from utility but that also caused unwanted behavior... It would return me an object with the value of a character e.g.

[2021-11-04 20:15] nartc commented on #373
Hi @donnyroufs , thank you for opening an issue. Depending on your strict mode, using `union` type like `string | null` like that makes Reflection freak out. I'd suggest providing the correct `typeFn` for `@AutoMap` like:

[code]

now the metadata will know that it's a String for sure.

[2021-11-04 20:46] micalevisk commented on #373
this is stated here https://automapperts.netlify.app/docs/plugins-system/classes-limitations/#strict-mode btw

![image](https://user-images.githubusercontent.com/13461315/140417217-b43ba877-dc08-4006-ac0d-9aabfbe817ba.png)

[2021-11-04 21:38] donnyroufs commented on #373
Ah that idd fixed it! Can't believe I missed it in the docs haha, thanks for the quick reply!

[2021-11-04 21:38] #373 closed

[2021-11-04 21:47] nartc commented on #373
@micalevisk Thanks man!
@donnyroufs No worries! I don't even remember I wrote that in the docs LOL

[2021-11-08 16:45] peixotoleonardo opened #375 "[feature/nestjs] remove `singular` for ModuleOptions"
### Is your feature request related to a problem? Please describe.

I believe we can take a more object-oriented approach in module settings.

### Describe the solution you'd like

[code]
[code]

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-08 17:14] nartc commented on #375
Hi @peixotoleonardo , thank you for the suggestion. If I'm not mistaken, are you talking about removing `singular` option from the interface?

[2021-11-08 18:28] peixotoleonardo commented on #375
@nartc yes

[2021-11-08 20:36] nartc commented on #375
Ok, I'm good with that. However, this is a breaking change we're introducing. I'd keep the `singular` option around for now but with `@deprecated` JSDoc comment so people know it's deprecated. Would you like to create a PR?

[2021-11-09 02:05] peixotoleonardo commented on #375
@nartc I would love to contribute.

[2021-11-10 21:45] renatoargh commented on #219
Hey, @nartc 👋
Did you get to any conclusion after investigating this issue more?

[2021-11-10 22:22] nartc commented on #219
@renatoargh Unfortunately, I didn't have time to investigate much into this. My thought would be it's currently impossible, at least without some sort of compiler API (aka during compilation time). If someone could come up with a proposal, I'm all ears.

[2021-11-10 22:50] renatoargh commented on #219
Thanks again for your quick reply. Right now I have one single case where I am mapping a generic class manually but using automapper for the rest, so not a blocker. Thanks again for the work in this useful library

[2021-11-10 22:59] nartc commented on #219
@renatoargh it would help if you could share that manual case.

[2021-11-10 23:35] renatoargh commented on #219
It is actually no big deal. I have a generic `Envelope` wrapper like this:

[code]

And because automapper doesn't work for generic classes I have to manually parse Envelope to/from the database format, but then I use automapper to map the contents of `data`, so it is actually minimal manual work.

So I end up doing something like this when I need to persist it to the database:

[code]

Because `E

[2021-12-20 19:56] calvinwyoung opened #387 "[feature] Automapper plugin for MikroORM"
### Is your feature request related to a problem? Please describe.

[MikroORM[(https://mikro-orm.io/) is increasing in popularity. Automapper currently supports an official plugin for `sequelize`. I'd love to see an official plugin for MikroORM that'd allow us to automap nested references like this:

[code]

### Describe the solution you'd like

Official plugin to support MikroORM nested reference

[2021-12-20 19:59] nartc commented on #387
How is AutoMapper being used with MikroORM right now if you are using them together?

[2021-12-20 21:53] calvinwyoung commented on #387
To clarify, I'd love to see improved handling of automapping nested references with MikroORM models. It *appears* that the sequelize plugin handles this, but tbh I haven't spent enough time studying it to understand everything it does.

To illustrate, let's suppose we have the following MikroORM models:

[code]

And suppose we have these correpsonding DTOs which will be mapped by automapper:

[cod

[2021-12-20 22:16] nartc commented on #387
[code]

I'm sure if you let `AutoMapper` knows that `author` is actually an `Author` type when mapped, then it will work without `getEntity()` manually since you've already specified the populate field `['author']` in book query

[2021-12-24 08:36] PieterBoeren opened #389 "Transformer Plugin breaks over custom types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

When I define a custom type in a shared file (`types.ts` or something) and importing a type from that file in my DTO, compilation breaks when using the Transformer Plugin. I can compile the code with just `tsc`, but the webpack build fails with:
`Attempted import error: 'GeoJSONWithCRS' is

[2021-12-24 09:00] PieterBoeren commented on #389
Another observation: things like:

[code]

Do compile, but don't work during runtime:

![image](https://user-images.githubusercontent.com/43775697/147337310-d6f7685f-ce28-406a-b7bc-40286d4e2c89.png)

Workaround would be to declare `someGeometry` as (but that is far from ideal if you have quite some properties with a custom type):

`public someGeometry!: GeoJSON & { crs?: { type: string; properties

[2021-12-25 02:52] nartc commented on #389
I just checked this out and noticed that there are two issues:
- Transformer Plugin does not handle Type Alias correctly. This maybe a non-issue because I would suggest to use `@AutoMap()` explicitly on these properties anyway. It is tricky to determine type-alias with the AST unfortunately
- `ts-loader` setup. There's something weird with your `ts-loader` setup w/ all the `isolatedModule` and `tr

[2021-12-28 05:46] PieterBoeren commented on #389
Thanks for the workaround, that works.

However, I'm still confused. Is the decorator needed when I use the transformer plugin *and* a `forMember`?

The `ts-loader` config is the [default example](https://github.com/gsoft-inc/craco/tree/master/recipes/use-ts-loader) of using craco.

[2021-12-30 18:59] DennisMaass opened #391 "A way to map entries of an array filled with different DTOs"
### Is your feature request related to a problem? Please describe.

I want to convert the following answer of MongoDb/Mongoose:

[code]

My problem is, that I don't know how to convert the entries of the "widgets" array to different DTOs (ImageDTO, ConversationDTO) based on the "type" attribute/discriminator.

### Describe the solution you'd like

It would be nice if there is a way to use differen

[2021-12-31 02:22] aki-ks opened #392 "Mapping between Enum-Types"
### Is your feature request related to a problem? Please describe.

When I'm mapping between two kind of datastructures, I'm often facing the problem that they're both using equivalent enums but these encode the values as different constants.

[code]

[code]

How can I teach AutoMapper to map `ColorEntity` to `ColorDto`?

### Describe the solution you'd like

I'd love to see automapper handle enum

[2021-12-31 15:32] nartc commented on #392
Thank you for showing interest and requesting this feature.

However, Enums are complicated: string enums, number enums, mixed enums, and const enums... Hence, it is tricky to get some generic support for enum in this sense.

What I can suggest you to do is to create a `Resolver` and use a `switch` statement

[code]

then use it on a `mapFrom()`

[code]

[2021-12-31 15:51] nartc commented on #391
Thank you for opening this issue.

Based on your models, I assume you have: `Image` and `ImageDTO`, `Conversation` and `ConversationDTO`, and you've already created mappings between them:

[code]

What you'd want to do is:
- `ignore()` the `widgets`
- use `afterMap()` to manually map each widget.

[code]

[2022-01-01 01:23] nartc commented on #392
@aki-ks can we close this issue?

[2022-01-01 14:06] aki-ks commented on #392
If you want to leave it at your suggestion and don't plan to add extended support for enums to the library, then sure.
Your recommendation has already helped me a lot. :+1:

[2022-01-01 15:46] nartc commented on #392
Thank you. I'll convert this to a discussion then :)

[2022-01-01 15:53] nartc commented on #389
@PieterBoeren That is one confusing point for sure. The Transformer Plugin will add the property name to the `__AUTOMAP_METADATA__` with the metadata (in a similar manner to `@AutoMap()`)

[code]

There is no way for the Transformer Plugin to know if a field WILL BE manually configured with `forMember()`. I guess the rule of thumb is if you're using the Transformer Plugin and the metadata acts wei

[2022-01-01 15:53] #389 closed

[2022-01-06 07:02] Morb0 opened #394 "Unmapped properties error when inheriting class"
### Is your feature request related to a problem? Please describe.

I use MikroORM and have entity that inherits from the base entity.
[code]

And when i try map `CreateItemDto` to `ItemEntity` I got error about unmapped fields in base classes (like `id`).
Base entity not have any AutoMapping decorators.

### Describe the solution you'd like

It's not really bug, I saw you answer in another issue

[2022-01-06 14:57] nartc commented on #394
Hi @Morb0, thank you for reporting. This sounds like it is expected. Can I see your mapping configuration between `CreateItemDto` and `ItemEntity`?

[2022-01-06 16:10] Morb0 commented on #394
I made repo that reproduce it - https://github.com/Morb0/automapper-issue-394
It works as expected only errors are sent to the console. I also tried adding `ignore()` to the properties of the base class when mapping, however then they are not initialised and are always undefined.

[2022-01-06 18:35] Morb0 opened #395 "Decorator to disable AutoMap"
### Is your feature request related to a problem? Please describe.

In case when I using plugin that automatically mark all properties as `@AutoMap` I can have a scenario where I don't want `AutoMap` property to just ignore them or to fix problem like `Circular Dependencies`.

### Describe the solution you'd like

Add decorator that override `AutoMap` like `AutoMapDisable` and disable him.

### De

[2022-01-06 20:45] #394 closed

[2022-01-06 20:45] #395 closed

[2022-01-06 20:49] nartc commented on #395
https://automapperts.netlify.app/docs/plugins-system/classes-transformer-plugin#ignore-a-property

[2022-01-06 20:53] nartc commented on #394
@Morb0 Check out 7.2.0 I added an additional logic to check for the value before determining it is `unmapped` since you can have default values on a Destination model.

[2022-01-08 15:52] rajneeshmith opened #396 "Cannot read property 'hasOwnProperty' of undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Getting `Cannot read property 'hasOwnProperty' of undefined`  error when nested class has an instance method and nested-class property is missing from source

### Models/DTOs/VMs

[code]

Output
[code]

### Mapping configuration

[code]

### Steps to reproduce

Added sample code snippet to

[2022-01-08 15:58] rajneeshmith commented on #396
**Update:**

[code]

If `namingConventions` is not defined then it is working fine 😢

[2022-01-09 02:38] roblopz opened #397 ""Invalid Date" result for Date[] mappings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

It seems there's a bug on the classes plugin when mapping properties of type _Date[]_. Date[] properties are mapped to 'Invalid Date' instead of the expected array of date objects.

### Models/DTOs/VMs

export class Invite {
  @AutoMap({ typeFn: () => String })
  _id: string;

  @AutoMap({

[2022-01-09 02:45] micalevisk commented on #397
I guess this is due to this limitation: https://automapperts.netlify.app/docs/misc/limitations#date-time

[2022-01-09 02:56] roblopz commented on #397
The thing is, even when providing a custom mapFrom function on the configuration, I'm getting my source object with this 'Invalid Date' value instead of the Date[] value.. any workaround you can think of?

[2022-01-09 03:13] nartc commented on #397
@roblopz I'll take a look tomorrow. Thank you for reporting

[2022-01-09 03:13] nartc commented on #396
@rajneeshmith thank you for reporting. I'll take a look tomorrow

[2022-01-09 03:19] roblopz commented on #397
I've created a quite simple PR #398 that I think shouldn't break anything else.

Thanks @nartc, @micalevisk.

[2022-01-09 23:09] roblopz commented on #397
New and corrected PR #399

Thanks!

[2022-01-10 03:03] #396 closed

[2022-01-11 04:27] #397 closed

[2022-01-17 23:39] aki-ks opened #406 "Mapping classes containing fields of type Buffer fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Whenever a class contains some field of Node's `Buffer`-type, then AutoMapper fails to create a mapping for that class.

### Models/DTOs/VMs

[code]

### Mapping configuration

[code]

### Steps to reproduce

[code]

[code]

### Expected behavior

AutoMapper should create Mappings for class

[2022-01-19 08:42] zieglar opened #407 "please fix Circular Dependencies with pojos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

two interface, faceA many to one faceB, faceB has one faceA, when application start, log error
[code]

if I comment any one in `createMetadataMap` function, application start normal.

### Models/DTOs/VMs
[code]

### Mapping configuration

_No response_

### Steps to reproduce

_No response_

[2022-02-15 19:18] paulyea commented on #387
Hello, I've  similar use case as above except I've defined a one to one relationship:

[code]

the code snippet above errors out with the following stack trace:

[code]

the TLDR of the stack trace I think (not too familiar with the mikro orm code base) is automapper's classes plugin doesn't play nice with mikro orm; mikro orm have their own custom setter on their Models and said custom setter req

[2022-02-22 16:14] BeyondBelief96 opened #417 "NestJS Initialization Failing when running in cloud after adding AutoMapper Module."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I'm not exactly sure how to explain this issue, but I've added Automapper to my NestJS project using the NestJS docs section. All seems fine locally, and using serverless-offline I'm able to use postman to hit all my endpoints with no issues. When we deploy the NestJS app to a lambda, we st

[2022-02-22 16:18] nartc commented on #417
Oh no :( bugs in production is horrible. Can you show me where you use `InjectMapper`?

[2022-02-22 16:23] BeyondBelief96 commented on #417
I have not yet introduced InjectMapper in my current test branch. My approach was to have a fresh branch and slowly introduce Automapper to it and deploy the changes and test etc until is saw the issue. So all I have so far is my entity file with the automap decorators like so:

`import { AutoMap } from '@automapper/classes';
import { Column, Entity, PrimaryGeneratedColumn } from 'typeorm';
import

[2022-02-22 16:25] BeyondBelief96 commented on #417
I have a branch with ALL my actual changes where I fully implemented automapper but I thought my test branch would help narrow down the problem.

[2022-02-22 17:14] BeyondBelief96 commented on #417
Sure, I've actually been working on that myself while waiting for a response, and it seems that maybe the AutmapperModule isinn't the issue. I removed it from app.module.ts and seem to have the issue still....does the ordering of the AutoMap() decorators matter when use with other decorators?

[2022-02-22 17:16] nartc commented on #417
@BeyondBelief96 I'd like to think that it doesn't 😅. Removing all `AutoMap` still outputs the error? Can I have the minimal reproduce?

[2022-02-22 17:20] BeyondBelief96 commented on #417
I haven't removed ALL AutoMap stuff yet. The only stuff I related to automapper I have now is my entity file with the decorators on it. I'm going to try removing those too verify if that's the issue or not.

[2022-02-22 17:20] BeyondBelief96 commented on #417
The issue would be hard to reproduce for someone else unfortunately since it's only happening in our AWS Lambda environment.

[2022-02-22 21:19] #417 closed

[2022-02-23 00:46] calvinwyoung commented on #387
@nartc Do you have a sense for how we might be able to get this resolved? We'd love to get tighter interop between mikro-orm <-> automapper 🙃

[2022-02-23 14:22] nartc commented on #387
@calvinwyoung can someone provide me a running sample repo with MikroORM, ideally, with Nest I guess?

[2022-02-23 16:05] #391 closed

[2022-02-24 07:50] paulyea commented on #387
Didn't end up setting up a Nest project (mostly cause I was running against a time constraint), but I believe this repo should suffice: https://github.com/paulyea/auto-mapper-mikro-orm-sample

[2022-02-24 10:40] Ealenn commented on #319
Any update since Oct 2021 👀 ?

[2022-02-24 14:24] nartc commented on #319
@Ealenn unfortunately no progress :(. This issue is quite hard and I haven't had time to sit down and really think about it.

[2022-02-24 14:24] nartc commented on #387
@paulyea thank you. I'll give that a look as soon as I have some time.

[2022-02-24 21:53] nartc commented on #387
I think I have an idea to come up with some rudimentary support for MikroORM. Look out for the next minor version. Thank you @paulyea again for the repo, cc @calvinwyoung

[2022-02-25 00:08] calvinwyoung commented on #387
Awesome thanks for the help @nartc!

[2022-02-25 05:30] nartc commented on #387
Don’t try out the latest version just yet. It has bugs but I feel like I’m very close

[2022-02-25 16:55] calvinwyoung commented on #387
Amazing, thanks for the update! Happy to test out the next release

[2022-02-26 01:46] nartc commented on #387
@paulyea I've pushed to a branch with a new `mikro` plugin (https://github.com/nartc/auto-mapper-mikro-orm-sample/tree/nartc-mikro-plugin)

I've also been playing around with Mikro (and MongoDB) on this repo: https://github.com/nartc/nx-post-mikro

Keep in mind that this is still experimental as Mikro's Entity is quite complex. Also, as #319 stated, you CANNOT build your Entity with `constructor`.

[2022-02-27 08:47] bfahm opened #422 "@Automap decorator conflicts with TypeORM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I have an entity (Shipment) with inner relation (inner model), let's say Organization and OrganizationId.
I had the @AutoMap decorator for the Id field at first and everything was working great.
But when I added the  @AutoMap decorator to the inner model (Organization), TypeORM started comp

[2022-02-28 03:28] nartc opened #423 "[RFC/Discussions] AutoMapper v8"
As the title said, this issue acts as a discussion thread for V8. If there's no discussion going on, I'll still be using it to keep you guys updated.

## What is in V8?

### Related Issues
- #319
- #333, #358

### Proxy-based

It will be a completely rewrite using `Proxy` to enable lazy-initialization as much as possible.

[code]

### Breaking Changes

The API of `AutoMapper` will change drastical

[2022-02-28 23:16] ex-nerd opened #426 "Please document ts/node version requirements"
### Is your feature request related to a problem? Please describe.

Many companies are still stuck using Typescript 3.9, but `AutoMapper` does not compile properly when using this older version of typescript.  Errors include things like:

- `node_modules/@automapper/core/src/lib/types/core.d.ts:149:24 - error TS1005: ',' expected.`
- `node_modules/@automapper/core/src/lib/types/core.d.ts:150:7 - e

[2022-02-28 23:24] micalevisk commented on #426
I guess this requirement list could leave under https://automapperts.netlify.app/docs/getting-started/installation

[2022-03-04 13:04] a88zach opened #433 "Add new CreateMapFluentFunction to auto map common properties between models"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

We currently use the pojo plugin to set up our maps between TypeORM entities and DTOs that are auto generated by using Typebox.  Having to create a metadata map for each entity and each DTO is a cumbersome process, so we opted for setting up the maps manually by using the fluent

[2022-03-08 03:42] nartc commented on #423
## Plugins

### Overall

I'll be renaming `Plugins` into `Strategies`. Right now, a plugin isn't really a "plugin" per se. They are more like a "Mapping Strategy", you specify a strategy for a certain Mapper.

The API of Strategy is **SIGNIFICANTLY** less complicated than the old Plugin's API, with better extensibility as well

[code]

[2022-03-08 04:03] nartc commented on #423
## Map

`map()` API will change from: `map(sourceObject, Destination, Source)` to `map(sourceObject, Source, Destination)`. This is to address the confusion, especially for `pojos`.

[code]

### Extra Arguments

`extraArguments` has been renamed to `extraArgs` and it is a Function instead of just a `Record<string, unknown>`.

[code]

`extraArgs` function is invoked with the `Mapping` and the curre

[2022-03-09 13:54] AliYusuf95 commented on #423
Hi @nartc, I'm very excited about the new features in V8.

I have two more enhancements:
- Strict array types
- Support arrays in `addTypeConverter`
- `MappingConfig` profile level

### Strict array types:
I suggest that we should explicitly define if the property is an array or not instead of relying on the mapper to finger out it is an array. I think with this approche we'll avoid unexpected beh

[2022-03-09 14:44] nartc commented on #423
@AliYusuf95 Thank you for the suggestions (and the kind words).

<img width="574" alt="image" src="https://user-images.githubusercontent.com/25516557/157463642-8baaea35-314d-4d16-b02e-be72d30c6d9e.png">
Yeah, I think we're on the same page about String Array type. No lie, I have just decided to make the Array type explicit last night. I also added an overload to make `AutoMap()` easier to use. `ty

[2022-03-09 16:55] nartc commented on #423
@AliYusuf95 if you have some free time, can you please take a look at `address.profile.ts` on this branch https://github.com/nartc/mapper/tree/rewrite ? I somewhat know why the typing issue is happening but not sure how to fix it :(

[2022-03-10 10:43] AliYusuf95 commented on #423
@nartc
I think typescript somehow joins the second parameter type of the functions which leads to a wrong destination type.
The issue is caused by in `MapFromReturn` second parameter `destination?: TDestination`.
Using a different generic type for it will solve the issue.

[code]

[2022-03-10 16:47] nartc commented on #423
@AliYusuf95 I fixed it.The `destination` parameter isn't used anyway so I just removed that one. Do you think `mapDefer` is a use-case worth keeping? I've never used it personally.

[2022-03-10 16:53] micalevisk commented on #423
@nartc I've been using `mapDefer` in one profile of mine

![image](https://user-images.githubusercontent.com/13461315/157713682-28c9b329-e6c3-4cf3-b99b-e5f26bde5ac1.png)

you see that I didn't use the `source` parameter so I might be able to get ride of the `mapDefer`

I don't recall why I need to use it there, tbh.

[2022-03-10 16:57] nartc commented on #423
@micalevisk right. In this case, I think you can just use `mapWith` directly. I'm thinking of dropping `mapDefer` because `MapDeferReturn` complicates the type a lot :(

[2022-03-10 17:16] micalevisk commented on #423
I just realise that I have to use `mapDefer` due to this #306 btw

[2022-03-10 18:54] nartc commented on #423
@AliYusuf95 `MappingProfile` is pretty pure at the moment.

[code]
then `addProfile`

[code]
I mean, now that I write it out this way, `addProfile` is **unneccessary** because you can just:

[code]

What makes sense right now is to adjust `MappingProfile` type to also accept a list of `MappingConfiguration` then the consumers can spread those into their `createMap()`

[code]

What are your thought

[2022-03-10 22:01] AliYusuf95 commented on #423
@nartc with this approach as you said `addProfile` will be **unnecessary** unless it's bring some added value.
My first thought was to make the profile have some context to make it a bit easier to pass configs without explicitly writing them on each `createMap` call.

It could be something like this
[code]

It sounds like an inheritance where we can allow the context to be extended in nested profi

[2022-03-10 22:08] nartc commented on #423
I like that idea for MappingConfiguration + Profile

---
For `mapDefer`, I personally use `afterMap` for that. I'll put back `mapDefer` and see if the typings issue improve or not. Thanks all

[2022-03-12 04:03] nartc commented on #423
@AliYusuf95
![image](https://user-images.githubusercontent.com/25516557/158002958-f8bf13a6-1701-4414-8511-e55cdb5bffba.png)
![image](https://user-images.githubusercontent.com/25516557/158002959-7f6c3b27-b0f3-40fa-b707-73798fce4b25.png)
`typeConverter` with Array type is implemented

[2022-03-12 04:07] micalevisk commented on #423
@nartc will you (+ community) keep maintaining v7 or just v8 after releasing it?

[2022-03-12 04:31] nartc commented on #423
@micalevisk I'll still fix bugs for v7.

[2022-03-12 08:43] TestCK opened #434 "Allow Automap decorator for classes when using pojos plugin"
### Is your feature request related to a problem? Please describe.

In my project I use classes everywhere, so it was easier to use the automapper with AutoMap decorator to translate the entities.

Now i have a external package dependencies, where types are defined as interface and type, and automapper I had to convert to pojos plugin but then I had to setMetadata even for my classes for automap t

[2022-03-18 06:02] nartc commented on #423
In v8, `pojos` will work THE SAME as `classes`.

I’m pretty happy with the changes so far (of course, the breaking changes will be the headache). The flow is so much clearer. Things (metadata discovery, applying metadata, which operation is important for which part…) happen in a predictable and precise way.

Performance will also be improving because metadata is applied once when `createMap` happe

[2022-03-18 19:22] nartc commented on #423
I'm looking for a tool to write automatic migrations (as well as acting as a CLI tool for `@automapper`), anyone have any suggestion? is `jscodeshift` a good tool?

[2022-03-18 19:31] micalevisk commented on #423
I didn't dig much on this but I feel that `jscodeshift` is the way.

[2022-03-19 09:10] zun-credinord commented on #296
i am still having this issue, do you have any workarounds for this issue? Thanks

[2022-03-19 15:48] nartc commented on #423
@micalevisk I dug into jscodeshift a bit yesterday and it maybe not the right choice. Looking into ts-morph today 😄

[2022-03-19 20:10] AliYusuf95 commented on #423
I don't have previous expertise in dealing with code migration using AST 😅

[2022-03-19 20:33] AliYusuf95 commented on #423
While it seems an interesting task but I think this may doesn't fit all projects.
In my case to migrate from v5 to v6 and v7 I wrote a code that allows me to continue to use the old usage while gradually migrating to the new usage at the same time I can use the new features 😄.

[2022-03-20 06:20] nartc commented on #423
@AliYusuf95 I see. I’m a little hesitant to push for v8 because of the breaking changes. I’ll try to figure something out.

—-

Happy to report that v8 is 2-3 times faster than v7 with the following simple bench:
- 10000 objects mapped
- 20 iterations
- Avg on v7: ~110-120ms; avg on v8: ~41-43ms
- This was done in Angular (the web) so in NodeJS, it might be slightly faster.

Bundle-size of v8 is a

[2022-03-20 18:08] micalevisk commented on #423
:+1:

![image](https://user-images.githubusercontent.com/13461315/159176288-07adb452-0c31-4dd9-b2d3-82f08eafcd2e.png)

https://github.com/nodejs/Release

[2022-03-21 06:12] nartc commented on #423
https://github.com/nartc/nx-post-mikro/commit/9564c617ee55d436a0f54abafdc9ba89fa5169ab
Check this commit out for a migration example.

[2022-03-21 18:43] Nashar410 opened #436 "[NESTJS][Mikro-ORM] RangeError: Maximum call stack size exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Hello !

At first, thank you for all the work done, and especially your doc !

As you can imagine, I have a problem, that I was able to identify while doing the reproduction of the bug.

It seems that the `Collection` object from `@mikro-orm/core` is causing this error :

[code]

After a fe

[2022-03-21 21:15] micalevisk commented on #251
I just face an issue regarding that plugin. If the source obj has a field with the value `null` when calling `mapper.map`, inside of `mapFrom`'s callback I'll get
`s.nullableField === undefined` instead due to the `preMap` that is ran prior `mapFrom`'s callback, I guess

But then, if I I write some manual mapping that should map `null` to any other thing rather than `undefined`, the `source` param

[2022-03-21 21:36] nartc commented on #251
@micalevisk can you provide some sample profiles? It's hard to visualize :D (and I can test your use-case against the new version as well)

[2022-03-21 22:28] micalevisk commented on #251
there you go: https://replit.com/@micalevisk/automapper#index.ts

I'll problably drop the custom plugin and write those mapping from `null` to `undefined` manually, tho

[2022-03-21 23:26] micalevisk opened #437 "Add a new transformation to map `undefined` values"
### Is your feature request related to a problem? Please describe.

I want to avoid the following pattern:

[code]

### Describe the solution you'd like

Same as the [`nullSubstitution`](https://github.com/nartc/mapper/blob/f49bff2db57e32d8e21c6d4a3610a0265d178beb/docs-site/docs/mapping-configuration/null-substitution.md) transformation. Thus would be `undefinedSubstitution`

[code]

If you believ

[2022-03-22 00:18] Nashar410 commented on #436
Hi ! Thanks for responding.

It occurs as soon as you launch the app (with npm run start) in the minimal repo.

Otherwise, it happens when the Mikro-orm's entity have a Collection as a type.

[2022-03-22 03:41] nartc commented on #437
If you'd like to open a PR to add to v7, I'm fine with it (especially if you would want it early). If not, then I'll make some time during the week to add it to v7. Thank you

[2022-03-22 04:15] micalevisk commented on #437
actually to me this isn't urgent _(but I'd like to use in v7)_ so feel free to add it to v7 any time. Thanks.

[2022-03-24 04:19] nartc commented on #423
![image](https://user-images.githubusercontent.com/25516557/159841207-57c2e0c4-b4da-4ee2-bee4-bbc9226dbcc5.png)
New docs + migration docs are in process.

## NestJS: `AutomapperModule.forRootAsync()`

Add support for `forRootAsync`, so that you can work with your ORMs. Here's an example with `MikroORM`

[code]

[2022-03-24 04:36] nartc commented on #423
- `mapDefer` is back
- `undefinedSubstitution` is added cc @micalevisk

[2022-03-25 09:13] zieglar commented on #407
@nartc Hi, Is it possible to fix this circular Dependencies error in pojos ?

[2022-03-29 19:55] nartc commented on #423
https://automapper-v8.netlify.app/docs/getting-started/migrate-to-automapper-v8 migration guide is up. cc @AliYusuf95 @micalevisk can you guys give it a quick proof read if you're available?

[2022-03-30 03:28] #387 closed

[2022-03-30 03:28] #375 closed

[2022-03-30 03:29] nartc commented on #319
This is implemented in AutoMapper v8 https://automapperts.netlify.app/docs/mapping-configuration/construct-using

[2022-03-30 03:29] #319 closed

[2022-03-30 03:31] nartc commented on #423
I've decided to release v8 a moment ago. Automatic Migration is nice to have but it's extremely cumbersome to write (took me 2 days already without much progress :( ). Instead, I tried to be very comprehensive in the Migration guide and hope that it is enough to get folks migrated. Most can be Find and Replace. Thank you all for all the discussions. v8 is great and I can't wait to hear from you al

[2022-03-30 03:31] #423 closed

[2022-03-30 11:21] LennartH opened #446 "Version 8 packages are not declared as es module"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I'm using `core` and `classes` in an es module project. When running a script I got the following error:

[code]

After trying to reexport the necessary parts using the described default export I got a more descriptive error:

[code]

After manually adding `"type": "module"` to the package.

[2022-03-30 12:47] nartc commented on #446
Hey thanks for reporting. What environment are you setting this up? I've tried several and thought it was working correctly.

[2022-03-30 13:30] LennartH commented on #446
I'm using node v16.14.2 with typescript 4.6.3 as es module.

This is the partial package.json:
[code]

This is the tsconfig.json:
[code]

Building the project with tsc worked fine but executing the `generate-json-schema` script resulted in the errors.

[2022-03-30 13:37] nartc commented on #446
@LennartH Thanks. Is it possible that you could share a minimal reproduce?

[2022-03-30 13:37] LennartH commented on #446
I'll try to set one up this evening.

[2022-03-30 14:59] nartc commented on #446
@LennartH I was able to reproduce it with a Node ESM + TypeScript setup. This is painful. And honestly, I'm not entirely sure what's a correct approach moving forward. The ecosystem isn't ready for all-in in ESM 🥲. Any suggestion?

[2022-03-30 15:13] LennartH commented on #446
Ok, good to know that it's not something weird in my specific setup :sweat_smile: ESM can be a real pain...

How are you currently testing if your modules work in different environments? My first attempt would be to add `"type": "module"` to all package.json files in packages. In the best case this would suffice since you declared how to import the packages in a commonjs context with the `exports`

[2022-03-30 15:53] LennartH commented on #446
What about a setup described in the building section of https://www.sensedeep.com/blog/posts/2021/how-to-create-single-source-npm-module.html? The fixup script injecting the type field after the packages have been built feels a bit dirty, but I think it's easier to split the esm/commonjs building using two tsconfig files than creating separate `package.json` for each target package combination.

[2022-03-30 16:46] micalevisk opened #447 "[v8] Typing is breaking few `@typescript-eslint/*` rules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Getting errors regarding [`no-unsafe-call`](https://typescript-eslint.io/rules/no-unsafe-call/) rule for ESLint on few functions exported by `@automapper/core`:

![image](https://user-images.githubusercontent.com/13461315/160886360-175d6c01-48e1-40c8-a9ed-76610b01fa07.png)

![image](https:/

[2022-03-30 16:52] micalevisk commented on #447
nvm

Looks like this is an issue with the [ESLint extension](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint) because I got no errors when using the CLI

[2022-04-01 05:05] micalevisk commented on #437
I believe we should not add new features in v7.

Thanks for adding this in v8.

[2022-04-01 05:05] #437 closed

[2022-04-01 11:45] micalevisk opened #448 "[classes] Auto mapping `Date` from `null` resolves to `undefined` wrongly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

When using `@AutoMap({ typefn: () => null })` for some field that could be `Date | null`, the destination end up with `undefined` instead of `null`

I believe this is a bug because this doesn't happen in v8. But this also could be a limitation, I'm unsure.

### Models/DTOs/VMs

[code]

###

[2022-04-03 03:21] nartc commented on #446
@LennartH Just published 8.1.0 which should fix this issue. I've tested with:

- NestJS (nodejs commonjs)
- Angular (ESM)
- Node TypeScript ESM boilerplate (node esm)

All I did was:
- Add `type:module` to all `package.json`
- Rename `index.cjs.js` to `index.cjs`

[2022-04-03 03:21] #446 closed

[2022-04-03 03:25] nartc commented on #426
Hi @ex-nerd , sorry for being late on getting back on this. The main issue is that I use `Labeled Tuple Elements` (https://devblogs.microsoft.com/typescript/announcing-typescript-4-0/#labeled-tuple-elements) and it's available only since TS 4.0

I add `skipLibCheck` as a recommended `tsconfig` in [Installation docs](https://automapperts.netlify.app/docs/getting-started/installation).

[2022-04-03 03:25] #426 closed

[2022-04-04 02:51] nartc commented on #434
Hi @TestCK, sorry for the late response.

I thought about this feature and while I understand the use-case, I'll mark this as `non-fix` for v7.

For AutoMapper v8, you can create a custom strategy that kind of mix both `pojos` and `classes

[code]

[2022-04-04 02:52] #434 closed

[2022-04-04 02:55] nartc commented on #436
@Nashar410 Sorry for the late response. After taking a closer look at the code for v7, I deem this one as `won't fix`. AutoMapper v7 relies heavily on `instantiating` a new class, fixing this requires a lot of effort trying to rework the `mikro()` plugin. However, in v8, this doesn't seem to be an issue (at least I couldn't reproduce this on v8). I'd suggest [migrating to AutoMapper v8](https://au

[2022-04-04 02:55] #436 closed

[2022-04-04 02:56] nartc commented on #333
This specific issue has been addressed with AutoMapper v8. However, the TRUE underlying issue with "Fake" async is still there. Complex async flow with AutoMapper isn't recommended for now. If you have a complex async flow to map from one object to another, do not use AutoMapper for that object pairs.

[2022-04-04 02:56] #333 closed

[2022-04-04 02:58] nartc commented on #433
Hi @a88zach , thank you for the feature request. It seems like you already have a workaround (by patching `createMap()`). I'll mark this issue as `won't fix` for v7. For v8, it is even easier to have this functionality without patching, you just create a `MappingConfiguration` function which is a `Function` that returns `MappingConfiguration<TSource, TDestination>`.

[2022-04-04 02:58] #433 closed

[2022-04-04 02:59] nartc commented on #422
Hi @bfahm , sorry for the late response. Would you be able to test this with AutoMapper v8?

[2022-04-04 02:59] nartc commented on #407
@zieglar sorry for the late response. Can you test this with AutoMapper v8?

[2022-04-04 03:00] nartc commented on #406
This should be fixed with AutoMapper v8. Since `Buffer` type needs to be instantiated in v7 and v7 does not provide custom constructor (which it seems like `Buffer` needs it), this cannot be fixed in v7 unfortunately.

[2022-04-04 03:00] #406 closed

[2022-04-04 03:00] nartc commented on #371
@micalevisk can you check if this is still an issue with v8?

[2022-04-04 03:00] #358 closed

[2022-04-04 03:15] zieglar commented on #407
I'm still using v7 and will be migrating to v8 in the future, I found my own solution regarding the previous pojos circular dependency issue

[2022-04-04 03:15] #407 closed

[2022-04-04 04:45] micalevisk commented on #371
it is not :smiley:

![image](https://user-images.githubusercontent.com/13461315/161475417-99252933-c416-4d20-b2b7-9d1f67f16c3d.png)

[2022-04-04 04:45] #371 closed

[2022-04-04 16:15] a88zach commented on #433
@nartc, thanks for the update.  Here is an implementation if anyone needs to support this scenario

[code]

[2022-04-04 17:38] LennartH commented on #446
Works good :+1: I'm glad the solution didn't require to change the building/publishing completely.

[2022-04-07 02:25] calvinwyoung opened #449 "Issues using `@AutoMap` with mikro-orm references"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I'm trying to use `@AutoMap` with mikro-orm. This worked fine in v7, but I haven't been able to get it working in v8.

Here's a repo that that demonstrates the issue:
https://github.com/calvinwyoung/auto-mapper-mikro-orm-sample

This is built on the same repo used in #387.

### Models/DTOs/

[2022-04-07 04:23] nartc commented on #449
Hi @calvinwyoung, thanks for reporting.

I would like to explain more about your specific issue.

First, you **NEED** to populate/initialize your `Reference` for AutoMapper to work correctly (regardless of v7 or v8).

If you **DO NOT** populate the `'book'` reference, you'd get the:
- `Not Initialized` error in v8
- An undefined `bookId` in v7
<img width="684" alt="image" src="https://user-images.

[2022-04-07 04:23] #449 closed

[2022-04-07 16:10] abouroubi opened #450 "Cannot add property "prpertyName", object is not extensible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I updated my dependencies to the V8, and I'm having an issue, the mapped object created do not contain the properties that don't have the @AutoMap() decorator.

### Models/DTOs/VMs

This is my base model:
[code]

This is my View Model
[code]

### Mapping configuration

[code]

### Steps to

[2022-04-07 16:15] micalevisk commented on #450
did understand why you're using `stringDateConverter` if both destination and source has the type `Date` in both mapping (from `BaseModelVm` to `BaseModel`, and from `BaseModel` to `BaseModel`) :thinking:

[2022-04-07 16:28] nartc commented on #450
@abouroubi question, in v7 would you still see `delete` and `ttl` get populated with `undefined`? I'd assume that they aren't set by AutoMapper in anyway because they're not decorated and they're not configured with `forMember`. From `AutoMapper` point of view, they're non-existent.

For `Cannot add property deleted, object is not extensible` exception, I understand the root cause.

AutoMapper has

[2022-04-07 16:42] micalevisk opened #451 "Use constructor's name instead"
https://github.com/nartc/mapper/blob/c17d750fc56018a6c32fde96ef81473952463a56/packages/classes/src/lib/automap.ts#L55-L56

this makes the warning message too verbose. See:

![image](https://user-images.githubusercontent.com/13461315/162254348-1eee3250-d98c-4ea7-a239-1f64c101422e.png)

Why not use `target.constructor.name || target.constructor`?

[2022-04-07 16:45] a88zach commented on #450
Would it be possible to make this configurable?  Some may want want the mapped object to be sealed, but others may want to extend it after the mapping takes place.  An obvious use case is adding createdBy, createdAt fields to a mapped object before saving to a database.  This could be done with mapWithArguments, but that overly complicates the map

[2022-04-07 16:47] abouroubi commented on #450
Thanks for the quick reply, I think I'll use the first work around.
Concerning the constraint that you want to remove, I wonder why you want to prevent the consumer from modifying the object ?

In v7.2.1 the object wasn't sealed so I had no issue when I used `result.deleted = false`

[2022-04-07 17:09] nartc commented on #450
@abouroubi  @a88zach It's a bug I would say. The idea is in `postMap()` you shouldn't modify the `destination` because it might introduce unexpected behavior. I want to make sure the output of `map()` reflects the configuration and the metadata. However, after `mapper.map()` returns, you should be able to modify the result object. I'll fix it. Not sure about making it configurable but if needed, i

[2022-04-07 17:58] #450 closed

[2022-04-07 18:22] nartc commented on #450
@abouroubi  released 8.2.3 that should allows you to extend the object after map is finished

[2022-04-10 12:38] Alwinator opened #454 "The injected AutoMapper is empty in NestJS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

A want an AutoMapper object (that offers functions such as .map), but instead I am getting an empty object.,

### Models/DTOs/VMs

None

### Mapping configuration

None

### Steps to reproduce

npm run start:dev

### Expected behavior

A functioning injected AutoMapper instance

### Screens

[2022-04-10 15:56] micalevisk commented on #454
this is because `createMapper` returns a [JS Proxy](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Proxy). But this is fine.

https://github.com/nartc/mapper/blob/85060cd8143eddfd8bf08ea8c1ae67fbd7108344/packages/core/src/lib/core.ts#L53-L54

[2022-04-10 16:39] happyNariman opened #455 "NestJS Initialization Failing when AutoMap type self pointed twice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

An error occurs when starting the project.
If there are two or more mappings to the same class

  function applyMetadata(model) {
                        ^
RangeError: Maximum call stack size exceeded
    at applyMetadata (backend/node_modules/@automapper/core/index.cjs:755:25)
    at apply

[2022-04-10 18:07] nartc commented on #455
Please provide a minimal reproduce repo.

[2022-04-10 18:10] nartc commented on #454
Micael is correct. Mapper is a Proxy and it starts as an empty object. NodeJs should at least shows "Proxy {}" though

[2022-04-10 18:10] #454 closed

[2022-04-11 09:17] joshua-schnabel opened #456 "ignore() does not work as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

If an attempt is made to map an object into another object and an attribute is specified to be ignored, it is set to undefined.
If the target object has no setter, and therefore the matching attributes are set to ignore, an error is thrown.

If the object has setter, the following is return

[2022-04-11 13:34] joshua-schnabel commented on #456
Thank you very much, it seems to be running now. Here is my example:
[code]

[2022-04-11 13:34] #456 closed

[2022-04-11 14:53] dgradwell-ams opened #457 "Cannot use Transformer Plugin with NestJS CLI, module not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

When attempting to use the Transformer Plugin with NestJS CLI, the package `@automapper/classes/transformer-plugin` fails to import with the message: `Error  "@automapper/classes/transformer-plugin" plugin could not be found!`

I have confirmed that `node_modules/@automapper/classes/transfo

[2022-04-11 15:32] nartc commented on #457
Thanks for reporting. Fixed in 8.3.1

[2022-04-11 15:32] #457 closed

[2022-04-11 16:16] nartc commented on #455
@happyNariman Please test out 8.3.2
At least the error is gone and the `/get` route is working. Can you make sure that it is correct? If yes, please close the issue. Thank you for reporting

[2022-04-11 17:13] Alwinator opened #458 "AutoMapper ignores array instead of mapping it to MikroORM Collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I am using AutoMapper with MikroORM which uses collections instead of arrays. AutoMapper usually maps arrays to collections. However, I have one use case in my project where AutoMapper just ignores one array.

Expected:
[code]

Actual:
[code]

The permission array is not mapped.

### Models

[2022-04-11 17:23] happyNariman commented on #455
it works!

[2022-04-11 17:23] #455 closed

[2022-04-11 18:30] nartc commented on #458
Hi @Alwinator, thank you for reporting. It's not that AutoMapper is "ignoring" the Collection, it simply does not **MAKE** a new Collection when mapping `RoleDto#permissions -> Role#permissions`.

[code]

The idea of AutoMapper with MikroORM has always been mapping from your Entities to DTOs, not the other way around. Mapping from a DTO to your Entity is probably better with using MikroORM utiliti

[2022-04-12 18:31] Alwinator commented on #458
Thank you for the advice! I fixed the problem by simply converting my DTO to an object and passing it to MikroORM instead of using AutoMapper and it works perfectly. However, I would still enjoy it if this would work directly with AutoMapper ;)

[code]

[2022-04-12 18:37] nartc commented on #458
If you can think of a reasonable public API for automapper/mikro to work, I'm happy to hear. Just one constraint:
- I don't want automapper/core to have mikroorm as a dependency.

Right now, automapper/mikro is just an extension of automapper/classes (eg: AutoMap decorator) and it doesn't have to be that way.

[2022-04-12 18:37] #458 closed

[2022-04-12 18:51] Alwinator opened #460 "AutoMapper cannot map to identical class"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I am mapping two classes that both have a field `role: RoleDto`. However, AutoMapper cannot map this by default instead I need to create a map: `createMap(mapper, RoleDto, RoleDto);
`
### Models/DTOs/VMs

_No response_

### Mapping configuration

_No response_

### Steps to reproduce

npm r

[2022-04-12 18:54] nartc commented on #460
Thanks for reporting. So if both fields on both sides (Source, Destination) of a Mapping contain RoleDto (or any same model), it should map as-is shouldn't it?

[2022-04-12 18:56] Alwinator commented on #460
I get this error:
[code]

However, when I add the following line it works perfectly:
[code]

[2022-04-13 00:16] micalevisk opened #461 "[classes]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I cannot use `nullSubstitution` with `@AutoMap()` in v7 as I can in v8. So I believe this is a bug

### Models/DTOs/VMs

[code]

### Mapping configuration

[code]

### Steps to reproduce

_No response_

### Expected behavior

[code]

### Screenshots

_No response_

### Minimum reproduction

[2022-04-13 04:00] micalevisk commented on #461
I realise that if I add `.forMember(d => d.foo, mapWith(FooVm, Foo, s => s.foo))`, it will work as expected. But is this supposed to be the solution? :thinking:

[2022-04-13 04:36] micalevisk commented on #461
I was wrong. This behave the same in v8. But now I have a question: does `@AutoMap()` is expected to be when we use `nullSubstitution`? I mean, this is consistent because manual mapping should overwrite auto mappings but in v7 there's no way to use both `mapWith`+`nullSubstitution` easily, I guess?

[2022-04-13 10:23] micalevisk commented on #461
basically, I'm thinking on how I could generalise the following solution as this will be use several times :thinking:

[code]

The solution I got so far is:

[code]

[code]

[2022-04-13 12:47] LennartH opened #462 "Auto flattening of array properties"
### Is your feature request related to a problem? Please describe.

I'd like to use the auto flattening features for array properties. I tried a datastructure like this:

[code]

When mapping the following object the resulting `foosId` property is 'undefined`:

[code]

The property mapping is found since the names match the used `CamelCaseNamingConvention`, but when `mapInitializedValue` is resolv

[2022-04-13 14:03] nartc commented on #461
Thanks for reporting. I guess then `nullSubstitution` and (`undefinedSubstitution`) needs to map with mapping consideration then. Currently, they're not 😅

[2022-04-13 14:06] micalevisk commented on #461
yeah :/

And what about [condition](https://automapperts.netlify.app/docs/mapping-configuration/for-member/condition)?

[2022-04-13 14:11] nartc commented on #462
What about making `AutoMap` accepts additional information like:

[code]

[2022-04-13 14:13] nartc commented on #461
I think `condition()` also has this bug

[2022-04-13 15:52] LennartH commented on #462
Sounds good! Much better than some fragile internal magic :sweat_smile:

A few thoughts:
- Allow dot separated paths like `foos.id` (I'd prefer this because it looks cleaner imho)
- Allow `Record<TSource, string | string[]>` in case the type is destination of multiple source types with different paths (feels like an edge case, but who knows)
- Is it possible to a selector function like in `forMemb

[2022-04-13 15:59] nartc commented on #462
1. I agree dot notation looks cleaner. However, the internal of AutoMapper works with an array of paths instead so it's easier for AutoMapper to work with array.
2. Can you elaborate on this?
3. Yeah it sure can. However, we don't really know the type of the source type to infer correct type for Selector function to work. Eg: `@AutoMap({type: () => [String], sourcePath: (source) => source.foos.id

[2022-04-13 16:42] #460 closed

[2022-04-13 16:57] Alwinator commented on #460
Thank you for fixing the bug! I've just tested it and it works perfectly!

[2022-04-14 09:55] LennartH commented on #462
I was thinking a bit more about my third point and I don't think it's reasonable to handle this case in the AutoMap-Config. Most of the time there will be one "main relation" between two models. The flattening for these models can be derived from the flattening path in the config and any other special cases can be handled by overriding the default behaviour with a `mapFrom` modifier.

If you haven

[2022-04-15 09:49] nartc commented on #462
Thanks @LennartH for the offer!! You can start here: https://github.com/nartc/mapper/blob/main/packages/core/src/lib/mapping-configurations/for-member.ts#L31 to see how a `Selector` is turned into a `string[]`. Although, I would still think `Selector` with Array seems weird because we cannot do: `s => s.foos.id`

[2022-04-16 11:22] LennartH commented on #462
I wanted to get started on this, but when running `npm install` I get the error `Invalid package name "@automapper/classes/mapped-types": name can only contain URL-friendly characters.`. I'm using node version 14.19.1 and npm version 8.7.0. It seems that the second slash is not allowed. Are there any restrictions/recommendations for the node and npm version? I couldn't see any in the [Contributing

[2022-04-18 02:56] whoruyh opened #463 "option to disable auto flattening"
### Is your feature request related to a problem? Please describe.

Source Class
[code]

Dest Class
[code]

Profile class
[code]
because of autoFlattening, quest_title and quest_sub_title behave differently than intended.

### Describe the solution you'd like

I want to use namingConventions only.
It would be nice to have options for autoFlattening.

### Describe alternatives you've considered

_N

[2022-04-18 12:18] Alwinator opened #464 "TypeError: Cannot assign to read only property 'id' of object '#<Entity>'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I am working with MikroORM and when I try to update elements in my database using
[code]

I get the following exception:
[code]
I map my Entities to Dtos using the code below
[code]

I realized that when I add `wrap(entity).toObject()` the bug is fixed.
[code]

However, I think it should wo

[2022-04-19 11:59] PieterBoeren opened #465 "[v8] Mapping of custom type not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I have a custom object which I map with a "convertUsing" to a specific type, this was working perfectly in v7, but now I migrated to v8, the mapping doesn't work anymore.

I'm using the transformer plugin and have no @AutoMap() decorators in my code.

When debugging I get this:

![image](ht

[2022-04-19 18:27] micalevisk commented on #465
I guess you need to share that `geoJson2Proj4GeoJsonFeatureConverter`?

A repository reproducing your issue would be great

[2022-04-20 04:55] PieterBoeren commented on #465
Reproduction repository is [here](https://github.com/PieterBoeren/cra-automapper).

- yarn install
- yarn start
- Open the developer console in the browser, the error is there.

[2022-04-21 12:12] lolekjohn opened #466 "Cannot determine type metadata Warning"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

We are creating a lambda function (using nodejs typscript) and trying to implement the mapper logic. We took the sample implementation from the documentation web page

`import { classes, AutoMap } from '@automapper/classes';
import 'reflect-metadata';
import {
    createMapper,
    createMa

[2022-04-21 14:11] LennartH opened #467 "Source object is frozen when mapped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

The source object is frozen after it has been mapped, resulting in errors like `TypeError: Cannot assign to read only property 'name' of object '#<Foo>'` when trying to change the source afterwards. Probably related to #464.

### Models/DTOs/VMs

_No response_

### Mapping configuration

_N

[2022-04-21 14:48] LennartH commented on #467
I think the issue is caused by the mapper proxy:
[code]
It looks like the source frozen to prevent side effects by pre-/postMap, but according to the documentation of [`Object.freeze()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/freeze#description) it doesn't create a frozen copy but freezes the object in place:

I think the source should be copied bef

[2022-05-04 04:18] nartc commented on #466
Can you make sure that you have `reflect-metadata` in the environment you're running? I've seen cases where `reflect-metadata` fails to get the information (because there's no information in the first place, eg: Vite)

[2022-05-04 04:21] nartc commented on #462
@LennartH I'm using npm v6 still. I'd love to change to `pnpm` but I need `patch-package` at the moment :(

[2022-05-04 04:27] lolekjohn commented on #466
I do have `reflect-metadata` package added to the Lambda function. Should that be enough?

[2022-05-04 04:30] nartc commented on #466
It should be enough yes. Is there a reproduce that you can share? I'm not familiar with AWS Lambda at all :(

[2022-05-04 21:50] nartc commented on #465
@PieterBoeren sorry for the late response. The transformer plugin isn't smart enough (probably a missing feature or a limitation) to determine that the type reference is not a callable constructor, hence result in the `type()` returning `undefined`. What I would suggest to do is to add `@autoMapIgnore` to `someGeometry` fields so that it is ignored by the transformer plugin.

<img width="381" alt=

[2022-05-05 03:40] zieglar opened #472 "after upgrade 8.3.4 ,Cannot find module '~/codedir/node_modules/@automapper/nestjs/index.cjs'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

after upgrade to 8.3.4, build project normal, but start project notify error :Cannot find module '~/codedir/node_modules/@automapper/nestjs/index.cjs'

try to downgrade to 8.3.3, is ok.

in 8.3.3, run `ls node_modules/@automapper/nestjs`, print `index.cjs  index.d.ts  index.esm.js  lib  pac

[2022-05-05 03:56] nartc commented on #472
@zieglar sorry for the inconvenience. 8.3.5 has been released with the fix

[2022-05-05 03:56] #472 closed

[2022-05-06 08:06] PieterBoeren commented on #465
Thanks, that fixed it :)

[2022-05-06 08:06] #465 closed

[2022-05-06 08:41] PieterBoeren opened #473 "Peer dependency broken since 8.3.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Since version 8.3.4, the peer dependency for "@automapper/core" is set to "0.0.0" which causes issues when using pnpm (at least, haven't tested with other package managers):

When running `pnpm install`:
[code]

Before this version, the versions of "classes" and "core" were always the same.

[2022-05-06 09:39] LennartH commented on #473
Same with npm v8.5.0

[2022-05-06 14:35] nartc commented on #473
Sorry for the inconvenience guys. I adjusted some release-it configuration and this slipped through. Will release a new version (that won't have peerDeps) as soon as [https://github.com/nartc/mapper/pull/468](https://github.com/nartc/mapper/pull/468) is in

[2022-05-06 15:09] #467 closed

[2022-05-07 16:22] Alwinator commented on #464
@nartc It works! Thank you!

[2022-05-09 10:27] LennartH opened #474 "Async `afterMap` is not awaited by `mapAsync`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I added an async `afterMap` to a mapping configuration according to the [documentation](https://automapperts.netlify.app/docs/mapping-configuration/after-map/), but the values applied in the `afterMap` handler aren't set when using `const dto = mapper.mapAsync(...)`.

### Models/DTOs/VMs

_

[2022-05-09 13:45] nartc commented on #474
Async in AutoMapper has always been funky. I just thought of a way to maybe utilize Async Generator to make it work more conssitently

[2022-05-11 18:20] quinnturner commented on #332
@llecorguille I know it's been a while, but any particular reason why you went with `super(args[0])` instead of `super(..args)`?

[2022-05-17 06:03] nartc commented on #474
@LennartH update on this. I've tried different ways to support async but I think the core of AutoMapper isn't built to support this kind of operation. I also think that "resolving" something is app logic, not mapping logic. (https://github.com/AutoMapper/AutoMapper/issues/991)

That said, a better approach is to resolve the async value then use `extraArguments` instead of `afterMap()` for async op

[2022-05-17 06:03] #474 closed

[2022-05-25 03:43] micalevisk opened #476 "[docs] Wrong hyperlink to `NamingConvention` page"
### Is your feature request related to a problem? Please describe.

1. https://automapperts.netlify.app/docs/fundamentals/auto-flattening
2. click on `NamingConvetion` (ie., https://automapperts.netlify.app/docs/fundamentals/auto-flattening/naming-convention)

### Describe the solution you'd like

N/A

btw I feel that we need an issue form for documentation-related changes

### Describe alternativ

[2022-05-25 04:40] nartc commented on #476
Thanks for reporting. This issue seems weird and might be related to Docusaurus instead. The issue only surfaces if you refresh the page (https://automapperts.netlify.app/docs/fundamentals/auto-flattening). After you navigate within the documentation then the hyperlink works as expected. This seems to happen for all pages. I'll investigate further

[2022-06-02 01:26] micalevisk opened #477 "Manual mappings doesn't overwritte extended ones"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

when using `extend` (with 1 one level), all the `forMember` from the source side of `extend` are being evaluated even tho they won't be used in the end

I'm not sure if this is a limitation, a bug or a feature request (to improve the performance) tbh

### Models/DTOs/VMs

[code]

### Mappin

[2022-06-03 01:51] nartc commented on #477
This is probably a limitation + feature request. Currently, there's no way for the 2nd `createMap()` to halt the first `createMap()`. JavaScript is evaluated top-down so the first `createMap()` will run regardless. In order to achieve this, we'll probably need a Compiler in between so we can do some Static Analysis.

[2022-06-03 02:31] #477 closed

[2022-06-03 22:35] micalevisk commented on #477
this limitation causes the following issue:

[code]

as the callback of first `mapFrom` will be invoked when mapping from `S2` to `D` when ``, we will get  `TypeError: Cannot read properties of undefined (reading 'map')`

:disappointed:

[2022-06-03 23:33] micalevisk commented on #477
looks like we can use `preCondition` as a workaround to the above issue

[2022-06-03 23:38] micalevisk commented on #466
if we try to use https://repl.it, we'll get the same error. See https://replit.com/@micalevisk/trying-automapper#index.ts

![image](https://user-images.githubusercontent.com/13461315/171967069-a8447ff3-6fa2-49e6-9632-72f31c3c1502.png)

But I guess this is due to how Repl.it builds the project. In this case, I'm not sure if we could fix that

[2022-06-03 23:48] micalevisk commented on #477
I notice that adding `preCondition(s => !!s.foo, undefined)` to the first mapping prevents it from being run (when mapping  from `S2`) lol @nartc is this a bug or the expected behavior of `preCondition`?

[2022-06-08 01:02] mitch-tofi commented on #463
any update on this? im having the same issue at the moment, its auto-flattening, and thus the fields in the dest are undefined because its assuming there is an object to map too instead of a 1:1 mapping of the same field and name.

the mapper should really check for the existence of an object that it can map to, and if not look for the associated property based on the naming convention.

Src
`{

[2022-06-08 02:21] mitch-tofi commented on #463
ideally it should do both?
if theres an object that matches that convention, bind to it, but also if theres a property that matches, bind to that too?
for now working around by explicitly using forMember for properties that have the issue

[2022-06-10 19:41] jmplahitko opened #479 "mapper.map will not map nested models"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Prior to v8 (or earlier) it was possible to use AutoMapper to prune or modify properties on a model by mapping a model to itself. Is this still a valid use case for the library, or should there always be a different model for source/destination types, even when they are identical? This is a

[2022-06-13 12:39] LennartH opened #480 "Mapping not found error when using `nullSubstitution` on array property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

If you have to explicitly provide a properties type (e.g. an enum array) and you have to configure a `nullSubstitution` in the mapping, the following error is thrown when trying to map an object:
[code]

The error only occurs if the property has a value or if the `nullSubstitution` resolves

[2022-07-01 02:31] nartc commented on #463
This is harder that I thought it would. A lot more involved than anticipated. I have some time now after a month busy and dealing with personal stuffs. Will look into this deeper but I can't promise that it'd be a fast fix :(

[2022-07-01 05:53] #479 closed

[2022-07-01 05:53] #480 closed

[2022-07-01 07:23] PieterBoeren opened #482 "[Classes] PeerDependencies broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

The peerDependencies for 8.4.0 are broken, when installing with PNPM you get:

[code]

In version 8.4.9:
[code]

In version 8.3.7:
[code]

### Models/DTOs/VMs

N/A

### Mapping configuration

N/A

### Steps to reproduce

Use pnpm to upgrade to 8.4.0

### Expected behavior

No peerDependenci

[2022-07-01 07:25] mortenokeefe opened #483 "Cannot require transformer-plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I'm trying to use automapper in a vue project and since the last update I cannot require the transformer plugin.
I get this error:
![image](https://user-images.githubusercontent.com/57749927/176845192-093be222-cdaf-448a-b027-a317ba061cb7.png)

My webpack config looks like this:
![image](htt

[2022-07-01 07:43] mortenokeefe opened #484 "Transformer plugin doesnt automap array types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Im trying to use the transformer plugin and i works fine for simple types and objects but not for arrays.

I'm mapping from class ProjectFolderModel:
![image](https://user-images.githubusercontent.com/57749927/176847473-be32cb6e-ee4d-423a-a05f-46e40afa975c.png)

To class ProjectFolderDto:
!

[2022-07-01 10:38] Bugslive opened #485 "Export missing in @automapper/classes/package.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

After updating to automapper v8.4.0, I was unable to run or even test my code.

**_Test Execution Log_**:
[code]

**_Execution Log_**:
[code]

### Models/DTOs/VMs

_No response_

### Mapping configuration

_No response_

### Steps to reproduce

_No response_

### Expected behavior

exports

[2022-07-01 14:50] #485 closed

[2022-07-01 14:51] nartc commented on #483
Please give this another try with the latest

[2022-07-01 14:51] #483 closed

[2022-07-01 14:53] nartc commented on #484
The plugin is definitely handling array (check the test model here https://github.com/nartc/mapper/blob/main/packages/integration-test/src/transformer-plugin/model.ts). Can you please share with me a reproduce?

[2022-07-06 12:13] sulsDotK opened #486 "Transformer plugin has unexpected behavior with NestJS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I am trying to AutoMap properties using the transformer plugin as described here:

[(https://automapperts.netlify.app/docs/misc/transformer-plugin#nestjs-cli)]

nest-cli.json
[code]

Output:

![image](https://user-images.githubusercontent.com/40224671/177544080-82fe53f7-89e8-45a7-aec2-180e7

[2022-07-06 16:45] sulsDotK commented on #486
Hey, thanks for taking the time to respond. Really appreciate it.

The DTO ends with `.request.dto.ts` and entity ends with `.entity.ts`
But i've also tried with `.dto.ts` ... No difference

One observation though, I added an ignore clause and got this ... seems the ignore is working?

![image](https://user-images.githubusercontent.com/40224671/177601349-3e515bdd-84df-4c7a-9b2a-412d3f1fb84d.png)

[2022-07-06 16:57] nartc commented on #486
Hm...at this point, I'd love a reproduce.

[2022-07-06 18:26] sulsDotK commented on #486
Not able to reproduce in another project... Any ideas ?

[2022-07-06 18:27] nartc commented on #486
Can you share with me your models (entities and dtos)?

[2022-07-06 18:54] sulsDotK commented on #486
Here you go

[files.zip](https://github.com/nartc/mapper/files/9057341/files.zip)

[2022-07-08 08:14] mortenokeefe commented on #484
@nartc I have tried to setup a repo here https://github.com/mortenokeefe/automapper-test/tree/main/src
I'm using the User class from your link as test data and console logging the AUTOMAPPER_METADATA_FACTORY property it which looks than comes out different than in your example though.
![image](https://user-images.githubusercontent.com/57749927/177947283-737dd7ab-5323-47ee-982d-6949af70bcf3.png)
Ho

[2022-07-09 01:41] nartc commented on #486
I can't seem to reproduce this. If you can provide a sample reproduce, I'm happy to take a look further.

[2022-07-09 12:45] nartc commented on #484
@mortenokeefe thank you for the link. I found the issue but not entirely sure why. Apparently in your setup with `vue.config.js`, `string[]` and `Array<string>` are interpreted differently by TypeScript. The workaround now is to use `Array<string>`. I'm still looking for a fix

[2022-07-11 08:16] HaaLeo opened #488 "Support NestJs ^9.0.0"
### Is your feature request related to a problem? Please describe.

We want to upgrade nestJs to version 9. However, since automapper requires the peer dependency `@nestjs/common@"^7.0.0 || ^8.0.0"` NPM complains.

### Describe the solution you'd like

Support also the peer dependency `@nestjs/common@"^7.0.0 || ^8.0.0" || "^9.0.0"`.

### Describe alternatives you've considered

_No response_

###

[2022-07-11 12:30] mortenokeefe commented on #484
@nartc thanks for the reply. The problem with using Array<ClassName> is that is doesnt completely solve my problem. My children arrray now gets included but doesnt get mapped
![image](https://user-images.githubusercontent.com/57749927/178263482-ffc39972-3791-491a-b444-09b422320e48.png)
It is as if the automapper dosent recognize the children as being of the class ProjectFolderModel and therefore d

[2022-07-13 00:00] nartc commented on #484
@mortenokeefe yeah, I'm not exactly sure what's going on with the setup with `vue.config.js` (not saying that it's wrong) but the way it parses the AST is a bit different than what I normally see. The fix that I currently have (not released yet) doesn't seem to fix the issue you're running into with `Array<Type>` either 🥲

[2022-07-13 00:38] nartc commented on #484
@mortenokeefe please try 8.5.1 out

[2022-07-13 05:07] #476 closed

[2022-07-13 06:38] ByteSturm opened #491 "Mapping of primitive data types is not type safe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Hello everyone,

while introducing Automapper into my project I noticed that the mapping between primitive data types is not type safe. I don't know if this behavior is intended or a bug but I assume it's the second one.

### Models/DTOs/VMs

_No response_

### Mapping configuration

_No re

[2022-07-13 06:50] nartc commented on #491
https://automapperts.netlify.app/docs/mapping-configuration/type-converters it is intended. You can check this doc page out for more info

[2022-07-13 07:04] ByteSturm commented on #491
Oh ok, thank you for pointing that out. I missed the following line

Maybe we can change this in a feature request?
At least I would love to have a (global) configuration option which would make Automapper throw an error if the primitive types don't match. As Typescript provides type safety we are loosing it here. This could avoid some runtime errors if you forget to add the TypeConverters.
I can

[2022-07-13 07:10] nartc commented on #491
@ByteSturm we can discuss about it for sure. One main reason I didn't throw an error when first introducing Type Converter was I considered it a big breaking change to start throwing error now.

As for a feature request, I think a better solution would be to incorporate something like `zod` to do TRUE schema check against a model's metadata. However, I'm not sure whether I want to include `zod` as

[2022-07-13 07:27] ByteSturm commented on #491
Right I see, that's a good reason, I fully understand that. Also thanks for changing the labels and title :)

I had a brief look at the `zod` project. It looks like a good fit for this use case. Also do I agree on the point of trying not to include it as a dependency in the core project as the behavior in general should be optional. So yes, adding something like `@automapper/core/validation` sound

[2022-07-13 07:33] nartc commented on #491
@ByteSturm Yeah, I'm thinking about something like this

[code]

1. `Mapper` level with `createMapper`
2. `Mapping` level with `createMap`
3. `Profile` level with `addProfile`

They basically do some forms of 2 things:
- Dynamically create once (and store) the Zod schema from the discovered metadata on a model
- Run Zod validator against the `destination` object on `afterMap` (external) or `postMa

[2022-07-13 07:45] ByteSturm commented on #491
I mostly agree, just some remarks/thoughts I have here:

- Do you really need to store the Zod schema? You already have the information in your own meta data which type it is, don't you? Can't we reuse that with Zod?
- I think doing the validation after the `afterMap` method would make more sense. Then it also catches errors made by the developer when implementing some additional logic for the map

[2022-07-13 07:49] nartc commented on #491
@ByteSturm
- AFAIK zod (idk zod that well tbh), zod works based on the schema that we created. So we create the schema once then store them makes sense to me. Of course, I need to implement it first and see if it actually makes sense or not
- Yeah. Again, whether or not we want to be flexible here is still up for debate
- Just a thought as someone recently requested a way to override the Logger.

[2022-07-13 08:13] ByteSturm commented on #491
Ok got your points, fine for me.

Regarding the `@automapper/zod` package, so you would use the zod models/schemas internally instead of the Automapper metadata?
Also I doubt that you can omit the original class definition. One might use things like `class-validator` on it. If you "force" the developer to use these `createModel()` methods to get validation, the developer has to do double the effor

[2022-07-13 08:27] nartc commented on #491
using zod would make class-validator obsolete imo but I agree there should be something to add addtional decorators if I go with automapper/zod.

I think it can have a positive impact. Zod is pretty powerful and popular in the typescript ecosystem

[2022-07-19 10:22] ReginaldBull opened #495 "Autmapper/Profile/UnitTest: map not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

There is a profile:
[code]

I use that profile in app.module.ts:

[code]

Inside my service, I do the following:
[code]

While running the service, everything works as expected.

As soon as I start the unit tests, I get following error:
[code]

My unit test setup looks like that:
[code]
Fun

[2022-07-19 10:36] nartc commented on #495
@ReginaldBull thank you for reporting. Unit testing bugs seem to be one of the harder ones to track. Can you provide a sample reproduce?

[2022-07-19 10:50] ReginaldBull commented on #495
Sorry, I cannot provide the repository. As additional information I can say, that there are in total 13 profiles.

[2022-07-19 10:54] nartc commented on #495
Can you create a sample application that has this bug reproduced?

[2022-07-19 15:18] ReginaldBull commented on #495
I will try to reproduce it in another repository.Thank you for your answers!

[2022-07-20 19:03] keremkusmezer commented on #488
When it will be released?

[2022-07-21 08:53] ReginaldBull commented on #495
I have tested today again. Didn't change anything on the profile, but it started to work magically.

[2022-07-21 08:53] #495 closed

[2022-07-22 20:47] VPecquerie commented on #488
Code has been merged.
@nartc can you publish a new release ?

[2022-07-23 17:32] marcoacevey commented on #185
I followed you considerations and im an using eager relations, considering that we gonna load the relations values anyway to map it on to the DTO, lazy loading dont make to mutch sense than,

[2022-07-26 06:52] friedScotch commented on #181
@nartc I don't know if I am the only one, but I am experiencing the exact same issue as well.

I'm using 8.4.1 for classes, core and nestjs

[2022-07-26 08:18] nartc commented on #181
@friedScotch please open a new issue and if possible, please attach a simple reproduce.

[2022-07-26 08:19] #484 closed

[2022-07-26 08:19] #486 closed

[2022-07-26 09:53] friedScotch opened #497 "Reversed order of key/value pairs in JSON after mapping"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Hello @nartc,

hats off for being so active in the first place.
I'm experiencing something similar to #181 . The Mapper is configured properly and works as well. Just the JSON key/value pairs after mapping are in reversed order.

### Models/DTOs/VMs

UserEntity Class:
[code]

UserResponse C

[2022-07-26 11:06] nartc commented on #497
Thank you for reporting. I'll take a look as soon as I find some time.

[2022-07-27 13:33] #497 closed

[2022-07-27 17:11] friedScotch commented on #497
@nartc Whoa thanks for the lightning fast fix AND detailed info. I throughly enjoyed reading it! 👍

[2022-08-02 11:25] omihaz opened #498 "No transformer-plugin bundled in the 8.7.2 version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Cannot find module '@automapper/classes/transformer-plugin'

### Models/DTOs/VMs

_No response_

### Mapping configuration

_No response_

### Steps to reproduce

_No response_

### Expected behavior

The `classes` package contains `transformer-plugin` folder.

### Screenshots

_No response

[2022-08-02 13:05] nartc commented on #498
Sorry. The new Nx target defaults messed up the build a bit. 8.7.4 (8.7.3 is still broken :() fixed the issue

[2022-08-02 13:05] #498 closed

[2022-08-07 10:30] eyalpost opened #500 "When using pojos strategy, there's an internal error while creating an error message"
### Is your feature request related to a problem? Please describe.

When trying to convert from one type to another and the configuration is not complete, instead of throwing a meaningful error, it instead throws the following error:
[code]

The following code can help reproduce the problem.
Note this is copied from your examples, I intentionally removed the mapping for `fullName` and used a custo

[2022-08-07 10:36] eyalpost opened #501 "When using pojos strategy, there's an internal error while creating an error message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

When trying to convert from one type to another and the configuration is not complete, instead of throwing a meaningful error, the following error is thrown:
[code]

### Models/DTOs/VMs

[code]

### Mapping configuration

[code]

### Steps to reproduce

The following code can help reproduce

[2022-08-07 10:37] eyalpost commented on #500
Sorry I accidently opened a feature request instead of a bug report. Closing this one in favor of #501

[2022-08-07 10:37] #500 closed

[2022-08-31 05:17] MontyTRC89 opened #502 "Mapped object is empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Hi.
Even if I configure it correctly, mapped objects have all properties with default values instead of mapped values.
I have tried to follow the also the tutorials on your documentation, but I get an empty object.

### Models/DTOs/VMs

import {AutoMap} from "@automapper/classes";

export c

[2022-08-31 14:01] nartc commented on #502
hi @MontyTRC89, thank you for reporting. Can you provide a little bit more context? What environment are you running? Node? Web? A reproduce repository would be appreciated

[2022-09-19 14:28] maud08 commented on #502
Same here. Using mapper to map a JSON object into a basic class containing strings.
Only the forMember works. All unspecified @MapData() properties are empty / defaults.
Using version 8.7.6.

[2022-09-19 15:52] nartc commented on #502
Can anyone provide me with a reproduce repository? What environment are you running in?

[2022-09-19 23:36] thaindq opened #506 "Transformer plugin doesn't work for derived classes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Transformer plugin doesn't work for derived classes

### Models/DTOs/VMs

[code]

### Mapping configuration

[code]

### Steps to reproduce
[code]

### Expected behavior

The metadata for `ObjectDetailsDto` generated by the plugin would be:
[code]
while it should have been
[code]
So the res

[2022-09-19 23:53] thaindq opened #507 "@AutoMap() as class decorator"
### Is your feature request related to a problem? Please describe.

I usually find myself adding `@AutoMap` decorator to every or most of the properties of a class.

### Describe the solution you'd like

I think it would be handy if `@AutoMap` can be applied to a class instead of each property in that case. We can also add `@AutoMapIgnore()` (property decorator) to skip unwanted ones.

### Describ

[2022-09-20 11:18] nartc commented on #507
Hi @thaindq, thank you for the suggestion.

`ClassDecorator` was my first thought when I first started working on AutoMapper. However, `ClassDecorator` doesn't have information of its properties :(

[2022-09-22 00:06] thaindq commented on #507
Hi, yeah unfortunately, but I was thinking maybe it could at least work as default mapping without any options or type information. For example:
[code]
So at least we don't have to use decorator on every properties. I haven't checked if this is possible with class decorator yet but if isn't I guess I'll have to stick with the current way.

[2022-09-29 11:09] adumat opened #509 "extraArgs not inherited by others mapping"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I have some params inside extraArgs that can be used during map by other mapping rule.
Only the parent map is able to receive the extraArgs, the child of this map will not receive the params if someone use the `mapWithArguments` function.

### Models/DTOs/VMs

### Models

[code]

### DTO
[c

[2022-10-13 04:31] tannguyen208 opened #512 "@AutoMap not working with extended class"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

mappedUser = {
  username: 'yyyy'
}

### Models/DTOs/VMs

import {createMap} from '@automapper/core'
import {AutoMap} from '@automapper/classes'

export class Entity {
  @AutoMap()
  _id!: string
}

export class User extends Entity {
  @AutoMap()
  username!: string

  // we don't want to m

[2022-10-13 11:22] nartc commented on #512
@tannguyen208 thank you for reporting. You'd still have to create a Mapping for the base classes (https://automapperts.netlify.app/docs/mapping-configuration/extend)

[2022-10-13 11:22] #512 closed

[2022-10-16 22:07] Manik-Jain opened #513 "@UseInterceptors(MapInterceptor(ClassType, InterfaceType)) doesn't work to map class to an object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I'm working with nestjs and trying to use [Map interceptor](https://automapperts.netlify.app/docs/nestjs#mapinterceptor) to map a class to an interface, and MapInterceptor cannot determine type Interface with the error:

```<InterfaceName> only refers to a type, but is being used as a value

[2022-10-18 08:57] gegenschall opened #514 "AutoMapper not compatible with ESM module resolution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I'm using ESM in my project with a TypeScript configuration like this:
[code]

I've made my package use `"type": "module"` within `package.json` as well.

When trying to import anything from the @automapper packages, I get the following error:

[code]

Like-wise, if I try to import using re

[2022-10-18 16:57] zgid123 commented on #513
interface is only for typescript, the runtime still use javascript, so you must define a class instead of using typescript's interface

[2022-10-21 06:49] gegenschall commented on #514
I've added a minimal repro [here](https://gist.github.com/gegenschall/f09683b9c0b80f0e00db68dea618432e).

[2022-10-24 16:23] nartc commented on #514
Thanks for the reproduce. I'll take a look asap

[2022-10-24 16:53] #513 closed

[2022-10-24 16:53] #501 closed

[2022-10-25 13:22] nartc commented on #506
Hi @thaindq, thank you for reporting (and sorry for the late response as I was on vacation).

Personally, I'm not sure if this is a bug or a feature request because the use-case you represented can be fixed easily with `extend()`.

[code]

[2022-10-25 18:29] #509 closed

[2022-10-25 22:45] thaindq commented on #506
Hi @nartc, thank you, I didn't think about extending an existing mapping, however I think it would be great if the lib could do it automatically so we don't need to `extend` twice which could easily be forgotten. Thanks for your help and yeah you're right, it's more like a feature request. I'll close the issue.

[2022-10-25 22:45] #506 closed

[2022-10-27 14:37] nadhir-falta commented on #502
Same issue here, new user new installation with latest version, matching fields are not being mapped unless manually mapped using the ForMember for each of those fields, which defeats the purpose of using the Automapper.

[2022-10-27 21:58] nartc commented on #502
I can't solve the issue with "same issue here". Can someone provide a reproduce repo that I can clone and test?

[2022-11-09 00:58] chillichicken commented on #502
Sorry to do this but "same here". I am on V8 with nestjs trying to get it working according to https://automapperts.netlify.app/docs/nestjs , however all mappings via
[code]
are empty.

My controller function definition looks like this -> returns `Promise<UserEntity[]>`:

[code]

No errors are thrown.

Is there an example git project with nestJs using Automapper V8 with a Controller / Service impl

[2022-11-09 13:08] jorgelperezr opened #516 "Error automap entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Hello, I have a problem when use automap decorator in the entities.
I have a project where there are entities, in one of them (taskEntity) there is a relation with other entity (deliveryInfo) and this last has a relation with driver entity.
Between DelveryInfo and driver entity exist a rela

[2022-11-11 17:50] Isilin opened #517 "Autmap array of object with depth"
### Is your feature request related to a problem? Please describe.

To automap an array of objects, with a specified depth, i need to write this :
[code]

While when i don't specify a depth, i can just write this :
[code]

### Describe the solution you'd like

I'd like to write something like this :
[code]

### Describe alternatives you've considered

_No response_

### Additional context

For now

[2022-11-18 16:49] RaviVadera opened #519 "Consistent way to ignore properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I am using transformer-plugin as instructed from the documentation with,
- NestJS
- TypeORM
- Mongo

I found out that the automapper still requires to explicitly define mapping between classes which is kind of expected thing probably. I am using the mappings with mapping profiles with ignor

[2022-11-24 16:03] Quentinmht commented on #502
Hi @nartc,

I have the same problem so I decided to create a project to help you solve the problem.
[Automapper-bug](https://github.com/Quentinmht/automapper-bug)

You can run :
- yarn install
- yarn run start

This is the example on your documentation, classes are in a models folder in src and the code is in index.tsx.

If you run the project, you will see the empty object in the console, uncomme

[2022-11-24 18:53] nartc commented on #502
@Quentinmht thank you. The example on the documentations assume Nodejs. Browser might behave a little different. Nonetheless, I'll test out the reproduce and will report soon! Thanks again!

[2022-11-25 07:48] Quentinmht commented on #502
Hi @nartc,

It would be so cool to be able to use it in web project. I suppose that this issue is only related to the browser as you said.

If you need help, don't hesitate !