[2019-11-02 23:27] nartc opened #1 "bug: ReverseMap wrong"

[2019-11-03 00:00] #1 closed

[2019-11-03 00:05] nartc commented on #1
:tada: This issue has been resolved in version 1.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v1.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-08 10:06] iamolegga opened #4 "[question] Move `class-transformer` to peer deps"
Hi, thanks for this library, I'm really interesting in it, and thinking of using it soon, so I have one minor question/suggestion about moving class-transformer to peer deps, because when using this library via `nestjsx-automapper` there is a chance that `class-transformer` is using already in nestjs project. What do you think?

[2019-11-08 15:00] nartc commented on #4
Good point. Actually, `class-transformer` used to be listed as `peerDeps` but then I make it `deps` to save the library consumers the hassle of installing `class-transformer` just for AutoMapper. But again, there probably won't be much usage for AutoMapper outside of NestJS ecosystem as of the moment I think.

Thanks for asking. I'll consider this more.

[2019-11-08 17:21] #4 closed

[2019-11-08 17:21] iamolegga commented on #4
Thanks!

[2019-11-17 18:00] nartc opened #12 "[core] Refactor MappingProfileBase to not having to have an empty constructor"
Current:

[code]

This approach works fine but it feels boiler-plate-y. Possible solution:
1. Get rid of `configure()` method
2. Turn `constructor()` into `constructor(mapper: AutoMapper) {}` and use `constructor()` to configure the mapping. This will make it feel more inline with `.NET AutoMapper` API.
3. Adjust the interfaces and `addProfile()` method on the AutoMapper.

[2019-11-17 18:43] #12 closed

[2019-11-17 18:47] nartc commented on #12
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-20 11:44] lqmanh opened #15 "Null Substitution support"
Hi @nartc,

You state in the README that null substitution feature may not be added, in favor of `fromValue()`. However, as I understand, the use cases of these two are different.

1. In the original library, Jimmy Bogard says:

It means the mapper will only assign the value you provide if the source member is null.

2. `fromValue()` allows you to map a raw value to a destination member, regardles

[2019-11-20 13:30] nartc commented on #15
Hi,

It seems you are correct. Then it totally makes sense to have “nullSubstitution” added.

Thanks for pointing that out

[2019-11-20 15:37] #15 closed

[2019-11-20 15:41] nartc commented on #15
:tada: This issue has been resolved in version 2.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v2.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-20 15:46] lqmanh commented on #15
Thank you!

[2019-12-11 11:47] Codevanger opened #23 "Map from model to interface"
Is there any way to create map from model to interface?

[2019-12-12 14:23] nartc commented on #23
@Codevanger Unfortunately no.

[2019-12-12 14:23] #23 closed

[2019-12-13 07:28] Codevanger opened #24 "Can't build project with Automapper imported in --prod"
When you're trying to build project in Production, the following error will occur:
`ERROR in ./src/app/app.module.ngfactory.js
Module not found: Error: Can't resolve '@nartc/automapper/dist/automapper' in 'D:\test\Automapper\src\app'
resolve '@nartc/automapper/dist/automapper' in 'D:\test\Automapper\src\app'`

How to reproduce:

1. Create a new project with 'ng new'
2. Import Automapper
3. Create

[2019-12-13 13:12] Codevanger commented on #24
Nevermind, I figured out what's going on here. I created the angular package and put your codebase in it and it worked. I created npm package here:
https://www.npmjs.com/package/ngx-automapper/access
and GitHub project here:
https://github.com/Codevanger/ngx-automapper

If you don't mind

[2019-12-13 14:50] nartc commented on #24
@Codevanger is this Angular 8 or 9? Or is this new project Ivy? I'd love to look into it.

[2019-12-13 15:52] Codevanger commented on #24
Angular 8

[2019-12-13 19:26] Codevanger commented on #24
How I see it - it's missing some files that Angular CLI needed. When you creating a new angular library it's okay, so it's what I did. It's missing some angular-related files or whatsoever

[2019-12-13 20:46] nartc commented on #24
@Codevanger What I'm getting at is it shouldn't matter because `automapper` is just another typescript library: like `lodash`, like `moment`, like `rxjs`. I don't think those libraries are Angular specific.

Thanks for the investigation. I'll take a look at the bug as soon as possible.

[2019-12-14 22:17] nartc commented on #24
@Codevanger  can you provide a reproducible repository? I can't seem to reproduce the issue at all.

[code]

![image](https://user-images.githubusercontent.com/25516557/70855224-23ea4880-1e8d-11ea-9e55-704db5df32d9.png)
![image](https://user-images.githubusercontent.com/25516557/70855226-29e02980-1e8d-11ea-8cf6-96669ac044d9.png)
![image](https://user-images.githubusercontent.com/25516557/70855227-

[2019-12-17 07:14] Codevanger commented on #24
Sorry for a long answer.

`Angular CLI: 8.3.20
Node: 12.4.0`

![image](https://user-images.githubusercontent.com/36956445/70973047-e583a200-20b5-11ea-9825-eaaf01207452.png)

![image](https://user-images.githubusercontent.com/36956445/70973051-eae0ec80-20b5-11ea-90e7-9e9a638fb8f3.png)

![image](https://user-images.githubusercontent.com/36956445/70973093-03e99d80-20b6-11ea-9613-5165f67e479c.png)

[2019-12-17 12:47] nartc commented on #24
You can’t have mapper in the constructor of AppModule. AppModule is initialized by Angular when it bootstraps the app.

Try using Mapper singleton. Remove the mapper in the constructor, then use Mapper.initialize()

[2019-12-17 13:22] Codevanger commented on #24
Okay, now it's building and working.
I guess I can close it now.

[2019-12-17 13:22] #24 closed

[2020-01-20 03:47] vip30 opened #47 "Is that possible that the mapper can base on the source type to map?"
I used AutoMapper (and mediatr which is also developed by Jimmy Bogard) in dotnet core before. It's pretty nice that see it again in typescript.

However, the code base currently use the destination class to found out the source class is pretty strange.

Thats mean if we have two different source class to project to same vm model will get wrong.

Here is the example that
[code]

Now if we project

[2020-01-20 06:47] vip30 commented on #47
I submit a pull request for this case, can you please check if it is correct or not?

Thanks

[2020-01-20 16:16] nartc commented on #47
Thanks for reporting the issue.

[2020-01-21 03:33] #47 closed

[2020-01-21 03:38] nartc commented on #47
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/3.0.0)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-21 03:44] nartc commented on #47
@vip30 check out the latest release to see if it works for your case. Let me know if you have any suggestions. And as always, PRs are welcomed :) Thanks again for reporting the issue.

[2020-01-21 06:33] vip30 commented on #47
Thank you I will try it now

[2020-01-21 12:51] nartc commented on #47
@vip30 `nestjsx-automapper` 2.0.6 has been released.

[2020-01-21 13:23] nartc commented on #47
@vip30 `nestjsx-automapper` 2.0.7 has been released.

[2020-01-23 14:03] krukru opened #51 "Can this work with getter/setter?"
Hi! :)

I was wondering, can this mapper work by mapping public attributes to their appropriate setter or getter (depending on the map direction).

Consider this example
[code]

My questoini is how to get a bi-directional map between User and UserVm? Hopefully not by manually assigning every public property to a setter/getter :)

Thanks!

[2020-01-23 14:26] nartc commented on #51
Hi @krukru ,

Thanks for submitting an issue. Apparently, this is not currently supported because I didn't really think of this use-case. But I can see that it makes sense to support it.

The current code checks for if `source.hasOwnProperty()` without checking recursively on its `prototype` which is causing getter/setter to not work.

I'll push a fix soon.

[2020-01-23 14:50] nartc commented on #51
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/3.0.1)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 15:00] nartc commented on #51
Reopening for `reverseMap` doesn't quite work.

[2020-01-23 15:26] #51 closed

[2020-01-23 15:29] nartc commented on #51
:tada: This issue has been resolved in version 3.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/3.0.2)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v3.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 15:33] nartc commented on #51
@krukru let me know if 3.0.2 works out for you. Create a new issue if you find one. Thanks

[2020-01-23 15:54] krukru commented on #51
Hey @nartc, thanks for the quick reply!
Unfortunately, looking at the example you added to the README, I could not get the mapper to work. I am trying to map DTO (or ViewModels, from your example) to domain models.

These are my files used to test the mapper
[code]
I initialise the mapper using

[code]
And call the map with
```const foo: Foo = this._mapper.map({foo: "bar"}, Foo, FooDTO);```

I rec

[2020-01-23 16:02] nartc commented on #51
@krukru are you sure you're on version 3.0.2?

[2020-01-23 16:05] krukru commented on #51
Yes, I checked by looking at your package.json in my node_modules. I will
try a clean install in a couple of hours, maybe I made some mistake :)

On Thu, 23 Jan 2020 at 17:02, Chau Tran <notifications@github.com> wrote:

[2020-01-23 16:10] nartc commented on #51
@krukru https://codesandbox.io/s/inspiring-cherry-k5m2d check this sandbox if you have time

[2020-01-23 16:16] nartc commented on #51
[code]

[2020-01-23 18:19] nartc commented on #51
Check the latest version (3.0.5) and let me know if you still have issue.

[2020-01-26 12:52] ymchun opened #54 "[Feature request] can preCondition have option to provide default value aside from null?"
Now the `preCondition` can check and map the property to `null` when checking result is falsely. Can this function provide a way to set the default value aside from `null` ?

[2020-01-26 22:43] #54 closed

[2020-01-26 22:46] nartc commented on #54
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/3.1.0)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-26 23:52] nartc commented on #54
@ymchun Thanks for the request. `preCondition` with `defaultValue` has been added in version 3.1. I also added `defaultValue` to `condition()` as well since I think it should be supported.

[code]

[2020-01-27 03:43] ymchun commented on #54
@nartc thank you for your quick response 👏

[2020-01-27 08:05] krukru commented on #51
Hey @nartc
After updating to the latest version (3.1.0) the issue is resolved and everything works like a charm :)
Thanks!

[2020-01-27 08:41] ymchun commented on #54
@nartc should this line https://github.com/nartc/mapper/commit/1fd8ca2afe236ddbdf60c2ccfc051b5d08285eef#diff-534cd9b078fed96a297e9c5b3cf8cc35R157

change from `set(destinationObj, destinationMemberPath, preCondition.defaultValue);`
to `set(destinationObj, destinationMemberPath, preCondition.defaultValue || null);`

so that users can omit the default value and get `null` instead of `undefined`

[2020-01-27 08:49] ymchun commented on #54
@nartc I've submitted PR, plz check

[2020-01-28 09:01] krukru opened #60 "How to map moment to number?"
Hi again :)

This time I am wondering how to map between moment object and number

Here is my snippet
[code]

This fails with the error "TypeError Cannot read property '_isAMomentObject' of undefined".
The issue is related to class-transformer (see https://github.com/typestack/class-transformer/issues/176) but I don't know how to get this to work using your mapper lib.

[2020-01-28 12:52] nartc commented on #60
Hi, thanks for reporting the issue.

I thought about Moment object but ended up not supporting it since there are many different choices regarding Date now. If I could suggest, try: date-fns, dayjs or luxon.

However, if Moment is crucial for your project, I’ll see what I can do.

[2020-01-28 13:33] krukru commented on #60
Hey, it is not crucial :)
I don't really like moment due to the way it is written, but decided to go with it since it seemed most used/popular. Maybe it is time to reconsider :)
Thanks anyway, I am closing the issue (and maybe it would be worth noting that moment is not supported)

[2020-01-28 13:33] #60 closed

[2020-01-28 13:45] nartc commented on #60
@krukru Though it is the most popular one, it’s a heavy library.

- Luxon: is written using Moment’s concept but is redesigned to be lighter and less-clunky than Moment, written by one of the old Moment’s maintainer
- date-fns: like Lodash for Date
- dayjs: extremely lightweight with plugin to enable various features.

I’ve used date-fns and dayjs before and they’re great. Working with native JS D

[2020-01-28 17:44] nartc commented on #60
@krukru I found a workaround for `Moment` object. Read the Date Time section on the README to learn about it. Though, I would still suggest going with vanilla JS Date object if you can.

[2020-01-28 18:38] krukru commented on #60
Hey, thanks for updating the docs, I almost got this to work after updating to 3.1.2 :)
Here is what I am working with
[code]
So mapping from Dto(Vm) -> Domain model works
But mapping Domain model -> Dto fails and always creates a moment object with the current timestamp. Now that's really odd, isn't it! :)

[2020-01-28 18:43] krukru commented on #60
What's maybe more interesting is how this snippet works on 3.1.0

[code]
[code]

I am trying to deduce from the source and commits between versions what has changed, but it is a bit over my head. Hope this piece of info helps!

[2020-01-28 18:52] nartc commented on #60
hmmm I'll give that a quick run on my test bed.

[2020-01-28 19:49] nartc commented on #60
@krukru `plainToClass` from `class-transformer` initializes a new `Moment` object under the hood. That's a bummer. I don't think `Moment` is working with this library as of the moment.

[2020-01-28 19:59] nartc commented on #60
@krukru Another point is I run `plainToClass` against the `source` (that was passed in `Mapper.map(source, DestinationModel)`) every time. I just modified the code to where `plainToClass` is only ran if `source` isn't a true instance of `mapping.source` (aka if `source` is a plain object). If `source` is a true instance of `mapping.source`, then it seems like `moment` is working.

Let me know (if

[2020-01-29 09:06] krukru commented on #60
I don't know what you did, but in 3.1.2 this now works in both directions!
Thanks very much for all the support, you are awesome :)

[2020-01-29 14:15] nartc commented on #60
@krukru I simply changed the way Automapper interacts with `class-transformer` a bit. Thanks for reporting.

[2020-01-31 03:51] vip30 opened #68 "Any plan for mapping inheritance?"
Currently we need to copy and paste the profile if the model mapping is similar but just few of the properties are different

ref: http://docs.automapper.org/en/stable/Mapping-inheritance.html

Thanks

[2020-01-31 04:21] nartc commented on #68
@vip30 Hi

Thanks for opening the issue. Since this is likely going to be a **feature request**, can you please provide some real use-cases? And possibly, if you can, some implementation suggestions? That would be nice because I, certainly, don't really run into as many use-cases as others.

[2020-01-31 04:29] vip30 commented on #68
@nartc Hi

The usage is basically in extending model.
For example, I have a base model
[code]

[2020-01-31 04:40] nartc commented on #68
I'll look into that more. I've been always under the impression that derived classes were always working. Turns out that I'm wrong.

However, I might be slow on working on this feature as I'm working on a Transformer Plugin to automate the `@AutoMap()` process. Again, thanks for the request.

[2020-02-04 04:17] #68 closed

[2020-02-04 04:20] nartc commented on #68
:tada: This issue has been resolved in version 3.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/3.3.0)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v3.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-04 05:42] nartc commented on #68
@vip30 Check the latest release out to see if it works out for you.

[2020-02-04 20:18] nartc commented on #68
@vip30 I just released another version with a change to `includeBase` https://github.com/nartc/mapper/releases/tag/v4.0.0 please update accordingly.

[2020-02-05 06:29] vip30 commented on #68
Yep, I updated and it work as expected. Thank you very much @nartc

[2020-02-07 23:01] jmplahitko opened #72 "_removeExtraForFunction will incorrectly parse member name if member name includes 'return'"
Example: Given a member name of 'returnUrl' on a destination model:
Calling mapper.createMap(Dest, Source).forMember(dest => dest.returnUrl, [expression]) will result in a destination object containing a 'Url' member.

I've stepped through and found that the _removeExtraForFunction util is splitting on 'return', which will split on not only the keyword 'return', but also any other part of the stri

[2020-02-08 02:41] #72 closed

[2020-02-08 02:41] nartc commented on #72
Thanks for reporting the issue.

[2020-02-08 02:43] nartc commented on #72
:tada: This issue has been resolved in version 4.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/4.0.1)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v4.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-08 16:22] nartc opened #73 "[refactor] Remove class-transformer from dependencies list"
## I'm submitting a...

<pre><code>
[ ] Regression
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Currently, `@nartc/automapper` depends on `class-transformer` to initialize a new instance of a model. Although this is working well and not bringing too much overhead but it lacks customizability.

## Expected behavior

Re

[2020-02-10 20:12] #73 closed

[2020-02-10 20:14] nartc commented on #73
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/5.0.0)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-24 09:00] AliYusuf95 opened #81 "Error when map from extended class"
## I'm submitting a...

<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
I cant convert to a class that extends a base class, I got this error:
[code]

## Expected behavior
Able to map values from inheritance classes.

## Minimal reproduction of the problem with instructions
[code]

## What is th

[2020-02-24 12:56] nartc commented on #81
Thanks for reporting. I’ll take a look asap

[2020-02-24 14:20] #81 closed

[2020-02-24 14:24] nartc commented on #81
:tada: This issue has been resolved in version 5.0.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/5.0.9)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v5.0.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-10 13:33] AliYusuf95 opened #86 "Mapping key not unique when the code minified"
## I'm submitting a...
<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
After building my angular app with `optimizing` flag, the mapper throws this error
`Uncaught Error: Mapping for source n and destination n is already existed`
It seems that the compiler change classes names https://github.com

[2020-03-10 13:54] AliYusuf95 commented on #81
The example I provide still not working. To reproduce, remove this line
https://github.com/nartc/mapper/blob/5d7d8f7b0545fdb73bc292a9ccb69d51e274614c/test/automapper.test.ts#L1435

And add this to the test
[code]

[2020-03-10 15:40] nartc commented on #86
I can confirm this. Thanks for the issue. I'll take a look ASAP

[2020-03-10 16:59] nartc commented on #86
I'm leaving this open to see if the last push fixes the issue.

[2020-03-10 17:02] nartc commented on #86
:tada: This issue has been resolved in version 5.0.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/5.0.10)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v5.0.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 22:40] nartc commented on #86
Closed due to inactivity. Please reopen if you still run into the issue.

[2020-03-15 06:42] AliYusuf95 commented on #86
I just try it now .. the issue still exists, @nartc

[2020-03-18 02:36] nartc commented on #86
@AliYusuf95 Can you please provide a repo that reproduces the issue?

[2020-03-18 16:49] #86 closed

[2020-03-18 16:52] nartc commented on #86
:tada: This issue has been resolved in version 5.0.11 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/5.0.11)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v5.0.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-18 16:57] nartc commented on #86
@AliYusuf95 please test the latest version out. If the problem still exists, please open a new issue with a repo that reproduces your issue. That would help me pinpoint the issue. Thanks!

[2020-03-19 01:45] nartc commented on #86
@AliYusuf95  my gut tells me that the problem is going to persist. I'm working on a potential fix which will be released soon.

[2020-03-19 14:02] AliYusuf95 commented on #86
@nartc please check this repo https://github.com/AliYusuf95/ng-automapper to reproduce

[2020-03-19 14:11] AliYusuf95 commented on #86
In not sure but I think it happed from lazy loading of the modules, I just tried this and it works fine:
[code]

[2020-03-20 14:17] nartc commented on #86
:tada: This issue has been resolved in version 5.0.12 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/5.0.12)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v5.0.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-20 14:47] nartc commented on #86
@AliYusuf95 Confirmed 5.0.12 fixed the unique key issue. However, I needed to turn on `emitDecoratorMetadata: true` in `tsconfig.json` because `AutoMap()` decorator is trying to grab the type of the properties using `reflect-metadata`. If you don't have `emitDecoratorMetadata` turned on, you'd need to explicitly map the properties using `forMember`
![image](https://user-images.githubusercontent.co

[2020-03-22 12:13] AliYusuf95 commented on #86
@nartc Class mapping issue solved.

However, if you dealing with `Profiles` you will face an issue that related to this one.
[code]

Do you want to create a separate issue for this? I already create reproduce for this https://github.com/AliYusuf95/ng-automapper/tree/profile

[2020-03-22 13:26] nartc commented on #86
Please create a separate issue for this one.

[2020-03-23 11:34] AliYusuf95 opened #87 "Angular: Error while registering profiles from lazy loaded modules"
## I'm submitting a...
<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
After building my angular app with optimizing flag, the mapper throws this error
`Error: u is already existed on the current Mapper instance`

## Expected behavior
It should work in angular

## Minimal reproduction of the pro

[2020-03-23 13:08] nartc commented on #87
Can you please check the latest version, which is 5.0.13, out?

[2020-03-24 08:31] AliYusuf95 commented on #87
@nartc It's working now with version 5.0.13

[2020-03-24 12:34] #87 closed

[2020-03-24 20:50] AliYusuf95 commented on #81
Hi @nartc , I still face this issue with the latest version `5.0.13`

[code]

To reproduce the issue: https://github.com/AliYusuf95/ng-automapper/tree/extend

As you can see, when it tries `getMetadata` to `instantiate` the `ProfileDto` property, it can't find the proper mapping for it.

![image](https://user-images.githubusercontent.com/17704100/77475523-06ccfa80-6e2a-11ea-88d3-fea57a19a72a.png)

[2020-03-28 22:06] gpa opened #88 "Support for transforming plain objects to classes"
## I'm submitting a...
<pre><code>
[ ] Regression
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[x] Support request
</code></pre>

## Current behavior

I'm trying to convert a plain object, coming from a web request, to a dto.
Basically I'm trying to avoid class-transformer and I've written the following transform pipe for nestJs:
[code]
To make this work I had to add the m

[2020-03-28 23:19] nartc commented on #88
Hi @gpa , thanks for opening the issue. Providing this feature should be easy because internally, AutoMapper needs to do something like this already. All I have to do is to expose this function https://github.com/nartc/mapper/blob/master/src/metadata-explorer.ts#L111 to the public API.

However, let's take a look at your specific use-case. Why do you need to transform the incoming request to a DTO

[2020-03-29 01:04] gpa commented on #88
hi @nartc, thanks for quick reply.
[code]
[code]
Even though I marked the request param `@Body() registerUserDto: RegisterUserDto` as dto, NestJs will pass a plain object unless I install class-transformer, so that the mapping to entity will fail. Many other frameworks will pass plain objects as well. I guess passing dtos to services is less common but the use-case is really the transforming of re

[2020-03-29 02:29] nartc commented on #88
Thanks for providing the information. With your use-case, I believe you can just provide extra information to `this.mapper.map()` so AutoMapper has more information about your DTO.

I am fully aware of the fact that TypeScript can be "lied" to about the actual type of an object (whether it is an instance of a class or just a Plain Object). That's why, `map()` has a couple of overloads you can make

[2020-03-29 05:02] gpa commented on #88
Yes it works, thanks. I'm pretty sure I had it like this at some point but then tried to do the transform as early as possible to keep my services "pure" and strongly typed so I think that's how I ended up creating this issue.
Well this is a minor inconvenience at best. A small part of me still would liked to see a object to class feature and probably the inverse, especially since class-transforme

[2020-03-29 13:15] #88 closed

[2020-04-10 20:38] AliYusuf95 opened #89 "Error when try to map plain object with properties of class type"
## I'm submitting a...

<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
I can't map an object to class that has properties of type class
[code]
[code]

## Expected behavior
Able to map pain object

## Minimal reproduction of the problem with instructions
To reproduce the issue: https://github.co

[2020-04-11 13:27] #89 closed

[2020-04-11 13:40] nartc commented on #89
Thanks for reporting. The error has been addressed. However, TravisCI seems to be under maintenance so it could be a while before the new version's published. Sorry for the inconvenience.

[2020-04-11 16:18] nartc commented on #89
:tada: This issue has been resolved in version 6.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/6.0.4)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v6.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-15 04:18] edu1525 opened #91 "SnakeCaseNamingConvention not found"
## I'm submitting a...

<pre><code>
[ ] Regression
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ x ] Support request
</code></pre>

## Current behavior
SnakeCaseNamingConvention not found when trying to set global settings config. Where can I find it?

</code></pre>

[2020-04-15 04:24] nartc commented on #91
Hi,

It is exported here https://github.com/nartc/mapper/blob/master/src/conventions/index.ts

If the problem persists, can you provide a reproducible repository?

Thanks

[2020-04-15 04:46] edu1525 commented on #91
Thanks for the answear !
The real problem is: When I map an object with snake case convention, then the destination object is generated with undefined values for that fields. Is there any configuration I need to do?

[2020-04-15 12:37] nartc commented on #91
@edu1525 Maybe not you missing something. Maybe the SnakeCaseConvention has never worked correctly. Would you mind providing a repro? So I can take a look and maybe fix a potential bug?

[2020-04-15 13:23] edu1525 commented on #91
I'm using the same model as source model and destination model:
`export default class UserRequest {
    id!: number
    external_id!: string
    gateway_id!: string
    email!: string
    first_name!: string
    last_name!: string
    phone!: Phone
    identification!: Id
    address!: Address
    description!: string
    app_id!: number
}
class Phone {
    area_code!: string
    number!: string
}

[2020-04-15 14:16] nartc commented on #91
I see.

[code]
This is to create the mappings for some models. And you did not configure any of the mapping (no `forMember`) manually.

You'd need to use the `@AutoMap()` decorator (or `createMapMetadata()`) to help `AutoMapper` store the metadata first on fields that you want to automap (without using `forMember()`). Or else you'd get this:

[code]

Or, you can try to leverage the plugin: https:/

[2020-04-17 13:05] nartc commented on #91
Hi, I'm closing this issue. If you still have problem with it, please open a new one. Thanks

[2020-04-17 13:05] #91 closed

[2020-04-27 02:54] cesc1802 opened #109 "I have a question about reverseMap() function."
I create a profile by using function createMap(), and i need to convert some field has type Date to string. Now, I want to when i receive data from client using reverseMap() with convert again string to Date. Pls help me provide some example. Thanks

[2020-04-27 03:16] nartc commented on #109
[code]

When working with `Date Time`, it's quite tricky because `AutoMapper` cannot determine how you want to convert a `Date` to a `string` (https://automapper.netlify.app/docs/usages/features/date-time). When you have a conversion from `Date <-> string`, it's best to use `mapFrom()` to handle these cases.

[code]

If you have a more complex use-case for this type of conversion, then I'd suggest

[2020-04-27 08:16] cesc1802 commented on #109
@nartc thanks for support as soon. i will completed follow your sample

[2020-04-27 14:55] cesc1802 opened #110 "i dont know why i can do mapper 2 object without @AutoMap()"
i have two object called user and userDto.
[code]
[code]
[code]

when i perform sql by using `SELECT user.id, user.passowrd, Addr.addr FROM user LEFT JOIN Addr ON Addr.id = user.addrId`. I receive object  {id, name, addr}

although I don't have any @AutoMap() for addr, but when I do Mapper.map(userObject, userDtoObject, User). i also have value addr for userDTO.

[2020-04-27 15:21] #109 closed

[2020-04-27 20:02] nartc commented on #110
I believe this can be closed?

[2020-04-30 18:26] #110 closed

[2020-05-08 21:59] jmplahitko opened #123 "Source property with value of `false` will map to destination property as `null`."
## I'm submitting a...

<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Source property with value of `false` will map to destination property as `null`.

## Expected behavior

Source property with value of `false` should map to destination property as `false`.

## Minimal reproduction of the p

[2020-05-08 22:07] jmplahitko opened #124 "AutoMapper thinks the string "0.00" is an empty value and maps to `null`"
## I'm submitting a...

<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

AutoMapper thinks the string "0.00" on a source property is an empty value. So, when mapping to the destination, it gets converted to `null`.

## Expected behavior

AutoMapper should preserve this string value and copy it t

[2020-05-08 22:15] jmplahitko commented on #123
@nartc - instantiate.ts line 21 seems to be the culprit. I'd fix, but I'm not sure of your intent here.

[2020-05-08 22:46] jmplahitko commented on #124
@nartc - The model in the issue description might be too simple. With the actual model I'm working wtth, I can follow the debugger through to around map.ts line 231, and somewhere before that `sourceObj` gets mutated and loses a bunch of properties. I can verify I am not using any beforeMap or afterMap functions.

[2020-05-08 22:55] nartc commented on #124
@jmplahitko thanks for reporting. I was about to say that I couldn't reproduce the this error. Can you please provide a little more complex model and its valuee so I can test it out on my end?

[2020-05-08 22:56] nartc commented on #123
Thanks for reporting. You're right. line 21 was me being dumb with null checking. The fix is already in but I'll try to get #124 resolved before pushing. Thanks again

[2020-05-08 23:06] jmplahitko commented on #124
Ah, here are a couple models that will reproduce. Seems like an issue with nested models, maybe?:
`
class ProductGood {
	@AutoMap() id!: number;
	@AutoMap() guid!: string;
	@AutoMap() brand!: string;
	@AutoMap() description!: string;
	@AutoMap() name!: string;
	@AutoMap() quantity!: number;
}

class Category {
	@AutoMap() id!: number;
	@AutoMap() guid!: string;
	@AutoMap() name!: string;
	@AutoMap

[2020-05-08 23:07] nartc commented on #124
Sweet. I'll get back to you asap. Thanks

[2020-05-08 23:08] nartc commented on #124
Also, I'd assume the mapping configuration for these models does not have anything special?

[2020-05-08 23:17] #123 closed

[2020-05-08 23:18] nartc commented on #124
@jmplahitko Thanks for reporting. That was definitely a bug. It was caused by premature return when `instantiate` runs into a nested array model. Next release should fix the issue.

[2020-05-08 23:18] #124 closed

[2020-05-08 23:21] nartc commented on #123
:tada: This issue has been resolved in version 6.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/6.2.1)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v6.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-08 23:24] jmplahitko commented on #124
That is correct, just same model-to-model mappings.

[2020-05-08 23:35] nartc commented on #124
Please test the latest release out and let me know if it fixes your issues.

[2020-05-09 21:15] nvdnkpr opened #125 "Is the NPM package broken ? There is no dist folder in it."
Also there version number seems to be 1.1.X. So where is the  announced (v)6

[2020-05-09 21:17] nartc commented on #125
Sorry for the inconvenience. This is the 2nd time that it happens. I’ll take a look asap.

[2020-05-09 21:17] nvdnkpr commented on #125
No problem, just wanted to tell you since it's a cool package. Playing with it along other tools.

[2020-05-09 21:18] nvdnkpr commented on #125
Guess the version thing is the same issue...

[2020-05-09 21:24] nvdnkpr commented on #125
You seem to use semantic-release (👍 ), so the version number get incremented automatically. However, I would suggest you use the version number 0.0.0 which generally means that you semantically release. Also npm would then complain instead of allowing you to publish your package.

[2020-05-09 21:38] nartc commented on #125
@nvdnkpr Thanks for the suggestion. Can you please give it a try now? I can install the package locally now.

[2020-05-09 21:39] nartc commented on #125
And thanks for the kind words. It'd be super helpful if you could throw any idea for the library my way.

[2020-05-09 21:50] nvdnkpr commented on #125
That's the least I can do.

I tried to install it, with the same result. Are you on gitter ? I think I might have found your problem.

[2020-05-09 21:52] nartc commented on #125
I'm not on gitter but I'm on Discord (Chau#9478)

[2020-05-09 21:53] nvdnkpr commented on #125
ok wait a min :)

[2020-05-10 01:09] nartc commented on #125
@nvdnkpr it seems that the issue is consumer's error. I'll close this issue. Thanks again

[2020-05-10 01:09] #125 closed

[2020-05-20 02:43] mohammad-khooie opened #136 "Error when try to map two classes"
## I'm submitting a...

<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

I want to try this library so I decide to map this class
`
class CreateProjectDto {
  @IsNotEmpty()
  @AutoMap()
  title: string;

  @IsNotEmpty()
  @AutoMap()
  description: string;

  @IsNotEmpty()
  @AutoMap()
  requestE

[2020-05-20 03:10] nartc commented on #136
Can you please share the code where you call .map() ?

[2020-05-20 12:44] mohammad-khooie commented on #136
this is my service class that use automapper although I do not call this service and this error happens before service call
@Injectable()
export class ProjectService {
  constructor(
    @InjectModel(Project)
    private projectRepo: typeof Project,
    @InjectMapper()
    private readonly mapper: AutoMapper,
  ) {}

  async add(_projectObj: CreateProjectDto): Promise<ProjectRoDto> {
    const pro

[2020-05-20 13:03] nartc commented on #136
@mohammad-khooie I am pretty confident that `_projectObj` isn't really an instance of `CreateProjectDto`. Try `this.mapper.map(_projectObj, ProjectRoDto, CreateProjectDto)`?

[2020-05-20 13:37] mohammad-khooie commented on #136
I also took this issue with another issue I want to send, so the issue occurred while calling the service
and this.mapper.map(_projectObj, ProjectRoDto, CreateProjectDto) works correctly
thanks for help

[2020-05-20 13:38] #136 closed

[2020-05-24 00:23] mohammad-khooie opened #139 "get undefined in output properties"
## I'm submitting a...

<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

at first thanks for your great library
I have a strange problem (get undefined in output properties)
The following steps are to reproduce:
[code]
when I want to map Professor to ProfessorRoDto I get undefined properties in

[2020-05-24 13:21] nartc commented on #139
I think you misspelled `university` on `Professor` entity.
![image](https://user-images.githubusercontent.com/25516557/82755171-90039d80-9d97-11ea-96a3-3d79a25e9448.png)

[2020-05-24 16:13] #139 closed

[2020-06-11 09:03] AliYusuf95 opened #147 "Mapping from class that don't have extra properties"
## I'm submitting a...
<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
When I try to map from a class that extends another class without having extra property the mapping failed with `Error: Mapping not found for source ...`.

I tried to override a property so I can use `@AutoMap()` on it to cre

[2020-06-11 13:45] nartc commented on #147
Thanks for reporting. I have not yet to verify but I will this weekend.

[2020-06-13 03:21] #147 closed

[2020-06-13 03:24] nartc commented on #147
:tada: This issue has been resolved in version 6.3.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/6.3.10)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v6.3.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-13 03:27] nartc commented on #147
@AliYusuf95 please test the latest release to see if the problem persists. Thanks again

[2020-06-14 16:40] apiannikov opened #149 "Any mapping always returns an empty object, without any errors"
## I'm submitting a...
<pre><code>
[ x ] Regression
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Any mapping always returns an empty object, without any errors

## Expected behavior
Correct mapping

## Minimal reproduction of the problem with instructions
In versions `@nartc/automapper@6.1.2`, `nestjsx-automapper@3.0.5

[2020-06-14 16:49] nartc commented on #149
@apiannikov Thanks for reporting. What “simple mapping” are you referring to? And is 6.3.8 the last version working for you?

[2020-06-14 16:58] apiannikov commented on #149
@nartc, just any mapping to test. I just updated the packages to `@nartc/automapper@6.3.11` and `nestjsx-automapper@3.0.12`, and got the unexpected behavior.

Yes, `@nartc/automapper@6.3.8`, `nestjsx-automapper@3.0.12` are last versions that work.

[2020-06-14 17:02] nartc commented on #149
https://codesandbox.io/embed/automapper-demo-latest-42cg8?codemirror=1

This example still seems to work for me. Can you please provide a reproduce?

[2020-06-14 17:27] apiannikov commented on #149
@nartc, I just put some code,
[user entity](https://pastebin.com/vqhGVKiC)
[currentUser dto](https://pastebin.com/dpuJVxZh)
[custom mapper profile](https://pastebin.com/AGrkNYjS)
[app module with profile addition](https://pastebin.com/gjTGfVTa)
[mapping usage](https://pastebin.com/VjkgmKtZ)

[2020-06-14 17:35] nartc commented on #149
Thanks. I’ll take a look asap

[2020-06-14 21:00] nartc commented on #149
@apiannikov https://github.com/nartc/nestjsx-automapper-bug-149 I cannot reproduce the bug with the provided models + mapping configuration. I'm using `nestjsx-automapper@3.0.13` and `@nartc/automapper@6.3.11` (check `package.json`)

[2020-06-15 08:59] apiannikov commented on #149
Sorry for wasting your time. I checked imports of AutoMapper, they were all from `@nartc/automapper`, as described in [docs](https://automapper.netlify.app/docs/nest). And it worked till the version `6.3.11`. But now I've changed imports to `nestjsx-automapper` and it works.

[2020-06-15 11:26] nartc commented on #149
@apiannikov I see. That’s weird. Can you show the exact imports you used? maybe a TS3.9 problem since nestjsx-automapper just pass through some imports for ease of importing

[2020-06-15 13:53] nartc commented on #149
@apiannikov I have just tested by changing all imports to `@nartc/automapper` instead of `nestjsx-automapper`. I'm pretty confident that you'd had run into a problem with conflicting library version. Let me elaborate

`nestjsx-automapper` has a hard `dependencies` on `@nartc/automapper` which internally, `nestjsx-automapper` is dependent on specific version of `@nartc/automapper`. When you install

[2020-06-15 13:53] #149 closed

[2020-06-20 13:02] farid009 opened #153 "strange problem when I use auto mapper in docker container"
## I'm submitting a...

<pre><code>
[ ] Regression
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Hi thanks for your great library I have strange problem when I use auto mapper in docker container
whereas when I use auomapper in my host os every thing is okey
when I run my project in docker container I get this error
 Ma

[2020-06-20 13:02] farid009 opened #154 "strange problem when I use auto mapper in docker container"
## I'm submitting a...

<pre><code>
[ ] Regression
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Hi thanks for your great library I have strange problem when I use auto mapper in docker container
whereas when I use auomapper in my host os every thing is okey
when I run my project in docker container I get this error
 Ma

[2020-06-20 13:13] nartc commented on #153
Hi @farid009 , thanks for reporting. Would you be able to provide a simple reproduce? Since it involves Docker, it would be better if u could provide a minimal reproduce so it’s sure that I am trying to reproduce the bug on your exact environment. Thanks

[2020-06-20 14:36] farid009 commented on #154
I try to make example to reproduce the problem and I found when NODE_ENV set to production this problem happens
this is my example
https://github.com/farid009/test_automapper_docker.git

[2020-06-20 14:39] farid009 commented on #154
for running the project
docker-compose build
then
docker-compose up
get http://127.0.0.1:8090/ to find the problem in console

[2020-06-20 15:26] nartc commented on #154
@farid009 thanks for the info. I was able to reproduce it. As of the moment, I'm not sure why running in production won't trigger `onModuleInit` in `AutomapperModule`. I'm pushing a new build which disable production build for `nestjsx-automapper`. Once I gather more information on the problem, I'll update. Thanks again.

[2020-06-20 15:31] nartc commented on #154
Please update `nestjsx-automapper@3.0.14` and see if your issue still persists. I can confirm the issue is resolved. If you still run into other problems, please open the issues over at: https://github.com/nestjsx/automapper repo

[2020-06-20 15:31] #154 closed

[2020-07-15 19:19] ThijmenMaus opened #165 "Naming convention does not exist (version 6.3.14)"
## I'm submitting a...

<pre><code>
[   ] Regression
[ X ] Bug report
[   ] Feature request
[ X ] Documentation issue or request
[ X ] Support request
</code></pre>

## Current behavior

I got two models:
[code]
and
[code]

when I try to map them like this:
[code]
it gives me the following error: `Cannot find name 'PascalCaseNamingConvention'.ts(2304)` - Which (of course) means it's not imported,

[2020-07-15 21:29] knopki commented on #165
Temporary workaround:
[code]

[2020-07-15 23:44] #165 closed

[2020-07-15 23:47] nartc commented on #165
:tada: This issue has been resolved in version 6.3.15 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/6.3.15)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v6.3.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-20 03:28] micalevisk opened #169 "`convertUsing` value selector must not return a falsy value?"
## I'm submitting a...

[code]

## Current behavior

Due to the code snippet below -- where `value` is a [`Selector<TSource, TConvertSource>`](https://github.com/nartc/mapper/blob/3246da51b8ab49a966074a0baaa7022ed6891469/src/types.ts#L29)
https://github.com/nartc/mapper/blob/3246da51b8ab49a966074a0baaa7022ed6891469/src/member-functions/convert-using.ts#L21-L24
if the value selector return some fal

[2020-07-20 03:39] nartc commented on #169
@micalevisk thanks for the issue. That is definitely a bug which is an oversight on my part when I made `convertUsing` to allow for **NOT PASSING** in `valueSelector()`. That way, I can pass the whole `source` object to the `Converter`. Eg:

[code]
if your converter is expecting the whole `source` object. That is a valid concern so I'll fix it ASAP.

[2020-07-20 04:02] #169 closed

[2020-07-20 04:06] nartc commented on #169
:tada: This issue has been resolved in version 6.3.16 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/6.3.16)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v6.3.16)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-27 21:28] micalevisk opened #173 "Any way to work with mapped types from `@nestjs/swagger`"
I want to use utility functions like `OmitType` (provided by [`@nestjs/swagger`](https://github.com/nestjs/swagger) lib) to do something like this:

[code]

but the annotations generated by `@AutoMap()` decorator are not inherited when using these helpers functions, so all props annotated with `@AutoMap()` will not be auto mapped by the mapper (since they're aren't identified).

Maybe this is a li

[2020-07-27 23:27] nartc commented on #173
Interesting. I'll have to take a look and will let you know ASAP if it's a go or no-go. Thanks for the issue

[2020-07-31 14:33] nvdnkpr opened #175 "Access to already resolved destination properties when using resolve"
Hello @nartc,
I'm curious about the purpose of the destination object in the resolver. Is there any way for e.g. User (title, first, last) to UserVm(first, last, fullName, fullTitle) where the mappings are:
 - `d.first -> s.first`
 - `d.last -> s.last`
 - `d.fullName -> s.first + '  ' + s.last`
 - `d.fullTitle -> s.title + '  ' + d.fullName` (option 1)

I know there is always (option 2) where `d.f

[2020-07-31 14:42] farid009 opened #176 "please disable not map assertion error in inherited classes when the base class not included in createMap function"
## I'm submitting a...
<pre><code>
[ ] Regression
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
throw not map assertion error for inherited class although base class not included.
I have this entity
<pre><code>
@Entity()
export class Customer extends BaseEntity {
  @OneToOne(() => User, { eager: true, primary: true })

[2020-07-31 15:11] nartc commented on #176
Although .NET AutoMapper (C#) is really strict regarding Unmapped Properties, I get that we shouldn't be that strict in JS/TS world. I'm going to add a global settings to disable assertion. Would that be ok?

[2020-07-31 15:28] farid009 commented on #176
I think yes
its very cool

[2020-07-31 15:51] nartc commented on #176
It won't be today though. Super busy at work at the moment.

[2020-07-31 16:36] farid009 commented on #176
ok thanks for now I use version 6.3

[2020-08-01 20:15] nartc commented on #175
The order of the mapping configurations is reversed (due to the reason we talked about on Discord). So if you want to access `d.fullName` in `d.fullTitle`, do the following:

[code]
`d.fullName` is configured last so it will be mapped first.  If you were to use any Member Map that has access to `destination` object, you would have access to `d.fullName`.

Another approach is to use `afterMap` like

[2020-08-01 20:15] #175 closed

[2020-08-01 20:22] nartc commented on #176
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/6.5.0)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-01 20:22] #176 closed

[2020-08-05 13:36] nartc commented on #173
Not sure if I have time this weekend to look into this. I'm going to put this in the backlog for now.

[2020-08-05 22:42] micalevisk commented on #173
It's fine :+1:

You can download a minimal reproduction here later: https://codesandbox.io/s/nartcautomapper-issue-173-wv1s0
See `src/app.profile.ts` and the response at http://localhost:3030/docs using the <kbd>Try it out</kbd> button.

[2020-08-10 11:22] He-Wolf opened #181 "name/value pairs are in reverse order in JSON after mapping"
Hello @nartc ,

I must thank you for the excellent job you do with this module. It fills a huge gap in Nest/Ng context.

I have just started to use the module, and I have a minor issue. Maybe I am doing something wrong.

I am developing a simple todo Nest.js API, and I use Automapper to map entity class to Dto class. Everything works fine, but after mapping something strange happens: the JSON name

[2020-08-10 18:31] nartc commented on #173
@micalevisk Looking at `nestjs/mapped-types`, it seems that the mapped types only inherit Validation and Transform metadata (`class-transformer` and `class-validation`). What I can do is to add some mixins to `nestjsx-automapper` (instead of this package) to extend the functionality of the `mapped-types` but with the addition of `@AutoMap()` decorator. Hence, I'm going to open an issue over at `ne

[2020-08-10 18:31] #173 closed

[2020-08-10 18:33] nartc commented on #181
I have an idea to fix this. Thanks for reporting.

[2020-08-10 20:54] #181 closed

[2020-08-10 20:59] nartc commented on #181
:tada: This issue has been resolved in version 6.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/6.5.1)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v6.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-11 02:08] nartc commented on #181
@He-Wolf Actually, just realize you use nestjsx-automapper so I need to cut a new release for that so it has the latest changes as well.

[2020-08-11 06:28] He-Wolf commented on #181
Yes, you are right. I should have opened the issue in nestjsx-automapper repo. :)
Anyway, that you for the quick response and correction!

[2020-08-13 14:17] farid009 opened #182 "auto mapper not map number array(number[]) to another number array correctly"
## I'm submitting a...
<pre><code>
[ ] Regression
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
auto mapper not map number array(number[]) to another number array correctly
I create a small simple repo for showing the problem
https://github.com/farid009/test_automapper_docker

## Environment
<pre><code>
"@nartc/automapp

[2020-08-16 18:15] manuelnucci commented on #68
I'm implementing an inheritance similar to the one @vip30 proposed, using the { includeBase: [sourceParentEntity, destinationParentEntity] } object options. However, the properties mapped from one class to the other are just simply ommited once the mapping finishes.

Here are the classes and profile involved:

[code]

[code]

All profiles were imported in a module (not the same but doesn't matter)

[2020-08-16 22:22] nartc commented on #68
@manuelnucci You'd need to decorate the fields with `AutoMap`, otherwise, TypeScript will not see the fields in the class.

[code]
Now `id` will be mapped automatically. Also, I noticed you use `Expose` from `class-transformer`, is it related to automapper at all?

[2020-08-16 22:42] manuelnucci commented on #68
Yes, indeed! My mistake, didn't want to complicate the example and forgot to remove them.

I forgot to mention that I'm using the _Transformer Plugin_ in a NestJS app. So, as my understanding, those decorators shouldn't be necessary. Perhaps as we're dealing with a mix of inheritante and profiles, the decorators should be necessary.

I'll try your proposal and reach out to you with the result.

[2020-08-16 22:44] #182 closed

[2020-08-16 22:48] nartc commented on #182
:tada: This issue has been resolved in version 6.5.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/6.5.2)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v6.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-16 23:47] nartc commented on #68
@manuelnucci Lemme know if it works ad intended **with** the decorators. If it does, then we know it’s the plugin problem. When that’s the case, would you please open an issue on the transformer plugin repo so we can properly track the issue? Thank you in advance

[2020-08-17 12:42] manuelnucci commented on #68
@nartc Ok, I proceed to add the decorator @AutoMap to **both** classes, _BaseEntity_ and _ResponseBaseEntity_. It must be in both to work properly. Somehow the plugin doesn't recognize the fields in the parent classes.

I'll create a new issue to track and fix this.

[2020-08-17 15:04] farid009 commented on #182
thanks

[2020-08-17 16:59] manuelnucci opened #185 "Handle promises inside mapWith TransformationType callback"
## I'm submitting a...
<pre><code>
[ ] Regression
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
When mapping a property wrapped in a promise, mapper cannot retrieve the actual value of it. The only workaround that I've found is implement a mapWith transformation inside Profile and manage promise there. However, as the c

[2020-08-17 17:18] nartc commented on #185
Quick work around would be to use an `afterMap` callback. I am going to copy what you have in SO:

[code]

[code]

We're going to focus on the `Profile`

[code]

However, since `afterMap` is now an async callback, it will run at the end of the current Event Loop, you will need to use the `mapAsync` version of `AutoMapper`.

[code]

[2020-08-18 14:29] manuelnucci commented on #185
Sorry it took me some time to reply. I was making tests with the code you provided. As expected, works great and allows me to handle promises inside profile class.

Nevertheless, my initial problem arose from the fact that I wanted to use lazy loading as much as I could inside a NestJS app using TypeORM. As I continued digging a bit further in the documentation and in some issues, I see now that i

[2020-08-20 18:11] nartc commented on #185
@manuelnucci you are correct. `AutoMapper` does not support Promises natively. One reason is that `AutoMapper` because mapping configurations are pretty static and usually are constructed (and should be ready) before any of the app's operations.

With that said, I will still consider adding Promises support to `mapDefer` because as you said, you should be able to configure a transformation on a `d

[2020-08-20 23:59] manuelnucci commented on #185
Great to know. Agree with you that it should be implemented in a schema all or one. Thanks for the notice.

[2020-08-24 12:48] manuelnucci commented on #185
@nartc Ok, thanks for the notice. I'll stick to use `afterMap` for now. Hope to use as less promises as I can then.

[2020-09-21 02:01] nartc opened #207 "fix: rework circular dependencies"
## I'm submitting a...

<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Current behavior of Circular Dependencies (aka `InstanceStorage`) only handles the following case:

[code]
or `SourceA <-> SourceB`

And also the way the `depth` works isn't really consistent (confusing) which makes maintai

[2020-09-21 15:07] AliYusuf95 opened #208 "Mapping uppercase properties and case sensitivity"
## I'm submitting a...
<pre><code>
[ ] Regression
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
**1-** If I have a property key `UpperCase` in both source and destination classes it'll throw an Error
[code]

**2-** If I have a property key `upperCase` and `UpperCase` it'll map both properties with `upperCase` value.

##

[2020-09-21 17:44] nartc commented on #208
https://automapper.netlify.app/docs/usages/features/naming-convention have you checked out this docs?

[2020-09-21 18:13] AliYusuf95 commented on #208
@nartc Yes I did, the thing that I have to use a naming convention for the source/distention but in my case I don't have a fixed convention.

I thing the default behavior should map between the properties that having same name unless we specify a naming convention or the library should ship with it an implementation for such behavior.

[2020-09-21 18:36] nartc commented on #208
My initial thought that that would not be possible given that the library needs to ship `Flatten` capability. But I'll think about this a little bit more then I'll get back to you.

[2020-09-22 03:00] #207 closed

[2020-09-22 03:04] nartc commented on #207
:tada: This issue has been resolved in version 7.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@nartc/automapper/v/7.0.3)
- [GitHub release](https://github.com/nartc/mapper/releases/tag/v7.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-22 08:57] AliYusuf95 commented on #208
@nartc for now I implemented this convention to solve my problem, but I'm not sure if it'll cover all scenarios

[code]

[2020-09-22 12:14] nartc commented on #208
What exactly does this naming convention do?

[2020-09-22 13:07] AliYusuf95 commented on #208
In my case, I don't want to use naming conventions for automatically mapping.
I just want to map whatever key on the source to its corresponding key in destination and if I have customization I'll use `forMember` to do it.
For example if I have these classes:
[code]
I expect that mapping will work without any extra configration.
That's what I'm trying to achieve with my `FlattenConvention`, and it

[2020-09-22 14:46] nartc commented on #208
@AliYusuf95 I see. I might be able to provide a `MixedConvention` mode for cases like yours. But it's gotta be a configuration because I need to keep the CamelCaseNamingConvention as default.

[2020-10-15 20:21] kami4ka opened #215 "Mapping with both null and undefined"
This mapper is the most powerful and maintained that I've seen and I appreciate all the job done.

I have a question regarding this mapper.
My app architecture consists of 3 layers: API, domain and database.
While using PATCH I'd like to be able to differentiate `null` and `undefined` on the database layer entities.

So my question: is it possible to keep `undefined` properties as `undefined` and

[2020-10-22 00:20] nartc commented on #215
@kami4ka Sorry for getting back to you this late. Thanks for the kind words. And thanks for reporting the issue. As of the moment, it's not possible unfortunately. It's either `null` OR `undefined` at this point. However, it's entirely possible to fix. With that said, there's also #208 where I'd love to spend a little more time into rethink how I want defaults in AutoMapper to take shape.

I'll lo

[2020-10-22 08:31] kami4ka commented on #215
@nartc Thanks for the response. Can you please suggest if it's possible somehow to fix the behavior locally?

[2020-10-22 14:57] nartc commented on #215
@kami4ka I'm thinking that it's possible and probably is going to require some work. If you could provide a sample repo then I can jump in and hack at it.

[2020-10-22 16:49] santhoshprogrammer94 opened #219 "Generic Mapping"
How to map generic classes

For example:

`mapper(PagedModel<GetCustomerBase>,GetCustomerResponse)`

;

[2020-10-22 17:17] nartc commented on #219
It's not possible because this syntax `PagedModel<GetCustomerBase>` isn't available at runtime. I know what you want to achieve but it'd be helpful if you can provide your specific use-case then we can come up with workaround.

[2020-10-23 03:59] santhoshprogrammer94 commented on #219
![Screenshot 2020-10-23 at 9 26 50 AM](https://user-images.githubusercontent.com/44298661/96954896-0147a800-1512-11eb-8c54-bfd1b548a9be.png)
![Screenshot 2020-10-23 at 9 26 07 AM](https://user-images.githubusercontent.com/44298661/96954904-04429880-1512-11eb-9333-86400618b7a6.png)
![Screenshot 2020-10-23 at 9 25 44 AM](https://user-images.githubusercontent.com/44298661/96954905-04db2f00-1512-11eb-

[2020-10-23 06:01] kami4ka commented on #215
It's really a quite simple example with 3 classes that contain the same fields (as we have a 3 layer app).
We're using @Automap() decorator for all the fields and just creating maps with `.createMap(Request, Domain)` and `.createMap(Domain, Entity).reverseMap()` calls.

[2020-10-23 14:59] nartc commented on #219
@santhoshprogrammer94 I'll take a look and will get back to you.

[2020-11-18 20:53] kami4ka commented on #215
Hi, @nartc . Any updates regarding this issue? Can I somehow help/contribute?

[2020-11-28 22:24] rifatdover opened #228 "Strange behaviour when test coverage active."
## I'm submitting a...

<pre><code>
[ ] Regression
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
I think this is happening because istanbul adds some extra fields for calculating coverage.
Gives errors related to some fields are not mapped.

Also some mapping not executed. Have you met any issue related that?

## Expect

[2020-11-30 03:18] nartc commented on #228
Hi @rifatdover , can you provide a sample reproduce?

[2020-11-30 07:09] apascual-ish opened #229 "Uncaught TypeError: Cannot convert undefined or null to object."
Hi, I've encountered issue on `Object.getOwnPropertyNames(node)` under `getPathRecursive` function when the node is null or undefined. Here is the screenshot.

![image](https://user-images.githubusercontent.com/60680092/100577978-4f737680-331c-11eb-99a1-670ebccbf672.png)

It happens when trying to map, FormControl to String Type variable.

[code]

I think it might be better if you would check firs

[2020-12-04 18:31] nartc commented on #229
Thanks for reporting.

[2020-12-07 12:33] abouroubi opened #236 "When setting useUndefined to true, null value are mapped to undefined."
Hi,
I'm having an issue trying to map objects that have null values, here is my example:
[code]

And here is the resulting mapping:
[code]

The issue here is that the description field was changed to undefined, and the createdAt was initialized with new Date().
How should I configure automapper, so that undefined values stay undefined, null values stay null, without ignoring them because it's not

[2020-12-07 13:47] abouroubi commented on #236
Never mind, I just noticed that it's tracked by #215

[2020-12-07 13:47] #236 closed

[2020-12-07 13:47] abouroubi commented on #215
Would love to see this feature too, I can help if needed

[2020-12-07 23:14] leandro-manifesto commented on #219
The difference to .NET is that there generic classes are bound to their generic parameters to generate the `Type`s used in runtime, so `PagedModel<Something>` and `PagedModel<SomethingElse>` are different `Type`s and Automapper has access to all involved types through reflection.

In TypeScript, the compilation to JavaScript erases the generic information, kinda like Java. At runtime, `PagedModel<

[2020-12-07 23:17] leandro-manifesto opened #237 "[Feature Request] Type Converters"
Hey there. I've been searching for a library to handle the data conversion for a while and found this.
Unfortunaly it is missing the Type Converters compared to the .NET version.

For example, I would like to be able to convert between `luxon`'s `DateTime` and `@google-cloud/firestore`'s `Timestamp` without having to define the mappings for every field manually. From my understanding that's what T

[2020-12-07 23:40] nartc commented on #237
TypeConverters are particularly tricky to implement with TypeScript since TypeScript's Reflection capability is very lacking. The code base, as of the moment, does not prepare for type converters support which makes it even harder to ask for PR to be honest :(

For this case, the best route to go is ValueConverter and manually mapping those fields. `createMap()` and `forMember()` returns a `Create

[2020-12-07 23:40] #237 closed

[2020-12-08 00:00] nartc commented on #219
@leandro-manifesto Reflection might be able to get the type but what about the syntax of generics models when using the API like `createMap()` since `PagedModel<Generic>` is syntactically wrong :)

[2020-12-09 17:21] leandro-manifesto commented on #219
Unfortunately it's not available.

Check https://github.com/Microsoft/TypeScript/issues/3015#issuecomment-128149650 and https://github.com/microsoft/TypeScript/issues/3628.

The alternative is to use some kind of compile-time generation.

[2020-12-09 17:40] leandro-manifesto commented on #219
@santhoshprogrammer94 basically the `createMap(PagedModel<GetCustomerBase>, GetCustomerResponse)` syntax is invalid because the generic portion isn't available during runtime.

The correct one would be `createMap(PagedModel, GetCustomerResponse)`, but that is pretty much useless.

[2020-12-15 22:59] patrykdawid opened #242 "Inject into custom profile class"
Hi!
Short question: can (how) it is possible to inject into the profile (class extends ProfileBase) an additional object apart from the mapper?

[2020-12-16 03:21] nartc commented on #242
At the moment, no. If you want to have external services to interfere with the mapping, then try `beforeMap` and/or `afterMap` instead.

Not saying that this is not needed but at the moment, I'm working on some core stuffs to plan for the next release which I'm not going to be able to add more features.

[2020-12-16 03:21] #242 closed

[2020-12-16 12:28] patrykdawid commented on #242
I understand that there is no time now - such a profession :)

Will you enter the library development in this respect on the TODO list? I am happy to download an update of the new version with this functionality in the future!

Do you have a list of things to come in the near future somewhere? You wrote that you were working on something.

Back to my topic:
You are suggesting that I use 'beforeMap

[2020-12-16 14:54] nartc commented on #242
@patrykdawid Yup. The Profile rework is on the agenda. For a list of things, I can share a little bit:

- AutoMapper will be in a monorepo
- AutoMapper will provide a core lib, a classes plugin (to map with classes, exactly like AutoMapper does today, with some improvements), an interfaces plugin (to map with plain objects which mean you can map with interfaces), and a Nest wrapper.
- AutoMapper w

[2020-12-16 15:11] patrykdawid commented on #242
Thank you!
The wishlist is great :) Good luck!

[2020-12-16 15:15] patrykdawid commented on #242
PS
Information about using `beforeMap` and` afterMap` when calling `map` is missing or I did not find it, and doing this is actually a workaround for my problem.

[2020-12-16 15:21] nartc commented on #242
@patrykdawid the information about Map Callbacks is in https://automapper.netlify.app/docs/usages/features/callbacks . Glad that it helped you out as a workaround.

[2020-12-17 18:08] nartc opened #243 "Announcement: Changes and Project status"
Hi all,

Thank you all for using/giving `@nartc/automapper` a try. I have some announcement to make regarding the project status.

First and foremost, the updates for the project have been slow. The reason is I've just changed job recently and I'm still adapting to the new workplace so there's less time on my part to work on personal projects like `@nartc/automapper`. Also, my wife and I are expec

[2020-12-17 18:09] nartc commented on #208
Closing this due to #243 . I won't be adding this to the current `@nartc/automapper` as stated in the announcement. That said, this will be available in the new version. Sorry for any inconvenience.

[2020-12-17 18:09] #208 closed

[2020-12-17 18:10] nartc commented on #215
Closing this due to #243 . I won't be adding this to the current @nartc/automapper as stated in the announcement. That said, this will be available in the new version. Sorry for any inconvenience.
cc @kami4ka @abouroubi. Sorry for the long delay and ultimately close the issue without a solution. Please read the announcement for the reasons and future changes. Thanks for understanding.

[2020-12-17 18:10] #215 closed

[2020-12-17 18:11] nartc commented on #219
Closing this due to #243 . I won't be adding this to the current @nartc/automapper as stated in the announcement. This still be an area where I'd like to investigate further in the future. Sorry for any inconvenience.

[2020-12-17 18:11] #219 closed

[2020-12-18 21:07] ma-abdn opened #244 "Map object to object"
## I'm submitting a...

<pre><code>
[ ] Regression
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

The map function accept a source object and the definition of Source and Destination
It would be great if there is another map function that accept the source object + destination object.
My goal is instead of map source object to a new created

[2020-12-18 21:33] nartc commented on #244
Hi @ma-abdn thanks for the feature request. I understand this request completely and I notice it's something available in the AutoMapper .NET as well which qualifies the request a valid request. However due to reasons stated here #243 , I won't be adding this feature to `@nartc/automapper` and will be supporting this feature in the upcoming changes. I'll reference this in #243 and will be closing

[2020-12-27 00:27] caiopiassali commented on #228
I have a similar issue using this package under [NestJSX Automapper](https://github.com/nestjsx/automapper) wrapper and NestJS.

When I run my application, automapper works as expected. But when I run it inside test files with jest some mapping errors occurs.

Here is my code:
[code]

And my Profile class:
[code]

And finally, my test file:
[code]

Here is the error output from jest.
[code]

## En

[2020-12-27 02:49] nartc commented on #228
@rifatdover Thanks for providing the info. I'll take a look tomorrow.

[2020-12-28 00:03] AliYusuf95 commented on #243
Thanks for your awesome effort￼ @nartc, creating this library and continue supporting it.￼￼ I wish you good luck in your job and may god bless the new baby 😄.

It's good plan to have a core and plugins to do the work, which might make thing easier and cleaner specially when using [class-transformer](https://github.com/typestack/class-transformer) at the same time -a plugin to make both auto-mapper

[2020-12-28 02:51] nartc commented on #243
@AliYusuf95 Thanks for the kind words.

[2021-01-02 04:55] nartc commented on #243
Update: https://github.com/nartc/mapper/tree/main the refactor is on this branch if anyone is interested to check out.

I'll be working on docs and nestjs integration tomorrow. Hopefully I can be in a state where I can release a beta version :)

[2021-01-04 03:27] nartc commented on #243
`1.0.0-beta.2` has been released. Please give these a go. Check out the documentation as well.
PS: migration docs is in the work
![image](https://user-images.githubusercontent.com/25516557/103498447-7258e500-4e0a-11eb-899a-46a479bde45d.png)

[2021-01-04 19:00] nartc commented on #229
This should be fixed in `@automapper/core@1.0.0-beta.3`. Please consider giving the migrations guide a look: https://automappertr.netlify.app

I'm happy to support migrating in any way I can.

[2021-01-04 19:36] nartc commented on #228
I'm going to test this one out again today with `@automapper/nestjs`.

[2021-01-05 00:10] nartc commented on #228
@rifatdover @caiopiassali I believe this has been fixed with `@automapper/*` latest beta release. I also added a sample profile test here (https://github.com/nartc/mapper/blob/main/packages/nestjs-integration-test/src/app/profiles/address.profile.spec.ts). If you have been following this repo, you'd know that I've broken up `@nartc/automapper` into `@automapper/*` with plugin-based approach. `1.0.

[2021-01-05 03:17] nartc commented on #244
@ma-abdn I'm reopening this to clarify.  When we run `mapper.someMapFn(sourceObj, destinationObj)` (`someMapFn` name is subject to change), are you expecting `destinationObj` to be mutated? or `someMapFn()` returns a new object?

[2021-01-05 03:21] caiopiassali commented on #228
@nartc i've tested with latest release 1.0.0-beta.4 and now it works fine.

About test coverage, in my case I don't care about those lines that will not be caught. Only test the result of ```map()``` for me is enough and with this beta version this is working well.

In the migration from the old version to the new, I noticed some changes that I will miss.

- The first was the removal of ```skipUnm

[2021-01-05 03:32] nartc commented on #228
@caiopiassali
1. `skipUnmappedAssertion` was put in place for preventing a thrown exception leading to an app crash. Since default `ErrorHandler#handle` is just a `console.error` now, it's not needed. Granted, you'll still see the unampped errors. If that's not something you'd like to see, please open an issue with a feature request. I can add that in no problems. One thing is I want to keep the `

[2021-01-05 13:37] nartc commented on #228
Since @caiopiassali have tested and confirmed that it works with latest beta, I’m going to close this issue.

Just a reminder, please check https://automapperts.netlify.app for info about the @automapper’s packages as well as migrations

[2021-01-05 13:37] #228 closed

[2021-01-05 15:38] nartc commented on #242
@patrykdawid check out the new `@automapper/nestjs`. This should be possible now.

[2021-01-07 15:43] ma-abdn commented on #244
It will more practical if the `destinationObj` is mutated because when dealing with an ORM if we want to merge some data to an existing object it wouldn't be possible. In other hand if we won't mutate the `destinationObj` we clone it just before.

[2021-01-07 16:01] nartc commented on #244
@ma-abdn So we're on the same page here. Do you expect to have this functionality for `mapArray` as well? ( I personally don't).

[2021-01-07 16:59] ma-abdn commented on #244
Not necessary. the map do the job.

[2021-01-07 21:42] nartc commented on #244
1.0.0-beta.6 has been released. Please try it out:

[code]
Above snippet is the API to have this map mutate functionality. Please test it out and let me know. If you run into any issue, please open a new issue :)

[2021-01-07 21:42] #244 closed

[2021-01-07 21:43] nartc commented on #229
Closing. Please open a new issue if you still run into problems.

[2021-01-07 21:43] #229 closed

[2021-01-11 10:27] boy51 opened #245 "How to use getMapperToken in jest/nestjs test module?"
Hi, so far the only way I've been getting unit tests to work is importing AutomapperModule, and mocking Automapper with ts-mockito

[code]

Thats pretty slow. I noticed there is a getMapperToken method, but I don't know how to use it. It doesn't seem to work.

Thanks!

[2021-01-11 15:04] nartc commented on #245
@boy51 Hi, `getMapperToken()` returns the token that `@InjectMapper()` uses so in theory, you can have the following:

[code]

If it didn't work, please provide a simple repro which would help me track the issue easier.

Also, please consider migrating over to `@automapper/nestjs` with this guide: https://automapperts.netlify.app/docs/migrations I am happy to support the migration in any way I can

[2021-01-11 15:36] boy51 commented on #245
Hi @nartc , thanks! Using a new instance with the token works. And indeed, I need to move to the new library, I didnt know you already moved repos.

Do you have any examples for testing profiles?

Cheers

[2021-01-11 15:36] #245 closed

[2021-01-11 15:45] nartc commented on #245
@boy51 Awesome. Glad that worked. And the new packages are beta right now but they're pretty much ready. There's one last thing I want to explore with the nestjs wrapper before I press the official release button. What do you think of:

[code]

Basically, it's an interceptor to map automatically.

[2021-01-11 16:11] pascalkania commented on #245
@nartc hey great feature. can i use it for requests and responses? or only for requests? and how can i tell the interceptor the source type?

[2021-01-11 16:20] boy51 commented on #245
In the project I'm working on we do all the mapping in services, so I wouldnt use an interceptor for mapping responses personally. Also, its not very expressive. Its a good feature, but it wouldnt be my suggested approach personally, but I might be wrong and many people out there are mapping in their controllers.

[2021-01-11 16:22] nartc commented on #245
@pascalkania something like

[code]

@boy51 thanks for the feedback. Yeah, I don't usually use an Interceptor like this in my project either but it's just an extra feature for people who want it. Like the `CacheInterceptor` where you can use `cacheManager` or you can use `UseInteceptor(CacheInterceptor)`

[2021-01-17 07:14] nartc commented on #243
https://www.npmjs.com/package/@automapper/core has been released and I also wrote a blog post: https://nartc.me/blog/automapper-typescript-1.

[2021-01-17 07:14] #243 closed

[2021-01-21 00:26] AyazSardar opened #246 "Angular 8 project using automapper"
Hi,

I am trying to use nartc/mapper 6.1.2, in my angular 8.1.2 project,  but i get errors like:
[code]

Below my user.profile.ts file

[code]

user.vm.ts:
[code]

user.dto.ts:
[code]

[2021-01-21 05:05] nartc commented on #246
Hi, `@nartc/automapper` never fully works with Angular sadly because it wasn't designed to work with Angular in the beginning. Are you able to upgrade to Angular 10.1.x? If yes, you might want to try out `@automapper/core` (docs available here: https://automapperts.netlify.app). `@automapper/core` is the new `@nartc/automapper` with better performance and usability and should be working with Angul

[2021-01-21 08:32] AyazSardar commented on #246
Thank you, i will check with the team if we can upgrade to Angular 10.1.

[2021-01-21 15:13] nartc commented on #246
Thanks for your understanding.

[2021-01-24 00:25] nartc commented on #246
@AyazSardar please reach out to me via nartc7789@gmail.com if you have any questions. I'll be able to support if you decide to migrate to `@automapper/*` from `@nartc/automapper`. I'll be closing this issue. Thanks!

[2021-01-24 00:25] #246 closed

[2021-01-24 18:35] VladDobrovolskiy opened #247 "[nestjs] MapInceptor returns empty response for Promise"
I tried to follow this guide https://automapperts.netlify.app/docs/nestjs

But it feels like MapInterceptor does not work with promises.

Here're my two code samples:

1) This one works like a charm:
[code]

2) This one does not work:
[code]
**The endpoint returns empty body in http response.**

I really like the new approach with interceptors but I don't know how to use them here.
Help me please.

[2021-01-25 02:42] nartc commented on #247
Would you be able to provide a sample reproduce repo? I can't seem to reproduce this with my setup.

[2021-01-25 18:13] #247 closed

[2021-01-27 04:56] micalevisk opened #248 "[nestjs] ESLint error: `@typescript-eslint/no-useless-constructor` on Profile code example"
Hi!

When trying to fix this lint error by removing the "useless" constructor (like the one bellow)
https://github.com/nartc/mapper/blob/618745362e1252ac4a105d28ec79abcc279bc8f8/packages/nestjs-integration-test/src/app/profiles/user.profile.ts#L8-L11
I'm getting this TypeScript error:
[code]
when passing the profiler class to the `providers` array, due to `protected` on:
https://github.com/nartc/m

[2021-01-27 12:37] nartc commented on #248
In NestJS, it is very common to have an abstract base class and pass injected (via dependency injection) services down to the base class (the same could apply to Angular as well). I’d suggest turning this rule to “off” for NestJS/Angular.

[2021-01-27 15:55] micalevisk commented on #248
Got it!

I'm fine with that. Thank you.

[2021-01-27 15:55] #248 closed

[2021-01-28 13:13] zieglar opened #249 "Use mapper.map throw error Mapping not found"
**Is your feature request related to a problem? Please describe.**
I create MappingProfile with DoctorEntity and DoctorInfoDto in nestjs project
When I use `this.mapper.mapArray(records, DoctorInfoDto, DoctorEntity)`
result is ok,
But When I use `this.mapper.map(record, DoctorInfoDto, DoctorEntity)`
throw error `Mapping not found for source function Array() { [native code] } and destination functi

[2021-01-28 13:16] nartc commented on #249
Hi @zieglar , can you please provide DoctorInfo and DoctorInfoDto models? It’d be awesome if you could provide a simple reproduce repo as well. Thanks

[2021-01-28 13:24] zieglar commented on #249
[code]

[code]

[code]

[code]

[2021-01-28 13:40] nartc commented on #249
Can I also have a sample `record` as the source object to map?

[2021-01-28 14:46] zieglar commented on #249
[code]

[2021-01-28 15:00] zieglar commented on #249
But why mapArray can map it?

[2021-01-28 15:23] nartc commented on #249
Are you available for a video call so I can take a closer look at your current implementation? `DoctorEntity` does not look complicated at all so it should map fine. I've no idea why `map` does not work and `mapArray` works.

[2021-01-28 15:46] zieglar commented on #249
send you mail :)

[2021-01-28 17:22] #249 closed

[2021-01-30 04:33] micalevisk opened #250 "[classes] mapping throwing `TypeError: Cannot read property 'toString' of undefined` error"
Hey!

what I got:

[code]

L102 bellow throws this error when I invoke `this.mapper.map` (or `this.mapper.mapAsync`) on some Nestjs's `Injectable`
but I'm still figuring out why this happen so then I'll make a minimal reproduction if needed

https://github.com/nartc/mapper/blob/705cbecee34d935669de4f1678eb980ef7af4fd4/packages/classes/src/lib/classes.ts#L95-L102

I'm open this issue just so you ca

[2021-01-30 13:44] nartc commented on #250
`source` and `destination` should not be `undefined` when invoking `getMapping`. Can you provide a minimal reproduction?

[2021-01-30 18:51] micalevisk commented on #250
I have this field on my source class:

[code]
(which has a non-null value in `sourceObj`)

this error doens't happen if:
- I remove the `@Column(...)` decorator
- or I remove the `| null` type

But I'm struggling to reproduce this here: https://codesandbox.io/s/nestjsautomapper-idin1 so I think I'm missing something.

[2021-01-30 20:38] micalevisk opened #251 "What is the best way to map all `null` values to `undefined`?"
Hi!

I need to transform `null` to `undefined` for every property regardless of the source and destination objects.

Should I create a plugin to do *only* this for me, or do you recommend that I stay with [`nullSubstitution(undefined)`](https://automapperts.netlify.app/docs/mapping-configuration/null-substitution)?

[2021-01-31 00:07] nartc commented on #251
A custom plugin would work but the docs on creating a custom plugin is a little lacking as of this moment so I wouldn't recommend it. Basically in this case, the custom plugin behaves exactly the same as `classes` plugin with a custom `preMap()` function. If you'd like to venture in this more, reach out to me via email and I can walk you through this.

Another solution is to use `afterMap()` inste

[2021-01-31 00:13] nartc commented on #250
@micalevisk I have a feeling this is the case where `tsconfig` plays a role here. For debugging this (or any error in AutoMapper), you can open `node_modules/@automapper/*` and putting breakpoints in relevant `*.js` files. For example, when you invoke `this.mapper.map(...)`, you want to put a breakpoint in `create-mapper.js` where `map()` is defined and also `map.js` is the actual `map` function.

[2021-01-31 00:38] nartc commented on #251
I just tested with a custom plugin that extends `classes` plugin like following:

[code]

It works for my simple models but maybe give this a try for your case?

[2021-01-31 00:49] nartc commented on #250
`string | null` works in [integration-tests](https://github.com/nartc/mapper/blob/main/packages/integration-test/src/lib/with-classes/with-union.spec.ts)

[2021-01-31 02:18] micalevisk commented on #251
I like your solution but it didn't work for `mapArray` :confused:

[2021-01-31 02:30] nartc commented on #251
Just realized I didn't have mapArray to run through the preMap which is an easy fix.

[2021-01-31 03:23] micalevisk commented on #250
You were right! I just update the `tsconfig.json` in the minimal reproduction [here](https://codesandbox.io/s/nestjsautomapper-idin1) then this error manifests due to `"strictNullChecks": true`

[2021-01-31 03:33] nartc commented on #250
Did you update the reproduction? I wasn't able to see the error in the reproduction. Can you double-check?

If this is the case, there's really nothing I can do from the library stand-point because of Reflection depending on `tsconfig`. If you do `@AutoMap(() => String)`, would it work? If yes, I'd consider adding this note to the documentations as an action item for this issue. What's your sugges

[2021-01-31 03:38] nartc commented on #251
Try 1.2.0 out and also check out the updated [with-extend-plugin.spec.ts](https://github.com/nartc/mapper/blob/main/packages/integration-test/src/lib/with-classes/with-extend-plugin.spec.ts#L37)

[2021-01-31 04:35] micalevisk commented on #250
Yes
![demo](https://user-images.githubusercontent.com/13461315/106374425-e29b4d80-6359-11eb-81a6-85bc694d6416.png)

Got it. So this implementation differs from `@narct/autommer` right?

No :/
This happen for any kind of union with `null`

[2021-01-31 04:42] #251 closed

[2021-01-31 05:16] nartc commented on #250
@micalevisk https://codesandbox.io/s/nestjsautomapper-forked-3kids?file=/src/user.model.ts can you double check again? `() => String` should make it work.

[2021-01-31 05:30] nartc opened #252 "Strict mode friendly"
Currently, `@automapper/*` is not `strict: true` friendly. It'd be better to allow the consumers to turn on strictness for TypeScript.

[2021-01-31 15:03] micalevisk commented on #250
Oh I see. I tested this only on destination class before but I just need to put this on source class, my bad.

There's no way to Automapper do this automatically for us?

[2021-01-31 15:18] nartc commented on #250
Unfortunately no. If you annotate a property with `string | null`, `Reflect.getMetadata()` will return `Object {}`. Same thing applies to `number | null`, `boolean | null`.

[code]

Automapper cannot determine the correct metadata for this property. The old `@nartc/automapper` assigns `undefined` to the metadata which "magically makes this work" but that is not technically correct.

[2021-01-31 15:19] micalevisk commented on #250
I got it! thank you.

[2021-01-31 15:19] #250 closed

[2021-01-31 22:10] nartc commented on #252
Release 2.0.0

[2021-01-31 22:10] #252 closed

[2021-02-02 02:38] micalevisk opened #253 "[core] How can I use `mapWith` with arrays?"
Hey!

I'm trying to use [`mapWith`](https://automapperts.netlify.app/docs/mapping-configuration/map-with) when the `source` and `destination` values are arrays. Is there a way to do this?

What I've done:

[code]

I see that is a limitation due to these lines:
https://github.com/nartc/mapper/blob/1331bbf39457103415e64ef399837addca321328/packages/core/src/lib/member-map-functions/map-with.ts#L24-L2

[2021-02-02 03:20] micalevisk commented on #253
I've managed to do this kind of mapping with `@nartc/automapper` so the [migration guide](https://automapperts.netlify.app/docs/migrations#migrate-from-nartcautomapper) should have some thoughts about that, right? :confused:

[2021-02-02 04:48] #253 closed

[2021-02-02 05:05] nartc commented on #253
@micalevisk Thanks for reporting. Please try 2.0.1 out

[2021-02-02 05:08] micalevisk commented on #253
@nartc it works now! ty

[2021-02-05 19:19] abouroubi opened #254 "fix: make instantiate assign undefined (instead of a new Date instance) for Date property when Source is undefined"
Hi, and thanks for the great job with this new version.

I'm trying to understand how the classes mapper work, I have two situation where an empty class is created instead of just returning undefined.

The first is when I have an undefined object returned from the database, when I send it to it to the mapper, instead of returning just undefined, it returns an instance of the destination class with

[2021-02-05 21:49] nartc commented on #254
Hi @abouroubi , thanks for the kind words.

1. For first issue, this is due to `map()` does not null-check for `sourceObj`, which I'd consider a bug in this case.
2. For this issue, this is due to this code right here: https://github.com/nartc/mapper/blob/main/packages/classes/src/lib/utils/instantiate.util.ts#L60. When `classes` plugin instantiates a class with the metadata (from `@AutoMap()`), i

[2021-02-06 13:59] abouroubi commented on #254
Thanks for the quick reply.

Indeed it's a lot of code rewrite for just the undefined part.

My take on this, is that if my property is optional (`myDate?: Date`), (I don't now if this is reflected in the metadata, if not maybe add something like this `AutoMap({ required: false })` ?) automapper should assign undefined to it if the source is also undefined.

[2021-02-06 16:48] micalevisk commented on #254
I'm with you @abouroubi

I didn't understand why `Date` properties are initialized while promitive properties are not :confused:
L54 vs L62

https://github.com/nartc/mapper/blob/a062a7774f8c1ecc9463f408f5a7c8d6c73c9e3d/packages/classes/src/lib/utils/instantiate.util.ts#L51-L54

https://github.com/nartc/mapper/blob/a062a7774f8c1ecc9463f408f5a7c8d6c73c9e3d/packages/classes/src/lib/utils/instantiate.

[2021-02-08 22:01] micalevisk opened #255 "Is there any way to initialize/define destination members using external (runtime) data and its source obj?"
Hi!

What I want to achieve in my Nestjs app is somehow like this:

[code]

but without the [map action](https://automapperts.netlify.app/docs/misc/callbacks#map-actions) part since this implies in, among other things, iterating twice over `users` array :confused:

I know that this problem does not follows [.NET AutoMapper's Design Philosophy](https://jimmybogard.com/automappers-design-philosophy)

[2021-02-09 00:30] nartc commented on #255
I see what you mean. It's not impossible. Here's what I'd propose:

## Proposal
Ability to map with runtime data as parameters then use the passed-in parameters in the map configuration `forMember()`

## API
Either one of the following:
- Reuse `mapDefer` map function
   - pros: simplify public API because there's no new function.
   - cons:

[2021-02-09 00:44] micalevisk commented on #255
This is what I'm looking for!

I like the `mapParams` approach :smile:

[2021-02-09 00:55] nartc commented on #255
@micalevisk I'm thinking `extraArguments` but feel free to keep throwing suggestions to this issue. I might not respond but I do read them all from my phone.

[2021-02-14 17:38] nartc commented on #255
@micalevisk Please check out 2.2.0
The docs is here: https://automapperts.netlify.app/docs/mapping-configuration/map-with-arguments

[2021-02-14 17:38] #255 closed

[2021-02-14 19:43] micalevisk commented on #255
This operation covers well my needs, ty! But it didn't work with `mapArray` -- `extraArguments` is `undefined` instead :confused:

[2021-02-14 19:56] nartc commented on #255
Well looks like I was hasty. Lemme push a fix real quick

[2021-02-14 20:53] nartc commented on #255
@micalevisk 2.2.1 published.

[2021-02-15 16:17] johnpankowicz opened #256 "new install in new project - multiple Typescript errors (TS1005, TS1128, TS1109)"
I  created a new Angular project with "ng new" and then ran:
[code]
I added the following line to the top of app.component.ts:
`import { AutoMap } from '@automapper/classes';`

When I run "npm start", I immediately get the following errors:

[code]

[2021-02-15 16:29] micalevisk commented on #256
I got these too. I think you should use [`skipLibCheck: true`](https://www.typescriptlang.org/docs/handbook/compiler-options.html) in your `tsconfig.json` file.

[2021-02-15 16:44] nartc commented on #256
@johnpankowicz what angular version are you using? I just initialized a new angular app (11.2) and everything runs fine

[code]
The other steps are:
- Add `emitDecoratorMetadata` to `tsconfig`
- Add `import 'reflect-metadata' to `polyfills.ts`

And everything works properly.
Here's a Angular project (11.2): https://github.com/nartc/ng-mapper-bench

[2021-02-15 17:13] nartc commented on #254
@abouroubi That would work but that would also increase the complexity in the core a lot. Introducing an option that affects how Automapper maps a property would require conditional check in various places, and the new option isn't actually mandatory when there are workarounds to achieve the same thing. That said, I'll change how `instantiate` works for `Date` which is to assign an `undefined` val

[2021-02-15 18:02] johnpankowicz commented on #256
I just noticed: [https://github.com/nartc/mapper/issues/246](https://github.com/nartc/mapper/issues/246)
which appears to indicate that I need Angular 10. I will try upgrading.

[2021-02-15 18:34] nartc commented on #256
@johnpankowicz your angular cli is probably of an old version. If your project is simple enough, ng update would definitely work just fine

[2021-02-15 19:20] johnpankowicz commented on #256
@nartc Thank for the quick response! Doing the "ng update" fixed it. No more errors now on "npm start".

But what are these steps for?
* Add emitDecoratorMetadata to tsconfig
* Add import 'reflect-metadata' to polyfills.ts

They are not part of the quick start instructions. Where should I have learned about this in the docs? I do not have these changes in tsconfig.json & polyfill.ts.

[2021-02-15 19:26] nartc commented on #256
@johnpankowicz Those steps arent in the docs because it wasn’t written with Angular in mind (my apologies, the docs should have had those steps listed). And because Reflect Metadata does call out those steps so I overlooked it. Do you want to submit a PR to the docs for that?

[2021-02-15 19:33] johnpankowicz commented on #256
@nartc OK, I can do that. But I rather wait till I have more that just the "import {AutoMap}..." statement working. I haven't tried actually using the code yet. I may find other problems with Angular.

[2021-02-17 16:16] m4ss1m0g opened #257 "Two project same repo - @automapper/* and @nartc/automapper"
## Scenario
When I browse the GitHub repo I found a link to docs
https://automapperts.netlify.app/

Looking for getter map on issue I found

Which send to version **3**, navigate to npm repository I found
https://www.npmjs.com/package/@nartc/automapper

Which bounce to https://automapper.netlify.app/

## Solution 1
Clarify on GitHub README.md the different code and docs

## Solution 2
Split the cu

[2021-02-17 18:01] johnpankowicz commented on #256
I got the sample code from your [Stackblitz example](https://stackblitz.com/edit/typescript-automapper?file=index.ts) working in my Angular app. I put it into a class that I imported into an Angular component. I did not need to import reflect-metadata. I assume that this is because Angular is already using reflection through core-js.
"emitDecoratorMetadata" was already in tsconfig.json. I didn't n

[2021-02-17 18:01] #256 closed

[2021-02-17 18:16] nartc commented on #256
@johnpankowicz glad you got that sorted out. The function actually also maps User to UserDto but it displays to the template so either way it's rather confusing. I'll fix that asap. Thanks again

[2021-02-17 22:16] m4ss1m0g opened #258 "namingConventions doesn't work"
## Scenario

I have a class with only getter (DDD approach) and I want to map all of my gets to TypeORM entity, since my RootAggregate has getter the name of private properties starts with  `_` character.

## What I want to achieve
I would to map source properties `_myProperty` to `myProperty`.
I wrote a new NamingConvention class and applied to the mapper but it doesn't work. I don't know if ther

[2021-02-17 23:23] micalevisk commented on #258
It will do work if you add `@AutoMap()` in your `name` prop on these classes

[2021-02-17 23:56] m4ss1m0g commented on #258
Thanks for your response, unfortunately I cannot modify the Aggregate class, there's a plan to support the described scenario without the `@Automap()` attribute ?

[2021-02-18 00:09] micalevisk commented on #258
It was possible to do that with the old automapper lib made by @nartc (`@nartc/automapper`) by using a _transformer plugin_ as described [here](https://automapper.netlify.app/docs/plugin). I don't know if @nartc is planning to add this feature here as well :confused:

[2021-02-18 00:15] nartc commented on #258
@micalevisk It depends. The transformer plugin might work if the `Aggregate` class is in the code base. But if it's in an external library, then the plugin wouldn't work. I do plan on adding a plugin to the `classes` package.
@m4ss1m0g Thanks for reporting the issue. Unfortunately, AutoMapper needs to know the metadata (properties) of `Aggregate` class to be able to **automap** things.

It is poss

[2021-02-18 00:20] nartc commented on #257
Thanks for bringing this up. I'll update all references accordingly.

[2021-02-18 00:56] johnpankowicz opened #259 "How to map arrays of objects"
How can an array of objects on the source be mapped into an array of objects on the destination? I tried searching the documentation and the prior issues for clues on how to do this.

I modified the example in the docs introduction so that the "Bio" contains an array of "Jobs". To keep it simple, I add a "JobDto" interface and BioDto contains an array of "JobDto".

Below is my modified code.  Plea

[2021-02-18 01:25] nartc commented on #259
@johnpankowicz an array of objects will just be mapped *automatically* if it follows convention. I'll take the example above and modify it a little bit. Let's examine the following:
- We want to change `Bio#job` to `Bio#jobs`
- We want to map `Bio#jobs` to `BioDto#jobs`
- To keep things simple, we'll add `JobDto` for `BioDto#jobs`.

With those in mind, our models are going to look like:

[code]
so

[2021-02-18 10:57] MrVarens opened #260 "Can I create metadata in pojos that can auto map blackbox object type?"
Just want to ask if there is way to automatically copy whole object without creating another metadata for it?

I know that i can do that with use of `map.forMember(x => x.obj, mapFrom(x => x.obj))`, but want to know if I can do that only with use of `createMetadataMap()`?

Example:
[code]

Expectation:
`result` should be `{number: 123, obj: {test: 321}}`

[2021-02-18 13:01] nartc commented on #260
Thanks for opening the issue.

You mean like an arbitrary object (`Record<string, any>`?) No, not at the moment. Since AutoMapper really depends on convention which dynamic object does not really apply. That is tricky because at runtime, AutoMapper checks for if a value is an object to determine whether or not it should start mapping some nested Mapping. In the case of arbitrary objects, `core` wo

[2021-02-18 14:48] johnpankowicz commented on #259
Thanks a lot for the clear explanation and especially for the stackblitz example! It is always great to see an actually working example. In my attempts to get this working, what I was always missing was the createMap<Job, JobDto>.

The docs for POJOs appear fine. My main problem was that I didn't know it was even possible to map arrays using POJOs or even with Classes. I searched all the documenta

[2021-02-18 14:48] #259 closed

[2021-02-18 15:31] MrVarens commented on #260
I am asking because it could be great to limit configuration to minimum, huge adventage of .NET AutoMapper is that for simple mapping you almost don't have to configure anything, but I understand that javascript have limitation in that subject.

Thanks for fast answer!

[2021-02-18 17:57] nartc opened #261 "feat(classes): transformer plugin"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-18 17:57] nartc commented on #259
@johnpankowicz You shouldn't run into any limitations (that cannot be adjusted/fixed) with POJOs instead of Classes. Of course, feel free to open issues and report anything at all that you run into.

The previous iteration of this AutoMapper (`@nartc/automapper`), I had a `automapper-transformer-plugin` that can be utilized to also **auto-decorate** the members but I don't have one yet in this new

[2021-02-18 18:15] johnpankowicz opened #262 "POJOs createMetadataMap does not support enum type"
I modified the sample in the POJOs Introduction to add an enum type to User & UserDto:

[code]

I then try to store metadata for User:

[code]
Intellisense gives me the following error:

`'typeof GenderType' is not assignable to type 'string | StringConstructor | DateConstructor | NumberConstructor | BooleanConstructor'`

Are enums not supported for POJOs? Is there a way around this?

[ I am using

[2021-02-18 18:23] nartc commented on #262
Enum is either String or Number. AutoMapper does not care if a property is an Enum type because at rubtime, it is either string or number. Please try either one of them for Enum.

[2021-02-18 18:37] johnpankowicz commented on #262
Yes, thanks. that worked. I could leave the field as a enum in User  & UserDto, change it in createMetadataMap, and it mapped OK.

[2021-02-18 18:37] #262 closed

[2021-02-18 18:48] nartc opened #263 "docs: update docs with various topics"
- Enum usage
- Array of Objects

[2021-02-18 18:49] nartc commented on #260
@MrVarens Totally. I am all for ease of usage but yes as you noticed, this is TypeScript limitation because TypeScript's reflection isn't as good as C#'s. Although I don't have plan to support this but I might in the future. So I'd suggest to stick with `forMember` for now. Sorry for the inconvenience.

[2021-02-18 18:49] #260 closed

[2021-02-18 18:50] nartc commented on #258
Please track #261 in regards to **auto-decorate** members with a transformer plugin.

[2021-02-18 18:50] #258 closed

[2021-02-18 20:16] #263 closed

[2021-02-19 00:08] micalevisk commented on #254
I'm stuck in an issue while doing unit tests due to this `new Date()` usage instead of `undefined` (I've changed [L62 of `instantiate.utils.ts`](https://github.com/nartc/mapper/blob/eaef6813ec6fa26cee4cc60094c14abf68b9e326/packages/classes/src/lib/utils/instantiate.util.ts#L65) locally and then everything works as expected)

I'm basically using the same approach as here https://github.com/nartc/ma

[2021-02-19 00:52] nartc commented on #254
@micalevisk Yeah, there is a slight inconsistency between `map` and `mapArray` as of the moment. `map` does have `preMap()` run but `mapArray()` does not. However, I'm putting in a fix to make `instantiate` assigning `undefined` instead of `new Date()` instance for `Date` member. I'll add this test case to the user model fixture. Thank you!

[2021-02-19 00:56] #254 closed

[2021-02-19 00:58] #257 closed

[2021-02-19 02:23] #261 closed

[2021-02-19 18:12] nartc commented on #260
@MrVarens I went ahead and gave this one a try in 3.0.5. Read through the Release Notes to see how it works. https://github.com/nartc/mapper/releases/tag/3.0.5

[2021-02-19 18:13] nartc commented on #259
3.0.5 has been released with the transformer plugin. https://github.com/nartc/mapper/releases/tag/3.0.5

[2021-02-19 18:13] nartc commented on #258
3.0.5 has been released with the transformer plugin. https://github.com/nartc/mapper/releases/tag/3.0.5

[2021-02-22 02:54] micalevisk opened #264 "[nestjs] How can I use `this` inside `mapProfile` method in some profile class"
Hey!

Let's say I've this profile:

[code]

Since I can inject dependencies via constructor like:

[code]

What is the proper way (if any) to use my `this.appConfig` prop in `mapProfile` while creating mappings? **(AKA how to create mappings dynamically(?))**

I'm trying to create a mapping only if it is in development mode (`this.appConfig.isDev`), but inside `mapProfile` method, `this.appConfig`

[2021-02-22 03:39] nartc commented on #264
You can assign it to a variable in mapProfile.

[code]

[2021-02-22 04:27] micalevisk commented on #264
I'm still getting `undefined`

I've reproduced this [here](https://codesandbox.io/s/nestjsautomapper-issue-264-g3tsb?file=/src/user.profile.ts)

[2021-02-22 15:51] nartc commented on #264
@micalevisk Check out 3.0.7
I have to delay the `addProfile()` call to the micro task queue. Tbh, I'm not sure if it affects anything :) So please give it a try and lemme know. Thanks

[2021-02-22 16:07] micalevisk commented on #264
It works now, ty :)

[2021-02-22 16:07] #264 closed

[2021-02-22 16:14] nartc commented on #264
@micalevisk feel free to submit a PR to change it :D

[2021-02-24 22:19] micalevisk opened #265 "[classes] What if the constructor of our source class has parameters?"
Hey!

I'm trying to model something like this:

[code]

Line 30 below triggers the error (`TypeError: Cannot read property 'toLowerCase' of undefined` in my case)
https://github.com/nartc/mapper/blob/23174a13d5a2d17cf78b1ffa81a102b31cd7d25c/packages/classes/src/lib/utils/instantiate.util.ts#L28-L30

My questions are:

1. Is this a known limitation? _(if so, I think it should be on doc's limitation

[2021-02-25 00:58] nartc commented on #265
This is definitely a language limitation. In .NET, the consumers can actually provide different constructors as a configuration because there is overload in C#. In JavaScript, a class can only have 1 constructor. In addition, all classes have an implicit Default Constructor function and all functions have an implicit `arguments` array which is pretty impossible to detect at runtime that a Class ha

[2021-02-25 01:51] micalevisk commented on #265
Oh right, ty!

I was thinking more like **"if I'm _just_ creating an instance of `AVm` when doing `mapper.map(newA, AVm, A)` the mapper shouldn't need to create an instance of `A`"**, but I was wrong xD

[2021-02-25 01:51] #265 closed

[2021-02-26 14:37] isaackearl opened #266 "Is it possible to use this package with sequelize in nestjs? Getting errors with basic implementation"
I'm on the latest version of the following packages in a nestjs project with sequelize
[code]

I'm running into several problems while trying to use this package to convert sequelize models into and out of dtos.

The only way I can get it to work is with the most basic mapping ie ```mapper.createMap(Mark, MarkDto);```, and then using AutoMap() on all the properties I want to map.  The fluent synta

[2021-02-26 15:37] nartc commented on #266
@isaackearl Thanks for the kind words and thanks for opening the issue. It looks like the syntax on your forMember is wrong a bit.

[code]

`mapFrom(...)` is still a part of forMember. Can you confirm that?

[2021-02-26 16:23] isaackearl commented on #266
@nartc OK so that made it partially work.  Thank you so much.

Here is my new situation:  If I am mapping the two classes above without using AutoMap() at all, and only using the fluent syntax I get the following error:
[code]

If I add AutoMap() to another property... say the "id", then the mapping works.  I get both the isArchived attribute and the id.  I was hoping to handle the mapping complet

[2021-02-26 16:28] nartc commented on #266
That looks like a valid issue to me, probably some use-case that I didn’t anticipate. You say that you don’t have any AutoMap and just use Fluent API correct? I’ll give that a try on my tests to see if I can reproduce. Thanks!

[2021-02-26 16:30] isaackearl commented on #266
thanks @nartc I appreciate that.

[2021-02-26 16:45] nartc commented on #266
@isaackearl Are you able to provide a sample reproduce? I can't seem to reproduce that issue.

[2021-02-26 17:36] isaackearl commented on #266
@nartc I think it must be related specifically to the nestjs implementation.  I'll try and make a sample project to verify.

[2021-02-26 18:00] nartc commented on #266
@isaackearl Can you provide me your Mark and MarkDto models?

[2021-02-26 18:18] isaackearl commented on #266
@nartc I've created a very simple project.  Is there a way I can send to you?  I'll paste as much as I can here:

![image](https://user-images.githubusercontent.com/9354830/109338523-63077e00-7834-11eb-8aee-f8690132ffad.png)

foo.dto.ts
[code]
foo.entity.ts
[code]
foo.mapper-profile.ts
[code]
foo.controller.ts
[code]
foo.service.ts
[code]
app.module
[code]
main.ts
[code]

This is all the files.  i

[2021-02-26 18:22] nartc commented on #266
@isaackearl can you make upload that to a repository in github here? and share me the repo link? I'll clone it down and check it out

[2021-02-26 18:36] isaackearl commented on #266
@nartc

Here you go. https://github.com/isaackearl/sequelize-automapper-nestjs

 I was using postgres so you might have to change to a different one in order to get it to build without getting angry.

I'm on node version 12.20.2 npm version 6.14.11

[2021-02-26 19:58] nartc commented on #266
@isaackearl Try version 3.0.9 out and lemme know if you still have issues.

[2021-02-26 20:39] isaackearl commented on #266
@nartc this might sound dumb but I can't figure out how to install 3.0.9.  I see it in https://www.npmjs.com that there are new versions for the various packages (3.0.9)... but when I run update and/or try and manually put 3.0.9 in my package.json, it says no matching version.  I'm guessing I just need to wait a bit for things to propagate.  Unless there is a way to download the various packages d

[2021-02-26 20:45] nartc commented on #266
@isaackearl you can just go to `package.json` and change `3.0.8` to `3.0.9` on

[code]

[2021-02-26 20:59] isaackearl commented on #266
ah @nartc I forgot that my npm points at a nexus repository, I lowered the cache time and then it started working.

Also, it looks to me like it is totally working now.  Thanks for fixing that!  I think I've found one other issue but it is unrelated to this, so I'll open that in a new issue (if I can't figure out how to fix it).

Thanks for your help!

[2021-02-26 21:05] #266 closed

[2021-02-26 21:15] isaackearl opened #267 "Basic implementation of Transform Plugin not working"
Hello again!

I'm attempting to use the Transform Plugin, so I can avoid using AutoMap() while still doing most non-standard transformations in the fluent syntax.  I've added the plugin as such:

[code]

in the project I posted previously here: https://github.com/isaackearl/sequelize-automapper-nestjs (I made a new commit)

I ran ```npm run build``` and ```npm run start:prod``` so I would use the

[2021-02-26 22:55] nartc commented on #267
Thanks for submitting this issue. It was a bug. Please try updating to 3.0.10 and let me know

[2021-02-28 03:21] isaackearl commented on #267
@nartc just tested it out and it seems to work great now.  Thanks!

[2021-02-28 03:23] #267 closed

[2021-02-28 06:16] isaackearl opened #268 "Cannot auto map from DTO to Sequelize Model. Likely a limitation of Sequelize"
Hey again @nartc ,

So I found another issue that I believe is a limitation of sequelize, but I thought I'd mention it to you and see what you think.  From the previous 2 issues you can see that mapping from a sequelize model to a DTO works fine with your recent changes.  All 3 methods work.  You can use AutoMap(), the fluent manual mapper, or you can use the Transformer plugin.

However when you

[2021-02-28 22:48] Yagorundy opened #269 "Ability to map multiple sources to 1 destination"
I couldn't find a good way to map 2 sources to 1 destination object.

There exists a way to do this but it logs that there are unmapped properties, because it expects each source object to contain all of the destination object properties.
Another thing you can do is merge all small source objects into 1 big source object. This approach solves most simple use cases, but let's say your source object

[2021-03-01 16:40] nartc commented on #269
Hi @Yagorundy , thanks for opening this issue.

This is an interesting feature. In fact, it has been requested multiple times in the original .NET AutoMapper but it was never implemented. There is a reason. Let me explain why I am hesitant to implement this feature

AutoMapper flow has always been: `sourceObj` to a `Destination`. This request suggests the opposite way: a `Destination` from `multip

[2021-03-01 16:41] nartc commented on #268
Thanks for reporting. I'll take a look asap.

[2021-03-01 19:31] Yagorundy commented on #269
Hi again @nartc! I agree that the `multiple sources` idea is tricky to implement. I just thought it was a cool idea to mention 😄.

Regarding your solution for `A`, `B` and `Full` - I don't really like it, because you have to manually map each prop of `A` and `B` to `Full` when creating the map and this becomes frustrating if you have multiple props. (you can't use the goodness of `@AutoMap()`)

Th

[2021-03-01 20:43] #269 closed

[2021-03-02 16:51] nartc commented on #268
Took a closer look. I wouldn't say it's Sequelize limitations, it's just the way Sequelize works isn't compatible with AutoMapper.

You see, when we run `mapper.createMap(FooDto, Foo)` with `Foo extends Model`, AutoMapper will instantiate `FooDto` and `Foo` and will try to match the matching members after instantiation. In other words:

- `FooDto` has `{id, bar}`
- `Foo` also has `{id, bar}` but a

[2021-03-03 04:08] Yagorundy commented on #269
Hi @nartc. Nah 😀

[2021-03-03 14:11] isaackearl commented on #268
the interesting part is that during manual mapping I don't have to specify dataValues: or anything like that.  Anyway, I appreciate you looking into it.  I think it would be a worthy feature.  👍

[2021-03-03 14:48] nartc commented on #268
The Model class from sequelize does that magic for you. “Auto” doesn’t work because Model hides the properties away which AutoMapper cannot find during Mapping Initialization as I mentioned above. Manual mapping should still work

[2021-03-05 14:47] tmess commented on #268
I also think this would be great, I'm having the same issue where I'm having to manually map my properties as described above, so any sort of way to get automapping in this direction working would be greatly appreciated

[2021-03-05 14:48] ninoscholz commented on #268
Count me as another that would like to see this ability with the automapper

[2021-03-06 01:12] nartc commented on #268
Everyone, anyone knows if `sequelize-typescript` is the standard package to use Sequelize in the NodeJS ecosystem? Would it be reasonable to have like a `@automapper/sequelize` that has a `peerDependencies` on `sequelize-typescript`?
cc @isaackearl  @tmess  @ninoscholz

[2021-03-06 01:26] isaackearl commented on #268
Nestjs uses sequelize-typescript.  I would say it's the most standard for typescript server implementations... However the regular sequelize package (https://github.com/sequelize/sequelize) is most likely the standard across regular nodejs environments.

[2021-03-06 01:28] nartc commented on #268
Thanks for the quick response

[2021-03-06 04:16] nartc commented on #268
v3.1.0 has been released with `sequelize` plugin. Please check out the [readme](https://github.com/nartc/mapper/blob/main/packages/sequelize/README.md) and update the dependencies. Also, I don't have a lot of experience with Sequelize so I might miss something, please test it out and report any issues you guys run into. Thanks

cc @isaackearl @tmess @ninoscholz

[2021-03-06 04:49] nartc commented on #268
Please disregard 3.1.0, it had a bug. Use 3.2.1 instead.

[2021-03-06 04:52] micalevisk opened #270 "What about mapping destination to a subclass of destination?"
Hi!

Basically, I need to perform this mappings:

[code]

[code]

If I add `@AutoMap()` to `foo` prop of `Avm` class I'll get `Unmapped properties` error when mapping `A` to `AVm` (but it will works well when mapping `AVm` to `SubAVm`, of course)

Do you have any tips for me to circumvent this somehow? :confused:

[2021-03-06 04:57] nartc commented on #270
If you have a lot of properties like `AVm#foo`, I guess it would make the most sense if AutoMapper had like a `Ignore()` decorator. However, I am very hesitant to add another decorator. Reusing `AutoMap` with some options like `AutoMap({ignore: true})` is also troublesome, eg: ignore for what model, keep for what model etc...

The best way right now is, unfortunately, manually configure `foo`

[co

[2021-03-06 05:04] #270 closed

[2021-03-06 05:18] micalevisk commented on #270
unfortunately in my case `AVm#foo` cannot be defined by automapper. Maybe the way that I'm using it with autommaper is not that good. I'll try to improve this things here and I'll rethink about this, ty!

---

Basically I'm using Automapper to create the object that will be saved on my session store _(retrived by, lets say, `req.session.user` from Express)_. But I need to expose this same object b

[2021-03-06 05:22] nartc commented on #270
Ah, if the properties cannot be in the metadata at all then your next best bet would be to use an `afterMap`

[2021-03-06 06:33] isaackearl commented on #268
@nartc Your work on this is incredible and I appreciate all you are doing.

I decided to try it out a bit tonight, and here are my initial findings:

My first simple conversion from a dto to a sequelize model worked like a charm!

however when I attempted to go from a sequelize model to a dto, it no longer works (keep in mind that with the classes plugin initializer mapping from sequelize model to

[2021-03-06 10:41] nartc commented on #268
@isaackearl Thanks for the kind words. I’ve identified the bug. Will be releasing a patch soon

[2021-03-06 20:42] micalevisk opened #271 "Add mixins (extends) feature to work with `@nestjs/mapped-types` and `@nestjs/swagger`"
Hey!

I want to use `@automapper/nestjs` along with [`@nestjs/swagger`](https://github.com/nestjs/swagger) to be able to generate an OpenAPI spec from my DTOs (or _view models_).

However the [mapped types mixins](https://docs.nestjs.com/openapi/mapped-types#mapped-types) from `@nestjs/swagger` (the same of `@nestjs/mapped-types`) do not inherit automapper's metadata, as you already notice here: h

[2021-03-06 21:26] isaackearl commented on #268
@nartc my initial testing of 3.2.2 looks better (it mapped the 2 objects both ways).  However mapping of relations has stopped working for me when going from Sequelize to DTO (the way that works just fine with the classes initializer).  I haven't tested the other way yet.

I have a mapping like this defined on a pair of my model and dto
![image](https://user-images.githubusercontent.com/9354830/11

[2021-03-06 23:04] nartc commented on #268
@isaackearl Thanks a lot for testing this. I finally have some time to put in some test cases for the sequelize plugin. Will definitely find out more edge cases and finalize it

[2021-03-07 03:46] nartc commented on #268
@isaackearl well, turn out unit testing this `sequelize` plugin is a horrible task. I cannot just `new Foo()` without having to connect to the database (aka acquire a Sequelize instance). Would you be able to setup some time for a video call? I'd need to see how Sequelize fetches data with relationships.

[2021-03-07 03:51] nartc commented on #271
I have some stashed code for this which could give me a headstart. However, I'm thinking of which package we'd want to publish this under:
- `@automapper/classes` would make sense because this is the package that provides `AutoMap` and you only really use `mapped-types` with `AutoMap` decorator.
- `@automapper/nestjs` would also make sense
- `@automapper/mapped-types` would also make sense. But th

[2021-03-07 04:12] micalevisk commented on #271
I've said `@automapper/nestjs` before but now I notice that one might use these mixins in any other project that uses `class-validator` or `class-transformer`. Thus `@automapper/classes` sounds better.

[2021-03-07 04:46] isaackearl commented on #268
@nartc So I've been looking into this myself tonight a bit... and I'm realizing that this may not be feasible.  If that is the case, then I apologize from bringing you on a wild goose chase.

The reason why I'm thinking this is because I'm realizing that mapping into new instances of sequelize models won't work very well because there is no way to do the following:

1. create a new instance of a m

[2021-03-08 15:09] nartc commented on #271
@micalevisk 7.7kb is nothing if used on the server-side (client-side can benefit better with gzipped + minified). And as soon as Nx supports differential build for Node Package then tree-shaking is also available.

[2021-03-08 15:12] nartc commented on #268
@isaackearl I see. I would still love to schedule a video call with you to see if it's actually impossible to get this working. That said, just want to confirm, `@automapper/classes` alone would work with Mapping from `SequelizeModel` to `DTO` correct?

[2021-03-08 23:00] notmedia commented on #247
@VladDobrovolskiy I think you should use MapInterceptor as follows (first argument is "TO", and the second argument is "From":
[code]

By the way, @nartc is it possible (or can be a future request) to use MapInterceptor before route handle?
In case when I get DTO object and want convert it to something different. Or it's a bat pattern and I should do it on service layer?

[2021-03-09 16:26] isaackearl commented on #268
@nartc sorry for the delay.  yes right now the normal @automapper/classes alone works great when mapping sequelize models to DTO.  Luckily that is the most important use case anyway.  I am eastern time zone (USA).  I can usually chat in the evenings after 8, and or during the day in the afternoon (around 1 or 2).

[2021-03-11 17:25] MrVarens opened #273 "Mapping of undefined values"
Is there a way to skip variables that are `undefined` from output object?

Iterating over output variables and removing them is one way but its can be expensive, would be nice if mapper could skip them during mapping.

### Example

Source mapping:
`
{
    param1: String,
    param2: String
}
`

Destination mapping:
`
{
    param1: String,
    param2: String
}
`

Source object:
`
{
    param1: 'val

[2021-03-11 17:43] nartc commented on #273
Hi @MrVarens , thanks for opening the issue. May I ask what the ultimate goal for this is? In other words, how do `undefined` fields affect your use-case? From my perspective, I didn't trip `undefined` to keep the shape of the models intact after mapping. Also since I built AutoMapper with "transferring object over network (aka backend -> frontend)" in mind which will strip `undefined` values by d

[2021-03-12 03:15] nartc commented on #271
https://automapperts.netlify.app/docs/plugins-system/classes-mapped-types give this a try in v3.3.0. I don't close this issue yet since not sure if it works for you.

[2021-03-13 21:51] anrolmar opened #274 "Error when mapping a class with other class"
Hi. I have this classes:

[code]

On the other hand, this is my mapper configuration;

[code]

When I try to do, `this.mapper.map(searchDto, Search, SearchDto);`
I get the next error message: "Mapping not found for source function Object() { [native code] } and destination class SearchConditions {\n}"

Any ideas?

[2021-03-13 23:02] nartc commented on #274
@anrolmar Can you provide what “searchDto” is in “this.mapper.map(searchDto,...)”?

[2021-03-14 04:20] micalevisk commented on #271
Looks like the mappings are working but it still not inherits the metadata from `@nestjs/swagger`, even when I'm explicity use the `@ApiProperty` decorator (and not the [CLI](https://docs.nestjs.com/openapi/cli-plugin) plugin) :confused:

[code]

If you can somehow make this work with the OpenAPI CLI plugin (from Nestjs) as well it would be awesome!

[2021-03-14 04:43] nartc commented on #271
Since there’re mixins, can you just compose them?

Like OmitType(MapperOmitType()) kinda?

[2021-03-14 05:08] nartc commented on #271
Well, it's probably not possible. I'll give it more thoughts tomorrow.

[2021-03-14 06:10] anrolmar commented on #274
Here is the searchDto,

[code]

[2021-03-14 10:19] notmedia opened #275 "MapPipe for NestJS applications"
**Is your feature request related to a problem? Please describe.**
In https://github.com/nartc/mapper/issues/247#issuecomment-793155152 we have conversation about case when you need to map incoming objects instead of outgoing.

**Describe the solution you'd like**
I have and idea with use Interceptor for this, @nartc says that this can be done with pipe something like MapPipe

[2021-03-14 10:19] notmedia commented on #247
Created an issue - https://github.com/nartc/mapper/issues/275 :)

[2021-03-14 10:46] t0xa opened #276 "[Question] Right way of using automapper with Prisma"
Hello @nartc,

First of all, thank you for such incredible project. It helped me to build things much faster. Do you have a Patreon or Buy me a coffee so we can show our appreciation?

Could you please help me to understand how to correctly use Automapper with [Prisma](https://www.prisma.io/) ORM.

The main problem is that Prisma generates `type` instead of `class`. For example:

[code]

Is there

[2021-03-14 15:30] nartc commented on #274
Please check the spec here: https://github.com/nartc/mapper/blob/issue/274/packages/integration-test/src/lib/with-classes/issues/274.spec.ts

I was able to map it just fine with what you provided. Make sure you create the Mappings in this order:

![image](https://user-images.githubusercontent.com/25516557/111074280-4a43cd00-84b0-11eb-8d0d-910aaaf270d8.png)

[2021-03-14 15:32] nartc commented on #276
hi @t0xa, thanks for the kind words. I don't have Pateron or Buy me a coffee which I think I should set up (I do have Github Sponsors but people tend to stay away from Monthly fee 😛). Thanks again for your support.

As far as mapping with types/interfaces, there's [@automapper/pojos](https://github.com/nartc/mapper/blob/main/packages/pojos/README.md) but I am not too confident about it. If you cou

[2021-03-14 18:05] anrolmar commented on #274
It didn't work yet.

I created a repository with the code, https://github.com/anrolmar/nestjs-automapper

[2021-03-14 18:18] micalevisk commented on #271
Looking at `@nestjs/swagger`'s source I realised that to make your mixins work with `@nestjs/swagger` `@ApiProperty()` decorator, you must do something like [this](https://github.com/nestjs/swagger/blob/17e45c45bf4effc7ea32ffd09721027f3e4d0792/lib/type-helpers/pick-type.helper.ts#L35-L39) before returning the class. Thus `@automapper/classes` should know, in some sort, about `@nestjs/swagger`

I'v

[2021-03-14 18:31] nartc commented on #274
@anrolmar you're using the old version of automapper. https://github.com/nartc/nestjs-automapper I forked and migrated over to the new AutoMapper. Please check the 4 latest commits. Also, please check the documentations:  https://automapperts.netlify.app/docs/nestjs

[2021-03-14 18:32] nartc commented on #271
Yeah, that's what I want to avoid, I don't want automapper/classes to depend on nestjs/swagger :(

[2021-03-14 18:36] micalevisk commented on #271
I'm with you.

[2021-03-14 18:36] #271 closed

[2021-03-14 18:41] nartc commented on #271
So can you confirm if something like this would work?

[code]
This way, we can reuse `MapperPickType` instead of having to rewrite the whole thing?

[2021-03-14 18:48] micalevisk commented on #271
I'm getting TS error in `MapperPickType(classRef, keys)`: `Base constructor return type 'Pick<T, K>' is not an object type or intersection of object types with statically known members.ts(2509)` due to

[code]

[2021-03-14 18:52] nartc commented on #271
does adding `as unknown` remove the type error?

[2021-03-14 18:53] nartc commented on #271
hm...so we're using a private API then. I guess I should halt on this since I'm not sure how to move forward. If you think of a stable workaround, please let me know so I can add to the docs.

[2021-03-14 21:50] nartc commented on #268
@isaackearl it's been a busy week so sorry for not responding. Will you be able to jump in a call tomorrow at around 1-2 in the afternoon? My timezone is Central Timezone so we can probably get together after lunch or something.

[2021-03-14 22:02] nartc commented on #275
Released in 3.4.0 https://automapperts.netlify.app/docs/nestjs#mappipe

[2021-03-14 22:02] #275 closed

[2021-03-14 22:04] notmedia commented on #275
Wow! Thank you 🔥

[2021-03-14 22:17] nartc commented on #275
Please open new issues if you run into any problems 👍

[2021-03-15 08:36] MrVarens commented on #273
Sorry for late answer. My problem is that i refactor application to use dto-s, this projecrt is pretty big and till now all objects had only variables with values. After refactoring to use auto mapper I had to fix all of my unit tests because there are object with have only couple of values but interface contains dozen of them.

ex.

Pre auto mapper add:
Test expect (and receives) object with 10 p

[2021-03-15 11:17] nartc commented on #273
Would `JSON.parse(JSON.stringify(obj))` help in this case?

[2021-03-15 11:55] MrVarens commented on #273
Unfortunately no, because Dates will be then casted to string.

What I did for now is separate instance of mapper for unit tests that extends my mapper class used by application. This extended class after mapping have additional logic that each by all of parameters and remove that one with are undefined, but still would be great if it could be done by default in auto mapper.

[2021-03-15 12:03] nartc commented on #273
Sorry for the inconvenience. That’s one of the reasons for this rework AutoMapper. Before, AutoMapper dictates Empty Values; I could make it all undefined, or all null, or stripped because that was one of the options. But I’ve got quite a few different requests on keeping undefined as undefined, null as null, and various other use-cases. Hence, I reworked AutoMapper in a way that it won’t dictate

[2021-03-15 12:33] MrVarens commented on #273
I saw that extending plugin but from what I understend its called before mapping, while its good for maping null to undefined it wont help when i want to remove variable completly from output. Variables in output base on metadata and because this plugin functions are called before mapping I cant manipulate output object.

I do not uderstand what you mean by "expose instantiate", can you give me so

[2021-03-15 13:03] nartc commented on #273
Right right, I see what you're saying now. Assume that I won't be baking "stripping undefined" into AutoMapper, you're left with two approaches:
- Use `afterMap()`. This won't affect any functionalities of AutoMapper but there is no **Global** AfterMap which means you'd need to re-attach `afterMap()` for each Mapping

[code]

- Create a custom plugin (by "Extending" it using the docs above) and at

[2021-03-15 15:18] isaackearl commented on #268
@nartc yes that's fine.

[2021-03-15 15:33] nartc commented on #268
Thanks. You have an email that I can reach?

[2021-03-15 15:57] MrVarens commented on #273
Yea that `postMap` is good for me, I didnt saw it in my local code, probably this is some new feature, right?

Thanks for really fast help!

[2021-03-15 16:10] nartc commented on #273
No problem! I'm glad I was able to help. `postMap` was added in 3.2.0 https://github.com/nartc/mapper/blob/main/CHANGELOG.md#320-2021-03-06

Can we close this issue?

[2021-03-15 16:34] MrVarens commented on #273
Only thing that can be considered is adding a way to removing variables without value during mapping by setting some config variable, because it could be less complex then removing this variables after mapping. But I understand that for reasons mentioned before you may not want to implement it.

For me I have a way to fix my problem, its not super important to make unit tests with the best perform

[2021-03-15 16:42] t0xa commented on #276
Hi @nartc, thanks a lot for suggestion. Let's close this question for now. I will open another ticket in case of issues.

May I suggest to enable Github Discussion feature so that such questions would be easier to navigate.

Regarding the sponsoring, can you do something similar to what OctoPrint does on her main page?

![image](https://user-images.githubusercontent.com/3533/111188911-38505000-85b

[2021-03-15 16:42] #276 closed

[2021-03-15 16:45] nartc commented on #276
I have just turned on Discussions. And I'll check out that OctoPrint. Thanks!

[2021-03-15 16:46] #273 closed

[2021-03-15 19:41] notmedia commented on #276
I just tested Prisma types with pojos plugin and it works perfect.

[2021-03-16 06:58] t0xa commented on #276
Thanks @notmedia. Out of curiosity, did you have any `Prisma.JsonValue` fields in your schema?

[2021-03-16 10:53] notmedia commented on #276
Yes, in my case I have entity with JsonValue. The structure of JSON field depends on another field
So, I created class for this Json and then with automapper create an instance of that class for json field.

I need this for GraphQL, for automatic resolve type

[code]

[2021-03-16 12:33] notmedia opened #279 "[Bug] MapInterceptor breaks other interceptors with isArray option"
**Is your feature request related to a problem? Please describe.**
Hi!
I reproduce a bug in this repo - https://github.com/notmedia/automapper-mapinterceptor-bug

First, my case:

1. I have database and Prisma client with generated types
2. I have automapper from PrismaEntity to BackendEntity (using pojos)
3. I have automapper from BackendEntity to EntityDTO (using classes)

When I create two+ res

[2021-03-16 13:02] nartc commented on #279
@notmedia I think I have an idea of what it is. Can you please do me a favor and have another `MapInterceptor` but with different models/entities?

[2021-03-16 13:16] notmedia commented on #279
@nartc no problem, I tested it and it works with different types. So the bug is in "overlapping" interceptors with same type

[2021-03-16 13:17] nartc commented on #279
Yup, which should be a quick fix. Thanks!

[2021-03-16 15:15] nartc commented on #279
Fix in 3.4.1
Please give it a try

[2021-03-16 16:25] notmedia commented on #279
@nartc  Yes, it works) Thank you!

[2021-03-16 16:29] #279 closed

[2021-03-31 14:59] notmedia opened #281 "Automap not working with private fields when only getter exists"
In some case I have a class for example:

[code]

The automap fails, because under the hood automapper try to write metadata to this private field, but the setter does not exist.

I can remove `@AutoMap` decorator and create mapper like this and it would work:

[code]
But it's looking terrible when you have many fields, and looks like unnecessary.
Can we achieve this or not without setting setter

[2021-03-31 17:26] zieglar opened #282 "Whether Resolver can support mapWithArguments ?"

[2021-04-06 04:20] nartc commented on #281
@notmedia a little update, I have made some progress on this with `Proxy`. Not sure if it's a correct approach but Proxy#set trap is probably the only way I found that it works with only-getters. Can you double-check on the browser supports for Proxy as well as Node support?

[2021-04-06 12:52] notmedia commented on #281
@nartc Hi! As I see on https://caniuse.com/proxy `Proxy` support in all modern browsers except IE (as usual😬). What browsers we need to test?

I read about `Proxy` functionality and I think this can be used, but if you want to proxy setters with this thing I think that programatically we must don't have access to this setters in our code. I didn't see you code implementation and I just hypothetica

[2021-04-06 12:56] nartc commented on #281
@notmedia It's important to note that classes (models) with only-getters should only be used as `Source`. However, upon initialization with `createMap()`, I do instantiate both `Source` and `Destination` and assign `undefined` properly so I have the objects with properties in them down the stream.

[code]

So AutoMapper does in-fact try to set things. The approach I'm going with is to set a `usePr

[2021-04-06 13:05] notmedia commented on #281
In my case it's okay, because my classes without setters are Domain/DB models. With this models I work in my service layer. `automapper` used to map my models (`source`) to presentation models (`destination`).

[2021-04-06 13:07] nartc commented on #281
Thanks for the inputs. I'll probably push a release either later tonight or tomorrow.

[2021-04-07 17:31] nartc commented on #281
@notmedia this should be fixed in 3.5.0 Please give it a try

[2021-04-07 17:31] nartc commented on #282
Released in 3.5.0

[2021-04-07 17:31] #282 closed

[2021-04-07 19:04] notmedia commented on #281
@nartc Yep, it works! Thank you 👍🏻

[2021-04-07 19:04] #281 closed

[2021-04-09 01:47] micalevisk opened #285 "[classes] Getting `TypeError: meta is not a function` after upgrading to v3.5.0 from v3.4.2"
Hey!

The whole message:

[code]

The line bellow triggers the error:

https://github.com/nartc/mapper/blob/8d10e0b974d007b356306b50c7727b36a4b7f08c/packages/classes/src/lib/utils/instantiate.util.ts#L56

This happen when some optional attribute (with some non-primitive type) is annotated with `@Automap()` like:

[code]

maybe this is related to the [strict mode limitation](https://automapperts.ne

[2021-04-09 05:10] nartc commented on #285
This is a regression with the latest change to `AutoMap` decorator. Metadata of a property shouldn't be saved if `typeFn` is null. Although in this case, I'm not sure why Reflection is unable to get the `design:type` of `bar` when `bar` is optional.

That said, 3.5.1 should fix this by reverting AutoMap behavior to the previous version which **WON'T** save the metadata of `bar` if it cannot find t

[2021-04-09 08:17] i-kapri opened #286 "Objects are surrounded by angular brackets instead of curly brackets. Many compile errors are thrown."
After I have installed all the four packages under `@automapper` following the [installation instructions](https://automapperts.netlify.app/docs/getting-started/installation) I receive the following error message a great deal of times during compilation of my project:

`ERROR in node_modules/@automapper/types/src/plugin.d.ts:27:94 - error TS1005: ',' expected.`

in the code line 27 of your file `p

[2021-04-09 10:22] #285 closed

[2021-04-09 11:53] nartc commented on #286
Are you using this in an Angular project? What Angular version you’re running? Can you provide more information about the environment? Can you provide a reproduce?

[2021-04-09 11:58] i-kapri commented on #286
Yes, an Angular project. The version of my Angular CLI is 10.2.0 and I am using it with TypeScript v3.9.5 as well as a target to es2015. This is read as an erroneous: `instantiate<TModel extends Dictionary<TModel> = any>(model: any, obj?: TModel): [instance: TModel, nestedMetadata?: any[]];` maybe because it prefers it as `... : { instance: TModel, nestedMetadata?: any[] }`.

[2021-04-09 12:44] nartc commented on #286
@i-kapri Thanks for providing this info. Can you try upgrading Typescript to 4.0?

[2021-04-12 05:50] i-kapri commented on #286
Problem solved! Thank you Mr. Tran!

[2021-04-12 05:50] #286 closed

[2021-04-19 14:16] i-kapri opened #287 "Error during mapping DTO with private properties only with getters to a model class even by calling `ignore()`."
Hello again!

I am opening this issue because I have come across some error `Cannot set property friends of [object Object] which has only a getter` which is thrown after I tried to map a DTO with a private property which has got only a getter just like below:

[code]

... and the `UserProfile` has a code line somewhere like:
[code]

Do you have any idea about how to get rid of this problem?

Than

[2021-04-19 15:41] micalevisk commented on #287
Hey @i-kapri what if you just don't use this `.forMember` method?

[2021-04-19 16:12] nartc commented on #287
@i-kapri as @micalevisk said, does it throw the error without `.forMember()`. Since you explicitly set a Mapping Configuration for `destination.friends`, it's expected to be mapped. If it's `ignore()`, then `undefined` will be mapped to it.

[2021-04-20 11:16] i-kapri commented on #287
Hi Mr. @nartc , hi Mr. @micalevisk

I have managed to get rid of the error below by using some `#propertyName;` things which replace `private` but now I am stuck in the mud of this error `ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'toString' of undefined
TypeError: Cannot read property 'toString' of undefined` . Does this merely have to do with the way I map the model clas

[2021-04-20 11:58] nartc commented on #287
@i-kapri it would help if you could share your models and your mapping profile.

[2021-04-20 14:25] i-kapri commented on #287
Hi Mr. @nartc ,

thank you for your answer.

Let's say I have this DTO object:

[code]

You have a property `isGetterOnly` of the object passed to the constructor of `AutoMap()` which I have set to true in the model class like this:

[code]

Furthermore I cannot call `ignore()` for the property `girlfriendName` on `.forMember(...)` of `StudentProfile`. This is the problem.

I think you should chec

[2021-04-21 01:53] #274 closed

[2021-05-03 04:37] micalevisk opened #289 "Why did using a simple computed property name doesn't map properly?"
Hi!

Basically this, for instance:

[code]

the later will result in an empty string as prop key `''`

I'm trying to create a mapping to `"en-us"` property name. I can circumvent the usage of manual mapping by adding a getter method `get ['en-us'](){ return this['en-us'] }` in the source class, and with `SnakeCaseNamingConvention` naming convention.

---

- `@automapper/*`: `v3.5.2`

[2021-05-03 21:11] nartc commented on #289
https://github.com/nartc/mapper/blob/c159560e839397327d74b93397f6dc6f64dcaf0f/packages/core/src/lib/create-mapper/get-member-path.util.ts#L4 this is a limitation atm. Feel free to poke around with `getMemberPathUtil` to see if you can come up with a better implementation to support that property.

[2021-05-03 21:14] nartc commented on #287
@i-kapri Sorry for a very late response, it's been very hectic over the past 2 weeks for me. I think I have an idea of what's going on. Will get to it this weekend.

[2021-05-03 22:09] micalevisk commented on #289
oh I see this behavior documented here https://github.com/nartc/mapper/blob/c159560e839397327d74b93397f6dc6f64dcaf0f/packages/core/src/lib/create-mapper/specs/get-member-path.spec.ts#L64-L67

[2021-05-04 16:48] micalevisk commented on #289
@nartc I'm thinking of supporting the following usages:

- for completeness:
  + `d => d['someThing']` (just like TypeORM does allow) But not the real computed property name ones like `d => d['some' + 'Thing']` because I think those usages are pretty complex to handle properly ATM _(I didn't understand how TypeORM support this but I'll probably take a look at it)_
  + nested mixed ones like `d =>

[2021-05-04 19:47] nartc commented on #289
@micalevisk That works for me. One question on the 2nd bullet there: what would be your expected return value for `d => d.bar.baz`?

[2021-05-04 19:52] micalevisk commented on #289
I expect `"bar.baz"`

which is already done https://github.com/nartc/mapper/blob/c159560e839397327d74b93397f6dc6f64dcaf0f/packages/core/src/lib/create-mapper/specs/get-member-path.spec.ts#L34

[2021-05-04 19:52] nartc commented on #289
Cool. Just want to confirm. Feel free to submit the PR anytime, I'll review it.

[2021-05-09 01:39] micalevisk commented on #289
I'm trying one solution locally. This is what I've got so far:

- for now, I'll treat only arrow functions for `fn: Selector`
- to the output of [`cleanseAssertionOperators`](https://github.com/nartc/mapper/blob/c159560e839397327d74b93397f6dc6f64dcaf0f/packages/core/src/lib/create-mapper/get-member-path.util.ts#L40) I'll apply [this regex](https://regexr.com/5shbb) to grab all prop names as an arr

[2021-05-11 00:02] micalevisk commented on #289
@nartc nvm I just open the PR #293 ^^ few free to change anything

[2021-05-18 03:21] #289 closed

[2021-05-21 00:47] morishjs opened #295 "[Question] How to use the profile in nestjs properly"
Hi. I'm pretty new to use this library. I ran into the problem like below the screenshot.
I am currently using the mapper with nestjs but I have no idea how to use the profile.

Here is my `global-config.profile.ts` file
[code]

The application always complains about the error when the app starts.

![image](https://user-images.githubusercontent.com/6479241/119065642-f659e500-ba18-11eb-9388-e598647

[2021-05-21 01:10] nartc commented on #295
Hi @morishjs, that looks like a runtime error. Can you provide a reproduce repo?

[2021-05-22 07:53] morishjs commented on #295
The code is managed in private repository so I invited you into the repository.

First code snippet resides in `src/global-config/global-config.ts` and the second is in `src/coupang/coupang.service.ts:46-55 lines` I commented code lines to run the application.

[2021-05-22 18:59] OMartinez-NeT opened #296 "Destination attribute is undefined after using afterMap with async function"
Hi everyone! I'm using this guide [callbacks](https://automapper.netlify.app/docs/usages/features/callbacks/) and follow this [issue](https://github.com/nartc/mapper/issues/185) in order to perform an async call when map is executed but the destination value always is undefined I debug the code and I see that the async function is executed but after mapAsync return the destination object without w

[2021-05-22 20:35] micalevisk commented on #296
Hi!

Just showing few tests that I've made (after changing `this.mapper.map` to `this.mapper.mapAsync`) while trying to understanding this behavior:

[code]

[2021-05-22 22:19] nartc commented on #295
Thanks. I got the invite. Will take a look over the weekend.

[2021-05-23 03:13] OMartinez-NeT commented on #296
Hi @micalevisk, how you wrote it works when I use in this way

[code]
But the use case that I have is to perform an async operation inside the profile that can take some seconds so I need `mapAsync` method return the destination object after the async operation is finished, I'll try to find a workaround for this if you have some it'd be great, thank for your response.

[2021-05-28 13:56] nartc commented on #296
Hi all, I haven’t had a chance to look into this as I’m busy with work and other Angular related stuffs. How’s your issue going @OMartinez-NeT ?

[2021-05-29 03:56] OMartinez-NeT commented on #296
Hi! I've been busy too I just changed the approach to nest pipes to perform async operations and keep using automapper without asyncMap, this weekend I'll check it out this issue.

[2021-06-06 13:07] AliYusuf95 opened #299 "Enhancing paths and selectors"
Hi @nartc

My suggestion is to pass a [Proxy](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) in the selector method instead of parsing the method to find selectors, which produced some [limitations](https://automapperts.netlify.app/docs/misc/limitations/) in writing the selector method.

For example by wrapping the destination object with a proxy that handl

[2021-06-06 16:37] micalevisk commented on #299
Hi! proxies are cool. I'm already aware of the usage of their with typescript because of [`@golevelup/ts-jest`](https://www.npmjs.com/package/@golevelup/ts-jest).
My only doubt about using it is regarding the performance implications it will bring, but I can't measure that properly.

---

The wrong handling of properties with the `.` somewhere that you've notice is documented here:

https://github

[2021-06-06 17:16] nartc commented on #299
Thank you both for looking into this. However, I'm pretty busy lately with work and some other Angular related open-source. If anyone of you could come up with a POC PR, I'm happy to review and discuss further.

[2021-06-06 22:44] AliYusuf95 commented on #299
@micalevisk as for performance point, I agree that proxies has impact on the performance. But they will be used only when the classes added to the map (collecting mapping properties), which is most likely will be done during the app initialization. As for the rest of the functionality the performance shouldn't be impacted.

I'll try to make PR for both features once I have a time.

[2021-06-08 03:49] darwinbeard opened #300 "Automap 3 level deep causing TypeError: Cannot read property 'toString' of undefined"
This is pseudocode of my hierarchy

[code]

It works perfectly fine with 2 levels of nesting

But crashes when I add 3rd level (example above).

[code]

[2021-06-08 04:02] nartc commented on #300
Thanks for reporting. It might take a little time before I can get to this issue due to some work/other open-source stuff.

[2021-06-09 13:03] nartc commented on #299
Closed with #301

[2021-06-09 13:03] #299 closed

[2021-06-09 16:20] nartc commented on #300
@darwinbeard Hi again, can you share a more specific reproduce? I'm trying to reproduce this but I guess I might be (or you might be) missing something and it works on my end.
- The models
![image](https://user-images.githubusercontent.com/25516557/121392060-a59d2400-c914-11eb-8120-db5d9788f560.png)

- The result
![Uploading image.png…]()

[2021-06-09 21:39] darwinbeard commented on #300
Thanks for taking a look.
Forgot the last piece of the puzzle.

[code]

so my source and destination are in different naming conventions

[2021-06-09 21:41] darwinbeard commented on #300
then

[code]
fromDtoMapper.map({ foo: { foo: { foo: 'test' } } }, FooFooFoo, FooFooFooDto);
[code]

[2021-06-10 02:50] nartc commented on #300
It'd be helpful if you could provide your models and mapping configurations. Here's mine with different naming conventions as well as more complex property names, and it still works

the models
![image](https://user-images.githubusercontent.com/25516557/121457061-acf01c00-c96c-11eb-8108-5ced541fca44.png)

the results
![image](https://user-images.githubusercontent.com/25516557/121457070-b1b4d000-c9

[2021-06-10 08:41] #295 closed

[2021-06-14 11:54] AliYusuf95 commented on #300
@darwinbeard I think the issue happened when you try multi-level flattening, is that the case?

[2021-06-18 04:25] micalevisk opened #306 "[core] version 4.1.0 has a different behavior from 4.0.0 when using `mapWith`"
Hi! After upgrading from `4.0.0` to `4.1.0` (which introduces the feat #301) I'm facing this error:

[code]

Looks like this is due to the usage of the [`mapWith`](https://automapperts.netlify.app/docs/mapping-configuration/map-with/) selector.

What I've notice is that now the second arg (a callback) passed to `mapWith` is not lazy anymore, this is why I'm getting that error.
You can see that by

[2021-06-18 05:52] AliYusuf95 commented on #306
As you said @micalevisk , the behavior has changed and the selector method will be called with a proxy object as a parameter to determine the path during mapping creation.

The error happened because the parameter passed to the selector is a empty proxy object it’s usage should be limited only to return the path.

For your case I think you should use `mapDefer` with `mapWith` to execute the logic.

[2021-06-18 18:03] micalevisk commented on #306
hey @AliYusuf95 I've tried to use `mapDefer` with `mapWith` but didn't succeed :( Can you help me with this, please? You could use the following file https://github.com/nartc/mapper/blob/4fe0f45ebbfeab5bf3d655ef68b15ef87c263178/packages/nestjs-integration-test/src/app/profiles/user-profile.profile.ts#L27-L30

[2021-06-19 02:24] micalevisk commented on #306
nvm, I've manged to make this work using `mapDefer` in this way:

![image](https://user-images.githubusercontent.com/13461315/122628414-de12cf80-d083-11eb-8f58-5f0558a0ee27.png)

not sure if this is the best way to do this

[2021-06-19 02:44] #306 closed

[2021-06-24 08:26] darwinbeard commented on #300
@nartc  thanks for adding examples and new tests.

I tried to reproduce your exact test locally in 1 file and still hitting the same error.

[code]

Also, I use Create React App. Will try to use craco and override typescript config with example from your doc.
Will update later

[2021-06-24 10:40] robsonhermes opened #307 "Fields decorated with @AutoMap() are not mapped in Angular project"
Hi

I created a small angular sample project to try `@automapper`. However, I cannot get `@AutoMap()` to work. I can only map between types (classes) if I either manually define the mapping with `forMember` or if I initialize the fields in the destination class.

Using:
[code]

Destination and source types:

[code]

Creating mapper
[code]

Using the mapper:

[code]

Basically the destination user

[2021-06-24 13:18] nartc commented on #300
@darwinbeard hm...it might be how the library is packaged for client-side. It is in CJS format atm. Would you be able to make a reproduce repository and share with us?

[2021-06-24 13:28] nartc commented on #307
![image](https://user-images.githubusercontent.com/25516557/123271051-0d7f6d00-d4c6-11eb-96e8-7afbd1376ea9.png)
Make sure to turn on `emitDecorator: true` in `tsconfig`

[2021-06-24 13:42] robsonhermes commented on #307
Thanks a lot for the quick reply, @nartc
This did the trick indeed.

[2021-06-24 13:43] robsonhermes commented on #307
Ops, sorry, I just read now your suggestion for a PR.
Will raise one soon.

[2021-06-25 08:16] darwinbeard commented on #300
@nartc, thanks for the support. I can't share the entire setup.
But I was able to swap `babel-loader` to the `ts-loader`, so I got a lot closer to your setup.
Also, added as you recommended:
[code]

Have you ever seen this error?
![image](https://user-images.githubusercontent.com/18077817/123393179-d6fc2d80-d56b-11eb-8dae-97a4794628df.png)
![image](https://user-images.githubusercontent.com/1807781

[2021-06-25 11:42] nartc commented on #300
Can i see the transformer plugin import?

[2021-06-26 00:45] darwinbeard commented on #300
yes sir,
[code]

[2021-06-26 01:00] nartc commented on #300
That is definitely a default import. For good measure, can you console.log that to see what value that import holds?

[2021-06-26 01:01] darwinbeard commented on #300
For sure,
[code]

[2021-06-26 01:04] nartc commented on #300
try calling the default function there then. I'd need to give this a quick look.

[2021-06-26 05:25] s-triar opened #308 "Extends class makes compiles error when using with nestjs"
Currently, I am working on a project with angular + nestjs/ng-universal.
But right now, I am getting stuck on why this automapper get this error when I create source class and destination class with extends class.

[code]

Here are the module and profiles

app.module.ts
[code]
date-audit-mapper.profile.ts
[code]
user.module.ts
[code]
user-mapper.profile.ts
[code]

[2021-06-26 15:37] micalevisk commented on #308
Hi! which version of `@automapper/*` are you using?

[2021-06-26 18:48] #307 closed

[2021-06-28 04:06] s-triar commented on #308
I am using these:
[code]

[2021-06-28 05:19] darwinbeard commented on #300
Thanks @nartc, that got me going.
I have a base example running 👍

Just wondering if you have some best practices regarding splitting models into different files.

I noticed that I was getting
[code]

[2021-06-28 13:44] nartc commented on #300
that looks like a bug with the TypeScript Transformer API which I think you'd need to provide a reproduce for me to investigate further, unfortunately :(

[2021-06-28 13:44] nartc commented on #308
Taking a look at the end of today. Thanks for reporting

[2021-07-01 17:00] notmedia opened #311 "[Bug] Automap not work as expected when using mikro-orm entities"
Hi! I created a repo to reproduce the bug: https://github.com/notmedia/automapper-mikroorm

For example, I have a `User` entity in `user/user.entity`:

[code]

And the `UserView` in `user/user.view.ts`:

[code]

I expect that if automap decorator is not defined for both sides (entity and view) on prop I should get an object without this prop - this works.

I expect that if automap decorator is not

[2021-07-01 19:05] nartc commented on #311
Can you do me a favor and try replacing `name` with a different key like `fullName` or `userName` and see if the behavior still persists?

[2021-07-01 21:02] notmedia commented on #311
When I changed to:
[code]

it works

But in another project, that unfortunately I can't share it doesn't. If you have any ideas, can you explain what's going on?

[2021-07-01 23:31] notmedia commented on #311
Some updates: with nest watch enabled on my another project build not updated correctly (I don't know why, but it's another story)

And now I think I found the problem (updated the repo to reproduce)

In my Entity class I also have a constructor

[code]

If I comment automap on prop `password` the mapping error didn't occurs, and I am getting the object with `password` field - this is a bug

If I

[2021-07-02 01:49] nartc commented on #311
Might still be an actual bug (or more like weird behavior) but I'll try my best to explain.

The purpose of `AutoMap` is to save the metadata of a certain property on a class. Why? In TypeScript, when you have the following class:

[code]

Doing `new User()` yields `User {}` without any information about its properties (`firstName` and `lastName` in this case). Without decorators, you can adjust y

[2021-07-02 11:27] notmedia commented on #311
Yep, I understood this, thank you for explanation.

Would be grate if we can investigate it and fix it.

[2021-07-02 19:51] nartc commented on #311
@notmedia I've taken a look at the repo and it is really just how JavaScript works really. Since you have those in the constructor, it is really ok to drop `AutoMap`. I cannot **not map** `name` and `password` because they're explicitly assigned in the constructor. I am closing this. Feel free to open a new issue if you run into things that you think is not working properly.
![image](https://user-

[2021-07-02 19:51] #311 closed

[2021-07-02 20:20] nartc commented on #308
Hi @s-triar , this is due to how NestJS Dependency Injection works. Best way to solve this is to move your `DateAuditMapperProfile` to `DateAuditModule`

[code]

and then import `DateAuditModule` in `AppModule`. I'd also suggest move `AutomapperModule` import in front of your modules

[code]

[2021-07-02 20:26] nartc commented on #296
Closing due to inactivit. Please open a new issue if you run into anything.

[2021-07-02 20:26] #296 closed

[2021-07-02 20:47] nartc commented on #287
Fix in 4.2.1
Unmapped keys will only take writable properties.

[2021-07-02 20:47] #287 closed

[2021-07-07 10:42] dpatil-gmcs opened #312 "Create Destination Instance : When No Parameterless Constructor"
How do we create instances of Destination types that offers only parameterized constructors ? Meaning the Destination class has no default constructor, it only supports Parameterized constructor. I need this capability, as we are using AutoMapper (TypeScript version) and the base class does not offer default constructor. Seems like the C# version has **ConstructUsing** etc. options.

[2021-07-07 12:19] nartc commented on #312
Hi @dpatil-gmcs, I’m not familiar with ConvertUsing. Would you be able to provide a code sample of what you’d want to achieve?

[2021-07-08 12:09] dpatil-gmcs commented on #312
@nartc : Here is a C# AutoMapper sample https://dotnetfiddle.net/4JtGqn that uses "ConstructUsing" API to create Destination class instance as it does not support the default parameterless constructor. Wanted to check if NodeJS version of AutoMapper has "ConstructUsing" ability as we need to create an instance of Destination class that does not support the default parameterless constructor.

Hope

[2021-07-08 14:42] nartc commented on #312
@dpatil-gmcs Thank you for providing the example. Although, I still have some questions.

In TypeScript/JavaScript, the `constructor` is always there. To demonstrate the case in the example with AutoMapper TypeScript, here's a snippet:

[code]

Would that be your expected behavior? If not, you'd need to provide another example in NodeJS that I can try to either provide a solution or add a new feat

[2021-07-09 06:49] darwinbeard commented on #300
@nartc, I have my project running other than 1 mapping that has nothing to do with original issue of this ticket.
But I will greatly appreciate if you can help me with the last little thing.

I am trying to describe a `File` as of binary file after user has uploaded it in the form.
[code]

crashes with `Mapping not found for source`. Is there any way to automap those?

[2021-07-09 07:25] rajneeshmith commented on #237
![image](https://user-images.githubusercontent.com/86954820/125039915-a8766a80-e0b4-11eb-956c-2aecd7d4275a.png)

![image](https://user-images.githubusercontent.com/86954820/125039947-b1ffd280-e0b4-11eb-83bd-b10559498a46.png)

![image](https://user-images.githubusercontent.com/86954820/125040019-c3e17580-e0b4-11eb-825a-8c263f67290d.png)

![image](https://user-images.githubusercontent.com/86954820/1

[2021-07-09 11:27] nartc commented on #237
@rajneeshmith hi, can you open a new issue with that info? That seems to be s bug with how to handle instantiation of classes that might have required parameters, rather than Converter

[2021-07-09 11:57] nartc commented on #300
@darwinbeard what are you mapping to/from this logoBlob property?

[2021-07-11 02:21] darwinbeard commented on #300
In simple words, I am trying to upload a logo (png/img file) and have a model that supports it.
When user saves `Profile` page, I send this `logoBlob` with the rest of the profile data to the backend.

Larger example:
[code]

[2021-07-11 11:58] nartc commented on #300
I never try mapping a file since it’s not common to do so (transforming a file?) but if you want to map it, I’d suggest to use manual configuration with forMember() and drop the @AutoMap off of logoBlob/logo_blob completely.

[2021-07-15 13:41] notmedia opened #313 "Bump peerDeps for nestjs package"
Hi, nest released v8, can you bump it in peer deps?

[2021-07-16 18:21] jbeckton opened #314 "Nest can't resolve dependencies of the SectionsProfile (?)"
Not sure why I am seeing this issue. I am using NestJs 8.

I have two modules AppModule and SectionsModule.

AppModule imports AutoMapperModule.forRoot() & SectionsModule.
SectionsModule imports AutoMapperModule and provides SectionsProfile.

When I try and start my app it fails. Any ideas as to why?

`export class SectionsProfile extends AutomapperProfile  {

  constructor(@InjectMapper() mapper:

[2021-07-16 18:42] micalevisk commented on #314
Hi! this snippet looks fine. Can you share the error message?

Also, the app works with Nest v7?

[2021-07-16 19:01] jbeckton commented on #314
I upgraded to Nest v8 before installing Automapper. Should I try Nest v7?

`[Nest] 31452  - 07/16/2021, 12:50:47 PM   ERROR [ExceptionHandler] Nest can't resolve dependencies of the SectionsProfile (?). Please make sure that the argument automapper:nestjs:default at index [0] is available in the SectionsModule context.

Potential solutions:
- If automapper:nestjs:default is a provider, is it part

[2021-07-16 19:09] micalevisk commented on #314
Please.

But I think I know what's going on. I'd say that `@automapper/nestjs@4.2.2` is not compatible with nest v8.

[2021-07-16 19:16] nartc commented on #314
automapper/nestjs has not been upgraded to use with v8. I'll do that over the weekend. The error seems straightforward, the `AutoMapperModule` should have the Mapper provided so it could be a bug here. I'll investigate further. Not being able to use v8 is not good at all.

[2021-07-16 19:33] jbeckton commented on #314
ok so I downgraded to Nest v7 and got the same error. Then I changed the constructor on my Profile class to include the mapper name and now the app will run. Maybe it does work with v8 but the Profile constructor needed more info?

`export class SectionsProfile extends AutomapperProfile  {

  constructor(@InjectMapper('section') mapper: Mapper) {
    super(mapper);
  }

  public mapProfile(): Mapp

[2021-07-16 19:45] jbeckton commented on #314
ok so I upgraded back to Nest v8 and it still works.

I think the issue may just be with the documentation, I just started using AutoMapper and it was not clear to me that when using...

`AutomapperModule.forRoot({
      options: [{ name: 'section', pluginInitializer: classes }],
      singular: false,
    }),`

that the Profile class constructor needed the additional info.

`@Injectable()
export

[2021-07-16 19:53] nartc commented on #314
https://automapperts.netlify.app/docs/nestjs#singular I would love to hear suggestions for this. I'm not a native speaker so my explanation might be confusing. You want to submit a PR to adjust the docs? And I assume you solved the issues?

[2021-07-16 20:15] micalevisk commented on #314
The comment lines on this snippet taken from the docs is pretty clear to me. Did you read this part @jbeckton?

[code]

---

but maybe it could be more explicit, like this:

[code]

[2021-07-16 20:20] nartc commented on #314
@micalevisk ah that could help. Also emojis like 👇 / 👆 can also help in these cases.

[2021-07-16 20:56] jbeckton commented on #314
@micalevisk I did see that part of the docs, But when I was implementing the Profile I was using this page. https://automapperts.netlify.app/docs/nestjs#profile

so I guess the previous slipped my mind.

Likely AutoMapper is unable to influence the Nest DI error to be more descriptive so it might be a better recommendation to always use the profile name in the injector?

[2021-07-16 22:33] jbeckton opened #315 "Are two way mappings always required? Will fields in the data that are not configured in the mapping cause errors?"
I have a mapping defined...

[code]

and I call the mapping like...

[code]

and then get an error that the reverse of this mapping is not found

[code]

[code]

[code]

Data

[code]

[2021-07-16 22:45] micalevisk commented on #315
They aren't required.

The error says that `SectionDto` is the source of the mapping, not the destination like you want to. You should change the order below

[code]
to
[code]

I know is somewhat weirde to read that from left to right :p

[2021-07-16 22:58] jbeckton commented on #315
Is there a technical reason why it has to be backwards or was that a design decision? Every automapper I have ever used works the same way source -> destination.

[2021-07-16 23:01] jbeckton commented on #315
So it looks like when you create a mapping its source -> destination and when you use it it's destination -> source?

[2021-07-16 23:09] micalevisk commented on #315
exactly.

Only @nartc could answer this one.

[2021-07-17 01:42] nartc commented on #314
@jbeckton That’d be very repetitive to do since InjectMapper is probably injected in a lot of places. That said, I’ll make it clearer in the docs. Thanks again for reporting

[2021-07-17 01:42] #314 closed

[2021-07-17 01:50] nartc commented on #315
@jbeckton That is a remnant of the previous version of this library.

In the beginning, this library only works with Classes (ES6 classes). The API of `Mapper#map` was:

[code]

The API assumes `sourceObject` to be an **instance** of `SourceClass` hence it isn’t required to pass in `SourceClass`. But it wasn’t the case at all, TypeScript can be tricked easily with Type Assertion (`as SourceClass`)

[2021-07-17 01:50] #315 closed

[2021-07-17 08:52] rajneeshmith commented on #229
This is still reproduceable in `@automapper/core": "4.2.2"`

[2021-07-17 16:31] huybn5776 opened #316 "Skip undefine destination value when map mutate"
For PATCH api, I only want to take the not null/undefined field from source to destination but not update all missing fields to undefined.

[code]

This may implementation by add an `predicateFn` to `setMember()` of the `map.ts`, and add an option to enable this feature.
[code]

I know this may be an unreasonable feature for AutoMapper, that it should map all fields from source to destination, but

[2021-07-17 21:15] nartc commented on #316
Hi, thanks for reporting the issue. That seems like a bug for sure. And it seems like this is only applicable to `mapMutate` which means a `predicateFn` isn't necessarily needed in this case. We can adjust this directly for `mapMutate` https://github.com/nartc/mapper/blob/main/packages/core/src/lib/map/map.ts#L173 to check `destinationFieldValue` before running `setMutate()`.

[code]

Does it make

[2021-07-18 02:00] huybn5776 commented on #316
Is that a bug? I tried .NET version of AutoMapper and it give me the same result, that is mapping null value to destination.

If that is really an bug, then we can directly modify the behavior without add option to enable it. I will take over this part and make a PR.

[2021-07-18 02:21] nartc commented on #316
@huybn5776 I've never used map mutably in .NET before so I'm not aware of its behavior. If that's the case, what would you do in .NET?

[2021-07-18 02:49] huybn5776 commented on #316
Still for PATCH request, this is the behavior of .NET version of AutoMapper.
[code]
In order to patch value, i write another method on my c# project to do this without using AutoMapper because it's hard to find out how to only patch non-null property when mapping with AutoMapper.

And for js version of AutoMapper, i think we can make it better without to do some workaround when someone need it.

[2021-07-18 02:55] nartc commented on #316
@huybn5776 Yes. I think the proposed solution up there would be good to have as a default aka to ignore the value if the value is falsy. In the future, if other devs need to configure that, we can always add an option later. Please feel free to go ahead and submit a PR if you can. Thank you!

[2021-07-18 16:48] huybn5776 commented on #316
@nartc Did you expected to also apply patch for nested object?

[code]

[2021-07-18 17:08] nartc commented on #316
![image](https://user-images.githubusercontent.com/25516557/126076043-cb445b48-d2a7-466c-81a7-aac9859fe0a0.png)
I guess we need to consider this for nested object as well.

[2021-07-19 13:29] nartc commented on #313
@notmedia Trying to get #318 in before I cut a new release that have nestjs bump. FYI, it's working greay

[2021-07-19 13:31] notmedia commented on #313
@nartc yeeeah, great 🚀

[2021-07-19 23:14] notmedia opened #319 "[feature] Custom Constructors"
Hi, when I have `book` in constructor I'm getting an error
[code]

error:
[code]

If I create constructor like this, it works:
[code]

Another hack is create method like setBook and remove book init inside constructor - it also works.

But I think, that it's not a good idea, I want to control this inside my constructor.

[2021-07-19 23:15] notmedia commented on #319
Maybe whe can pass with AutoMap decorator property like `ignore`?

[2021-07-19 23:23] notmedia commented on #319
I think this related to https://github.com/nartc/mapper/issues/311

[2021-07-19 23:39] nartc commented on #319
Can you provide a sample reproduce with MikroORM?

[2021-07-19 23:40] notmedia commented on #319
No problem, I'll do it tomorrow)

[2021-07-20 12:40] notmedia commented on #319
@nartc created sample to reproduce - https://github.com/notmedia/automapper-mikroorm/blob/main/src/user/user.entity.ts

[2021-07-20 21:32] grahamcrackers opened #320 "customClasses plugin example from documentation not working"
I was trying to implement the customClasses extension of the plugin but [the example in the documentation](https://automapperts.netlify.app/docs/plugins-system/extend-plugin) doesn't work (with typescript at least). I thought I was typing it incorrectly and eventually came across this error once the type errors were solved.
[code]

The correct way to extend the plugin is [here in the tests file](h

[2021-07-20 21:44] micalevisk commented on #320
Hi! you're right!

I'm pretty sure that you can go ahead.

[2021-07-22 02:01] #316 closed

[2021-07-22 02:04] nartc commented on #320
@grahamcrackers Thank you for pointing that out. Since I wrote that in the docs, I literally didn't test it so it's fully my fault.

For the snippet, the one you provided would work fine. However, we can leverage the correct syntax of `bind()`

[code]

We can also drop the `!` non null assertion since it will be confusing if leave in the docs.

[2021-07-22 02:53] #313 closed

[2021-07-22 02:53] #320 closed

[2021-07-22 03:08] nartc commented on #319
Thank you. I'll take a look tomorrow

[2021-07-22 10:50] notmedia commented on #313
@nartc I see you bumped nest packages in devDeps, but in peerDeps there are still ^7.0.0 versions

[2021-07-22 12:55] nartc commented on #313
@notmedia well there goes my fast finger again. Releaseing 5.0.1 to bump the peerDeps :( sorry for the inconvenience

[2021-07-23 15:29] HurricaneDancer opened #322 "Mapping properties with different names and types"
I have an entity called Character, and a CharacterDTO. The Character entity has a property called character_skill which is an array of skills that the character has. The dto property is called "skills". However, using the @AutoMapper() decorator on those properties does not help, and mapFrom when creating a mapper using forMember throws a type error.

Either this is a bug, or I am doing something

[2021-07-23 15:57] nartc commented on #322
Hi @HurricaneDancer , thank you for reporting. Can you share your models and the mapping config you currently have? You mentioned a type error with `forMember()`, what's the error?

[2021-07-23 16:03] HurricaneDancer commented on #322
This is the [codesandbox](https://codesandbox.io/s/priceless-mahavira-ttwlm?file=/src/index.ts:1121-1142)

[2021-07-23 16:15] nartc commented on #322
Thank you. I'm going to copy the models here to continue the discussion

[code]

and your profile

[code]

There are a couple of problems that you run into:
1. You didn't create a mapping for `SkillEntityTest, SkillDTOTest`.
2. `character_skill` and `skills` do not really share anything in common in terms of property name. I mean, AutoMapper cannot deduce that `skills` will be mapped from `charact

[2021-07-23 16:21] HurricaneDancer commented on #322
it definitely does, thank you!

[2021-07-23 16:23] nartc commented on #322
Great. Lemme know if you have any questions. Otherwise, can we close this issue?

[2021-07-23 16:31] HurricaneDancer commented on #322
All good for now :)

[2021-07-23 16:32] #322 closed

[2021-07-26 12:12] HurricaneDancer opened #323 "Default type conversions"
**Is your feature request related to a problem? Please describe.**
I am finding myself having to specifically create a convertUsing mapper for a Date object. It would be really nice if there were defaults for converters.

**Describe the solution you'd like**
probably a defaultConverters object in the mapper options keyed by type (string, date, number etc)

**Describe alternatives you've considered

[2021-07-26 12:45] HurricaneDancer commented on #323
I also wanted to add that when adding a convertUsing configuration, providing the source value does not have intellisense.

[2021-07-27 09:32] huybn5776 opened #324 "Nested array property doesn't get currect element type when mapping"
For example, if user have profile and multiple jobs, and both add `@AutoMap` decorator without `typeFn`.
[code]

And AutoMapper will throw exception, that mean [it can't found the mapping from `undefined` to `undefined`](https://github.com/nartc/mapper/blob/05344d9b1ebe36b331a7486f8178f3358a935679/packages/classes/src/lib/classes.ts#L104)
[code]

We can resolve this issue by adding `typeFn` to `jo

[2021-07-30 07:45] HurricaneDancer commented on #323
bump

[2021-07-30 08:22] huybn5776 commented on #323
@HurricaneDancer How about try to implement this feature yourself and create am PR?

[2021-07-30 09:10] nartc commented on #323
@HurricaneDancer I am currently on vacation. I'll take a look as soon as I'm back.

[2021-07-30 12:05] abouroubi opened #325 "Cannot set property fullName of #<User> which has only a getter"
**Describe the bug**
I have a getter in my model class, and when I try to map from my Model to my DTO, I have the error : `Cannot set property fullName of #<User> which has only a getter`

**Models/DTOs**
Model:
[code]

DTO:
[code]

**Mapping Configuration**
[code]

I don't understand why it's trying to set fullName, event if it's not annotated with `@AutoMap`, and also it's the source object.

[2021-07-30 14:02] huybn5776 commented on #325
Have you tired with the tests under this repo? I add `get fullName()` to [`User`](https://github.com/nartc/mapper/blob/main/packages/integration-test/src/lib/with-classes/fixtures/models/user.ts) class, and it pass all tests without any exception.
[code]

Another way to debug it is clone this repo and let your project install package with local project via `file:` like `"@automapper/classes": "fil

[2021-07-30 17:08] abouroubi commented on #325
The repo is on version 5, but I'm using version 4.2.2 because I'm still on nestjs 7

[2021-07-31 19:59] nartc commented on #324
Yes, this is a Reflect limitation. You'd have to provide a `typeFn` for Array properties, even if those properties are primitive array. Would you like to submit a PR to update the docs?

[2021-07-31 20:01] nartc commented on #323
@HurricaneDancer so you would like to see a pre-defined converters exported from AutoMapper? Would you be able to provide a list of what you'd like to see?

[2021-07-31 20:12] HurricaneDancer commented on #323
@nartc not pre defined ones, but the ability to configure default converters by type. So if I have a Date type, I would want to make a converter that returns Date.valueOf. Then automappers default behavior for the date type is to convert it to the valueOf. Hopefully that makes sense

[2021-07-31 20:48] notmedia commented on #319
@nartc Hi, any news?

[2021-08-01 00:33] nartc commented on #323
@HurricaneDancer Like TypeConverter from .NET AutoMapper? That one is going to be hard 😝 mainly because of TypeScript Reflection capability. But I'll think about it, at least for primitive types like `String`, `Number`, `Boolean`, and `Date`

[2021-08-01 00:34] nartc commented on #319
@notmedia Sorry for the delay. I have just got back from vacation. I'll take a look at the issue sometimes next week

[2021-08-01 01:34] nartc commented on #325
@abouroubi are you able to provide a reproduce? I have added a getter here in my `User` model in this repo (https://github.com/nartc/ng-mapper-bench/blob/master/src/app/models/models.ts#L20) and everything still works.

[2021-08-01 01:47] nartc commented on #312
Closing due to inactivity. Please create a new issue if you still have question

[2021-08-01 01:47] #312 closed

[2021-08-01 01:48] nartc commented on #308
Closing due to inactivity. Please open a new issue if you still have questions.

[2021-08-01 01:48] #308 closed

[2021-08-01 01:48] nartc commented on #300
Closing due to inactivity. Please open a new issue if you still have questions.

[2021-08-01 01:48] #300 closed

[2021-08-01 07:06] huybn5776 commented on #324
PR submitted. #326
Please help me to check if there is any "Syntax Error" of english ;)

[2021-08-01 15:03] #324 closed

[2021-08-01 15:17] nartc commented on #324
@huybn5776 https://github.com/nartc/mapper/runs/3214245186?check_suite_focus=true can you fix this build issue?

[2021-08-01 15:29] huybn5776 commented on #324
#327

[2021-08-02 01:49] nartc commented on #323
@HurricaneDancer give v6.0.0 a try. Documentations are here https://automapperts.netlify.app/docs/mapping-configuration/custom-type-converter
type converters are still pretty rudimentary so expect bugs.

[2021-08-02 01:50] #323 closed

[2021-08-02 14:04] abouroubi commented on #325
I checked your repo and it works indeed.

I tried to debug my version and the issue appears here: https://github.com/nartc/mapper/blob/f765bb4877dc03a2b102f6be6f0927d0aad013a4/packages/classes/src/lib/utils/instantiate.util.ts#L31-L33

it's the `Object.assign(new model(), defaultValue)` that raises the exception.

Out of curiosity why the source needs to be instantiated again in the mapping proces

[2021-08-02 14:32] nartc commented on #325
@abouroubi Since AutoMapper needs to make sure all the nested models are instantiated with the saved metadata, and it also needs to make sure that the `instance` is truly an instance and not a plain object (TypeScript can be tricked). With that said, this could be an overlook as well so if you could provide a reproduce, I can dig deeper and make decision regarding the `instantiate` method.

[2021-08-02 15:19] abouroubi commented on #325
I found the error, I was trying to map my User that I got from mongoose, and with the default behavior virtuals are set to true, so when I call `mongooseUser.toJSON()` the getters are inlined as properties, and when `Object.assing` tries to copy a property into a getter the error arise.

I disabled virtuals, and everything is working now.

[2021-08-02 15:23] nartc commented on #325
@abouroubi oh nice, glad that you found the cause. Though, do you think that it's a common use-case for Mongoose that AutoMapper should be aware about? Should we put something in the documentations regarding this?

[2021-08-02 15:34] abouroubi commented on #325
That's a good question, I'm not aware of the popularity of mongoose among automapper user base, maybe this case can be added to a common issues section, or maybe just having it here as an issue in Github is enough.

P.S: Maybe virtuals are not set to true by default, to be honest I started from your blog post (https://nartc.me/blog/nestjs-typegoose), as a base for all my repositories, without know

[2021-08-02 15:47] nartc commented on #325
Oh I didn't know that. So you're saying if your model is:

[code]

if I query for this `User` from MongoDB and then run `toJSON()` with `virtuals: true`, I'd see

[code]
as the result?

[2021-08-02 17:06] abouroubi commented on #325
Yes that's what I've got

[2021-08-02 17:14] nartc commented on #325
@abouroubi what we can do is to check for writable on the property name in instantiate() to escape assigning for that property. However, one concern I have is instantiate is invoked quite often as it is essential for mapping operations, not sure if it's worth it to add additional checks in instantiate()

[2021-08-02 18:26] nartc commented on #319
@notmedia This is a limitation atm. AutoMapper does not support custom constructor right now (https://github.com/nartc/mapper/blob/f765bb4877dc03a2b102f6be6f0927d0aad013a4/packages/classes/src/lib/utils/instantiate.util.ts#L31). There are a couple of concerns

- If there was an API to customize the constructors, and if the constructors accept arguments, when and how do the consumers provide the ar

[2021-08-02 18:28] andzno1 commented on #319
I think I have the same problem when trying to create a mapping for an external class (that I don't have control over) as source that doesn't have a default constructor:

[code]

When I try to create a mapping with `Foo` as source I am getting the error

Minimal working example: https://stackblitz.com/edit/nartc-mapper-issue-319?file=index.ts

[2021-08-02 18:35] andzno1 commented on #319
@nartc Could something like this be done, similar to your proposal?
https://docs.automapper.org/en/stable/Queryable-Extensions.html?highlight=ConstructUsing#custom-destination-type-constructors

[2021-08-02 18:54] nartc commented on #319
@andzno1 I think it could work but the public API needs to be easy to use. Now, let's analyze the example from .NET AutoMapper

[code]

This custom `Dest` constructor is customized with value from `Source` upon mapping. Where does `boppedy` come from in your case? from `Source` or from somewhere else? It is messy to come up with a clean API for custom constructors with arbitrary customization (arg

[2021-08-02 18:58] nartc commented on #319
Another workaround would be to have `map()` (and other map methods) to accept constructor arguments
[code]

[2021-08-03 13:53] abouroubi commented on #325
I think it's too much overhead, maybe just adding it to the doc is enough.
Or the best solution is to have a dedicated module like sequelize plugin.

[2021-08-03 16:59] #325 closed

[2021-08-17 07:26] llecorguille opened #332 "Sequelize Typescript - Cannot map from DTO to sequelize model"
**Describe the bug**
Hello,

I am building an API using typescript, express, sequelize and automapper.
When i try to create a map from UserDto to User, the typescript compiler output an error.
[code]

**Models/DTOs**
[code]

**Mapping Configuration**

[code]

Here is the line where the compilation error occured

`
test.createMap(UserVm, User);
`

Here is my package.json

[code]

Any ideas ?
Thanks

[2021-08-17 14:50] huybn5776 commented on #332
Seems like AutoMapper require a contractor with no args
`new (...args: unknown[]) => User`
but not
`new (values?: User | undefined, options?: BuildOptions | undefined) `

You may need to convert your db model `class User extends Model<User>` to `User` first.

[2021-08-17 15:49] huybn5776 commented on #332
Seems like it only happen when `strictFunctionTypes` is set to `true`(or `strict:true`) in tsconfig.
And it can resolve by replace all `new (...args: unknown[])`  to `new (...args: any[])` in AutoMapper, or create a `type Constructor<TModel> = new (...args: any[]) => TModel;` to do it.
But i can't make sure this will cause any side effects or not. @nartc

[2021-08-17 16:28] nartc commented on #332
Sequelize changes the shape of the model so it's been on hiatus for quite a while :( I don't personally work with Sequelize so I really don't have neither the motivation nor the knowledge to create a working plugin for sequelize. Anyone want to help? I'm happy to guide you how to create a plugin in AutoMapper.

[2021-08-17 16:28] nartc commented on #332
Related: #268

[2021-08-18 08:08] llecorguille commented on #332
I managed to fix the compilator error by creating a constructor in a generic BaseModel class which extends sequelize's Model.

BaseModel.ts
`@Table
export class BaseModel<T> extends Model<T> {
    @AutoMap()
    @PrimaryKey
    @AutoIncrement
    @Column
    id!: number

    @AutoMap()
    @CreatedAt
    @Column
    createdAt!: Date

    @AutoMap()
    @Column
    updatedAt!: Date

    constructor

[2021-08-18 13:09] llecorguille opened #333 "mapAsync : Instructions executed in the wrong order"
**Describe the bug**
Hello everyone,
I am struggling with the mapAsync function.
I am trying to map a sync source to a async destination
The mapAsync function is not waiting the afterMap function to complete before resolving the promise.

**Models/DTOs**

I want to map a "IdOnlyDto" class to a "Dalle" class.
The Dalle class is a sequelize model.

[code]

[code]

**Mapping Configuration**

[code]

[2021-08-18 13:15] llecorguille commented on #333
Is it related to the "fake async" support ? ([docs](https://automapper.netlify.app/docs/introduction/async))

[2021-08-18 14:41] nartc commented on #333
Fake async is using `Promise.resolve()` to schedule the task as a microtask, which should work correctly. I'll look into this. Thanks!

[2021-08-19 21:06] andzno1 opened #334 "Bidirectional mapping with getter & setter"
**Describe the bug**
This issue is related to issue #51.

I am not sure if the behavior I am expecting is actually the expected behavior. Looking at issue #51 lets me believe that it is.

When mapping an instance of a class `Foo` with a private property `_foo` that is being accessed via getter and setter to class `FooDto` that has a simple property `foo`, the mapping is done correctly. Mapping bac

[2021-08-22 16:02] #334 closed

[2021-08-22 16:03] nartc commented on #333
Well, turns out this has never worked correctly. I'll be investigating this further. But it's gonna be slow as I'm a bit busy these days.

[2021-08-22 16:03] #332 closed

[2021-08-23 11:36] turbosheep44 opened #335 "Flatten model without named prefix."
## Problem

I would like to be able to flatten a model without the need for the destination model to have every attribute prefixed.

## Example

Lets assume I have the following entities:
[code]

And I want to map a `CartItem` to the following DTO:

[code]

As far as i can tell, there is no way to do this at the moment. The only option is to call the fields in `CartItemDto` `itemName` and `itemPri

[2021-08-23 13:37] nartc commented on #335
Hi @turbosheep44,

First of all, thank you for opening the issue. Much appreciated.

Secondly, I do understand where you're coming from but I think what you're proposing will add unnecessary complexity to the library. And it might be _weird_ to use. Let me explain

[code]

Assuming there's already a feature in AutoMapper to do what you're proposing, all is well with your initial models

[code]

Ho

[2021-08-23 17:20] nartc commented on #334
This has been fixed in 6.0.2

[2021-08-24 10:27] turbosheep44 commented on #335
Hi @nartc,

You actually described my real world use case quite aptly. The `Item` does have fields which I don't want in the DTO.

[code]

Then, when I call the mapper to perform the mapping, I expect it to *create a `CartItemDTO` from the given `CartItem`*. If the `CartItem` has extra fields which don't have a place to go in `CartItemDTO`, that's fine.

In fact, the mapper doesn't give an error o

[2021-08-24 13:26] nartc commented on #335
@turbosheep44 ,

I understand the verbosity and boilerplatey of using `forMember` explicitly. When I worked on a .NET project in the past, I saw a lot of boilerplate from Mapping Configuration as well, and I think that it is by design.

Now on to `mapWith`, the idea of `mapWith` is: "_for this **property** on the destination, please use these models and that **property** on the source to map it wi

[2021-08-25 14:28] turbosheep44 commented on #335
@nartc

Although the .NET boilerplate for mapping configuration may be intentional, personally I have always found that less boilerplate it better. I guess that's the reason I am not a fan of explicitly using `forMember` for every element. :stuck_out_tongue:

I agree with you that mapping multiple members with a call to `forMember` does cause a problem for readability and I think a new method woul

[2021-08-25 15:07] nartc commented on #335
@turbosheep44 I like `forParent`, great suggestion. Thank you. I guess it's time to start planning for this feature :)

[2021-08-30 01:19] ehaynes99 opened #337 "Support for Nest 7?"
In https://github.com/nartc/mapper/issues/313 (https://github.com/nartc/mapper/commit/11fbc5cc3a4838792920874a956bad9ebc4eaec9), the `peerDependencies` were updated to Nest 8. Was there a particular need to disallow Nest 7, or was this just adding support for 8? We have a large number of projects, so haven't gotten around to the nest upgrade yet. Would you consider allowing both versions?

[code]

[2021-08-30 12:12] nartc commented on #337
Hey @ehaynes99 , yes, that'd be fine.

[2021-08-30 12:15] nartc commented on #337
v6.1.2 is being released :) Thank you

[2021-08-30 12:15] #337 closed

[2021-08-30 12:15] #335 closed

[2021-08-30 13:08] turbosheep44 opened #340 "`forSelf` maps properties from source which do not exist on the destination object."
**Describe the bug**
When using `forSelf`, properties on the source model are mapped to the destination, even when the destination does not have those properties.

**Failing Test**
I've modified the test at `packages/integration-test/src/lib/with-classes/map-self.spec.ts` to show the behaviour.

[code]

**Expected behavior**
The resulting `cartItem` should not have a `stock` attribute.

[2021-08-30 13:09] turbosheep44 commented on #335
@nartc  I just got around to using this on my own project and I've found some unexpected behavior. I've opened #340 showcasing this problem. :smile:

[2021-08-30 13:40] nartc commented on #340
Thanks for reporting. I thought of this case when I first worked on the feature but for some reason, after a couple of iterations, I forgot. Thank you! Though, I am on vacation so PR is welcomed.

[2021-08-30 14:34] nartc commented on #340
@turbosheep44 please check out 6.1.3 when you are available

[2021-08-30 14:34] #340 closed

[2021-09-17 14:08] micalevisk opened #346 "'No overload matches' TS error when typing casting `extraArguments` of `Mapper#map` options"
I'm trying enforcing `extraArguments` value using the `<>` operator:

[code]

but I'm getting this typescript error:

[code]
in `node_modules/@automapper/types/src/core.d.ts:71:5`

I'm not sure if this a limitation due to how TS works or just something missing in AutoMapper itself.

My goal is to gain autocompletion while writing the literal object `extraArguments` (not using a variable)

---

btw

[2021-09-17 14:13] micalevisk commented on #346
Looks like this is something to how TS works. If I do the following, it works. Thus maybe AutoMapper don't need to change anything, but I could be wrong.

[code]

[2021-09-17 15:05] nartc commented on #346
![image](https://user-images.githubusercontent.com/25516557/133802425-c737607f-3eca-4b78-a673-796494e0fe90.png)
This is because `extraArguments` type is fixed to `Record<string, unknown>`. Depending on the strict options of your tsconfig, it might or might not work at all.

One thing that we can do from AutoMapper side of things is to have this:

[code]

[2021-09-17 19:51] micalevisk commented on #346
but since the constraint `extends Record<string, unknown>` is still there, we'll get this error when using interfaces:

[code]

From your knowledge regarding TS and AutoMapper's codebase, is it too bad if you change `Record<string, unknown>` to `Record<string, any>`?

---

btw this issue is related to this one from TS repo: https://github.com/microsoft/TypeScript/issues/15300

[2021-09-18 01:09] nartc commented on #346
@micalevisk no if `Record<string, unknown>` does not work, feel free to use `Record<string, any>`. I'd like to get rid of all the any's but probably it's for later :D

[2021-09-18 02:34] #346 closed

[2021-09-19 08:17] daramasala commented on #319
I just started using automapper and bumped into a similar problem.

[code]

In my case, the source model has a custom constructor. The destination has a default constructor.

I am not sure why the classes plugin creates an instance of the source when creating the mapping. Maybe for reflecting the metadata?

If this is the case maybe internally the mapping could be created lazily on the first time

[2021-09-19 11:39] rajneeshmith opened #348 "Unmapped properties should also print source and destination class name"
**Is your feature request related to a problem? Please describe.**
Under a project where mapper is being used for multiple class model mappings, current unmapped properties console error output is not sufficient.

Instead of this

[code]

It will be helpful if something similar to this can be logged

[code]

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**